<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1332.94 982.84">
  <g>
    <g opacity="0.07">
      <circle fill="#3dbbec" cx="684.49" cy="470.34" r="8.39" transform="translate(-8.11 928.65) rotate(-67.99)" />
      <circle fill="#3dbbec" cx="709.94" cy="444.88" r="8.58" />
      <circle fill="#3dbbec" cx="720.26" cy="474.37" r="9.38" />
      <path fill="#3dbbec" d="M709.71,494.75a8.58,8.58,0,1,0,0,12.14A8.58,8.58,0,0,0,709.71,494.75Z" />
      <path fill="#3dbbec" d="M667.23,499A7.59,7.59,0,1,0,678,499,7.59,7.59,0,0,0,667.23,499Z" />
      <circle fill="#3dbbec" cx="650.51" cy="482.23" r="8.69" transform="translate(-23.12 32.86) rotate(-2.84)" />
      <path fill="#3dbbec" d="M647.93,445.11a8.59,8.59,0,1,0,12.15,0A8.59,8.59,0,0,0,647.93,445.11Z" />
      <path fill="#3dbbec" d="M674.39,428.49a8.58,8.58,0,1,0,12.14,0A8.57,8.57,0,0,0,674.39,428.49Z" />
      <path fill="#3dbbec" d="M729.61,413.64a8.18,8.18,0,1,0,11.58,0A8.17,8.17,0,0,0,729.61,413.64Z" />
      <path fill="#3dbbec" d="M759.65,453.76a10.18,10.18,0,1,0-14.4,0A10.19,10.19,0,0,0,759.65,453.76Z" />
      <circle fill="#3dbbec" cx="756.03" cy="478.4" r="11.18" />
      <path fill="#3dbbec" d="M752.16,501.94a9.48,9.48,0,1,0,0,13.41A9.47,9.47,0,0,0,752.16,501.94Z" />
      <path fill="#3dbbec" d="M728.93,537.44a8.68,8.68,0,1,0-12.28,0A8.68,8.68,0,0,0,728.93,537.44Z" />
      <circle fill="#3dbbec" cx="692.55" cy="541.88" r="7.59" transform="translate(-180.33 648.42) rotate(-45)" />
      <circle fill="#3dbbec" cx="660.71" cy="538.3" r="7.59" transform="translate(-187.12 624.85) rotate(-45)" />
      <circle fill="#3dbbec" cx="633.58" cy="521.25" r="8.59" />
      <circle fill="#3dbbec" cx="616.53" cy="494.12" r="8.69" transform="translate(-2.16 2.71) rotate(-0.25)" />
      <path fill="#3dbbec" d="M619,468.35a8.59,8.59,0,1,0-12.14,0A8.6,8.6,0,0,0,619,468.35Z" />
      <circle fill="#3dbbec" cx="623.52" cy="432.03" r="8.58" transform="translate(188.79 1053.67) rotate(-89.75)" />
      <circle fill="#3dbbec" cx="646.18" cy="409.37" r="8.09" transform="translate(-41.5 744.39) rotate(-58.33)" />
      <path fill="#3dbbec" d="M670.64,393a8.18,8.18,0,1,0,11.57,0A8.18,8.18,0,0,0,670.64,393Z" />
      <path fill="#3dbbec" d="M714.06,396.59a8.19,8.19,0,1,0,0,11.58A8.18,8.18,0,0,0,714.06,396.59Z" />
      <circle fill="#3dbbec" cx="760.85" cy="393.97" r="8.58" />
      <path fill="#3dbbec" d="M772.49,427.35a10.58,10.58,0,1,0,0-15A10.56,10.56,0,0,0,772.49,427.35Z" />
      <path fill="#3dbbec" d="M782.28,458.59a11.78,11.78,0,1,0,0-16.66A11.77,11.77,0,0,0,782.28,458.59Z" />
      <circle fill="#3dbbec" cx="791.81" cy="482.43" r="11.18" transform="translate(-109.21 701.19) rotate(-45)" />
      <circle fill="#3dbbec" cx="783.48" cy="513.52" r="9.38" transform="translate(4.74 1034.21) rotate(-67.01)" />
      <path fill="#3dbbec" d="M773,547.42a9.38,9.38,0,1,0-13.27,0A9.37,9.37,0,0,0,773,547.42Z" />
      <path fill="#3dbbec" d="M748,555.71a8.58,8.58,0,1,0,0,12.14A8.59,8.59,0,0,0,748,555.71Z" />
      <path fill="#3dbbec" d="M717.8,569.29a7.58,7.58,0,1,0,0,10.73A7.59,7.59,0,0,0,717.8,569.29Z" />
      <path fill="#3dbbec" d="M684.61,582.43a5.89,5.89,0,1,0-8.33,0A5.89,5.89,0,0,0,684.61,582.43Z" />
      <path fill="#3dbbec" d="M644.65,576.44a5.89,5.89,0,1,0,0-8.33A5.89,5.89,0,0,0,644.65,576.44Z" />
      <path fill="#3dbbec" d="M624.8,552.79a6.29,6.29,0,1,0,0,8.89A6.28,6.28,0,0,0,624.8,552.79Z" />
      <path fill="#3dbbec" d="M591.52,540.54a8.58,8.58,0,1,0,0-12.14A8.59,8.59,0,0,0,591.52,540.54Z" />
      <circle fill="#3dbbec" cx="582.55" cy="506.01" r="8.69" transform="translate(-2.21 2.56) rotate(-0.25)" />
      <path fill="#3dbbec" d="M583.48,481.29a9.78,9.78,0,1,0-13.83,0A9.78,9.78,0,0,0,583.48,481.29Z" />
      <circle fill="#3dbbec" cx="580.17" cy="442.38" r="9.38" />
      <circle fill="#3dbbec" cx="593.04" cy="412.88" r="9.38" transform="translate(-89.6 649.88) rotate(-53.99)" />
      <path fill="#3dbbec" d="M608,382.4a8.59,8.59,0,1,0,12.14,0A8.6,8.6,0,0,0,608,382.4Z" />
      <path fill="#3dbbec" d="M635.58,365.63a8.09,8.09,0,1,0,11.44,0A8.09,8.09,0,0,0,635.58,365.63Z" />
      <circle fill="#3dbbec" cx="672.39" cy="363.02" r="7.59" transform="translate(-16.14 694.4) rotate(-54.06)" />
      <path fill="#3dbbec" d="M698.85,358.5a8.09,8.09,0,1,0,11.43,0A8.09,8.09,0,0,0,698.85,358.5Z" />
      <path fill="#3dbbec" d="M728.88,380.92a8.58,8.58,0,1,0,0-12.14A8.57,8.57,0,0,0,728.88,380.92Z" />
      <path fill="#3dbbec" d="M791.89,362.94a7.89,7.89,0,1,0,0,11.15A7.89,7.89,0,0,0,791.89,362.94Z" />
      <circle fill="#3dbbec" cx="806.42" cy="393.72" r="9.38" transform="matrix(0.92, -0.38, 0.38, 0.92, -89.41, 340.69)" />
      <path fill="#3dbbec" d="M827.89,430.26a10.59,10.59,0,1,0-15,0A10.59,10.59,0,0,0,827.89,430.26Z" />
      <circle fill="#3dbbec" cx="827.58" cy="454.21" r="12.48" transform="translate(97.42 1052.6) rotate(-68.1)" />
      <path fill="#3dbbec" d="M818.33,477.21a13.08,13.08,0,1,0,18.5,0A13.1,13.1,0,0,0,818.33,477.21Z" />
      <path fill="#3dbbec" d="M812.36,525.94a11.38,11.38,0,1,0,0-16.09A11.36,11.36,0,0,0,812.36,525.94Z" />
      <circle fill="#3dbbec" cx="806.42" cy="546.95" r="9.98" transform="translate(-91.89 924.44) rotate(-56.94)" />
      <circle fill="#3dbbec" cx="786.31" cy="572.16" r="8.58" />
      <circle fill="#3dbbec" cx="761.1" cy="592.26" r="6.79" transform="translate(-200.1 670.62) rotate(-42.55)" />
      <path fill="#3dbbec" d="M736.85,611.06a6.79,6.79,0,1,0-9.6,0A6.79,6.79,0,0,0,736.85,611.06Z" />
      <path fill="#3dbbec" d="M704.21,617a5.09,5.09,0,1,0-7.2,0A5.09,5.09,0,0,0,704.21,617Z" />
      <path fill="#3dbbec" d="M671.61,616.68a4.59,4.59,0,1,0-6.49,0A4.6,4.6,0,0,0,671.61,616.68Z" />
      <path fill="#3dbbec" d="M640.53,602.66a5.09,5.09,0,1,0,0,7.2A5.09,5.09,0,0,0,640.53,602.66Z" />
      <path fill="#3dbbec" d="M611.69,588.45a5.4,5.4,0,1,0,0,7.63A5.41,5.41,0,0,0,611.69,588.45Z" />
      <path fill="#3dbbec" d="M576.59,578.23a8.58,8.58,0,1,0,0-12.14A8.59,8.59,0,0,0,576.59,578.23Z" />
      <circle fill="#3dbbec" cx="562.56" cy="546.95" r="8.88" transform="translate(-198.29 738.63) rotate(-58.33)" />
      <path fill="#3dbbec" d="M554.85,511.61a8.88,8.88,0,1,0,0,12.57A8.88,8.88,0,0,0,554.85,511.61Z" />
      <path fill="#3dbbec" d="M548.59,493.66a10.18,10.18,0,1,0-14.4,0A10.18,10.18,0,0,0,548.59,493.66Z" />
      <path fill="#3dbbec" d="M549.23,462.05a11.08,11.08,0,1,0-15.67,0A11.08,11.08,0,0,0,549.23,462.05Z" />
      <circle fill="#3dbbec" cx="548.57" cy="422.78" r="10.28" transform="translate(-128.47 276.89) rotate(-25.46)" />
      <circle fill="#3dbbec" cx="562.56" cy="393.72" r="10.28" transform="translate(-60.45 682.42) rotate(-59.85)" />
      <circle fill="#3dbbec" cx="582.66" cy="368.51" r="9.38" transform="translate(23.05 771.17) rotate(-68.05)" />
      <circle fill="#3dbbec" cx="607.87" cy="348.41" r="7.09" transform="translate(-60.21 559.52) rotate(-47.36)" />
      <path fill="#3dbbec" d="M631.92,329.41a7.09,7.09,0,1,0,10,0A7.08,7.08,0,0,0,631.92,329.41Z" />
      <path fill="#3dbbec" d="M664.27,323.15a5.79,5.79,0,1,0,8.19,0A5.79,5.79,0,0,0,664.27,323.15Z" />
      <path fill="#3dbbec" d="M696.16,322.79a6.29,6.29,0,1,0,8.9,0A6.31,6.31,0,0,0,696.16,322.79Z" />
      <path fill="#3dbbec" d="M736.49,330a6.29,6.29,0,1,0,0,8.89A6.28,6.28,0,0,0,736.49,330Z" />
      <path fill="#3dbbec" d="M756.65,352.86a6.29,6.29,0,1,0,0-8.9A6.31,6.31,0,0,0,756.65,352.86Z" />
      <circle fill="#3dbbec" cx="811.77" cy="343.06" r="8.58" />
      <path fill="#3dbbec" d="M824.4,359.78a11.38,11.38,0,1,0,16.09,0A11.4,11.4,0,0,0,824.4,359.78Z" />
      <circle fill="#3dbbec" cx="848.37" cy="395.9" r="12.98" transform="translate(267.16 1129.83) rotate(-76.64)" />
      <path fill="#3dbbec" d="M849.78,435.6a13.08,13.08,0,1,0,0-18.49A13.08,13.08,0,0,0,849.78,435.6Z" />
      <circle fill="#3dbbec" cx="864.08" cy="458.23" r="14.37" />
      <path fill="#3dbbec" d="M853.19,480.33a14.37,14.37,0,1,0,20.33,0A14.38,14.38,0,0,0,853.19,480.33Z" />
      <path fill="#3dbbec" d="M866.41,531.63a13.48,13.48,0,1,0-19.06,0A13.47,13.47,0,0,0,866.41,531.63Z" />
      <circle fill="#3dbbec" cx="844.87" cy="552.05" r="11.98" transform="translate(-142.91 759.11) rotate(-45)" />
      <circle fill="#3dbbec" cx="827.7" cy="579.38" r="10.28" />
      <path fill="#3dbbec" d="M812.07,609.34a8.68,8.68,0,1,0-12.28,0A8.69,8.69,0,0,0,812.07,609.34Z" />
      <circle fill="#3dbbec" cx="780.25" cy="622.75" r="7.09" />
      <path fill="#3dbbec" d="M755,640.86a4.89,4.89,0,1,0-6.92,0A4.89,4.89,0,0,0,755,640.86Z" />
      <path fill="#3dbbec" d="M724.05,650.14a4.89,4.89,0,1,0-6.91,0A4.89,4.89,0,0,0,724.05,650.14Z" />
      <path fill="#3dbbec" d="M686.2,648a3.3,3.3,0,1,0,4.66,0A3.29,3.29,0,0,0,686.2,648Z" />
      <path fill="#3dbbec" d="M654,645.79a3.3,3.3,0,1,0,4.66,0A3.29,3.29,0,0,0,654,645.79Z" />
      <path fill="#3dbbec" d="M627.37,637.91a3.29,3.29,0,1,0,0,4.66A3.29,3.29,0,0,0,627.37,637.91Z" />
      <path fill="#3dbbec" d="M598.27,624.28a3.69,3.69,0,1,0,0,5.22A3.71,3.71,0,0,0,598.27,624.28Z" />
      <circle fill="#3dbbec" cx="569.13" cy="608.51" r="7.09" />
      <circle fill="#3dbbec" cx="546.31" cy="585.69" r="8.69" transform="translate(-238.98 743.19) rotate(-58.33)" />
      <circle fill="#3dbbec" cx="527.93" cy="559.17" r="8.88" transform="translate(-33.6 1084.59) rotate(-89.74)" />
      <circle fill="#3dbbec" cx="514.59" cy="529.79" r="10.58" transform="translate(-206.44 689.77) rotate(-58.34)" />
      <path fill="#3dbbec" d="M516,507.74a13.07,13.07,0,1,0-18.49,0A13.07,13.07,0,0,0,516,507.74Z" />
      <circle fill="#3dbbec" cx="504.53" cy="466.3" r="12.08" />
      <path fill="#3dbbec" d="M516,442.07a11.08,11.08,0,1,0-15.67,0A11.08,11.08,0,0,0,516,442.07Z" />
      <path fill="#3dbbec" d="M509.59,395.49a11.08,11.08,0,1,0,15.67,0A11.08,11.08,0,0,0,509.59,395.49Z" />
      <path fill="#3dbbec" d="M524.81,367.3a10.28,10.28,0,1,0,14.54,0A10.27,10.27,0,0,0,524.81,367.3Z" />
      <path fill="#3dbbec" d="M544.78,342.05a9.68,9.68,0,1,0,13.69,0A9.68,9.68,0,0,0,544.78,342.05Z" />
      <path fill="#3dbbec" d="M569.37,321.05a8.59,8.59,0,1,0,12.15,0A8.59,8.59,0,0,0,569.37,321.05Z" />
      <path fill="#3dbbec" d="M598.6,314.12a5.89,5.89,0,1,0,0-8.33A5.89,5.89,0,0,0,598.6,314.12Z" />
      <path fill="#3dbbec" d="M629.47,294.69a4.6,4.6,0,1,0,6.5,0A4.61,4.61,0,0,0,629.47,294.69Z" />
      <path fill="#3dbbec" d="M661.72,294.08a3.69,3.69,0,1,0,0-5.22A3.71,3.71,0,0,0,661.72,294.08Z" />
      <path fill="#3dbbec" d="M693.35,294a4.59,4.59,0,1,0,0-6.49A4.59,4.59,0,0,0,693.35,294Z" />
      <path fill="#3dbbec" d="M732.92,300.24a6.29,6.29,0,1,0-8.9,0A6.3,6.3,0,0,0,732.92,300.24Z" />
      <path fill="#3dbbec" d="M764.5,312a7.89,7.89,0,1,0-11.15,0A7.89,7.89,0,0,0,764.5,312Z" />
      <circle fill="#3dbbec" cx="786.99" cy="322.38" r="7.89" transform="translate(2.55 650.91) rotate(-45)" />
      <circle fill="#3dbbec" cx="837.22" cy="317.6" r="8.58" />
      <path fill="#3dbbec" d="M850,350.33a11.68,11.68,0,1,0,0-16.52A11.68,11.68,0,0,0,850,350.33Z" />
      <path fill="#3dbbec" d="M866.14,378.72a13.17,13.17,0,1,0,0-18.63A13.16,13.16,0,0,0,866.14,378.72Z" />
      <circle fill="#3dbbec" cx="888.37" cy="399" r="13.48" transform="translate(-2.7 6.06) rotate(-0.39)" />
      <path fill="#3dbbec" d="M886.56,420a14.38,14.38,0,1,0,20.33,0A14.36,14.36,0,0,0,886.56,420Z" />
      <path fill="#3dbbec" d="M890.17,472.42a14.38,14.38,0,1,0,0-20.32A14.37,14.37,0,0,0,890.17,472.42Z" />
      <path fill="#3dbbec" d="M888.61,505a14.88,14.88,0,1,0,0-21A14.88,14.88,0,0,0,888.61,505Z" />
      <circle fill="#3dbbec" cx="893.13" cy="526.24" r="13.48" transform="translate(-123.68 727.99) rotate(-41.73)" />
      <path fill="#3dbbec" d="M892,547.18a13.48,13.48,0,1,0,0,19.06A13.47,13.47,0,0,0,892,547.18Z" />
      <path fill="#3dbbec" d="M875.85,593.73a12,12,0,1,0-16.94,0A12,12,0,0,0,875.85,593.73Z" />
      <path fill="#3dbbec" d="M855.48,618.5a10.28,10.28,0,1,0-14.54,0A10.28,10.28,0,0,0,855.48,618.5Z" />
      <path fill="#3dbbec" d="M831.45,628a8.58,8.58,0,1,0,0,12.14A8.57,8.57,0,0,0,831.45,628Z" />
      <path fill="#3dbbec" d="M804.06,648.57a6.59,6.59,0,1,0,0,9.32A6.58,6.58,0,0,0,804.06,648.57Z" />
      <path fill="#3dbbec" d="M774.18,671.63a4.69,4.69,0,1,0-6.63,0A4.69,4.69,0,0,0,774.18,671.63Z" />
      <path fill="#3dbbec" d="M742.37,677a2.79,2.79,0,1,0,0,4A2.79,2.79,0,0,0,742.37,677Z" />
      <path fill="#3dbbec" d="M710.93,682.72a3.2,3.2,0,1,0,0,4.52A3.19,3.19,0,0,0,710.93,682.72Z" />
      <path fill="#3dbbec" d="M675.28,685.06a1.6,1.6,0,1,0,2.26,0A1.59,1.59,0,0,0,675.28,685.06Z" />
      <path fill="#3dbbec" d="M643.2,681.44a1.6,1.6,0,1,0,2.26,0A1.61,1.61,0,0,0,643.2,681.44Z" />
      <path fill="#3dbbec" d="M615.41,672a3.19,3.19,0,1,0,0,4.51A3.19,3.19,0,0,0,615.41,672Z" />
      <path fill="#3dbbec" d="M579.89,657.64a5.19,5.19,0,1,0,7.34,0A5.18,5.18,0,0,0,579.89,657.64Z" />
      <circle fill="#3dbbec" cx="556.22" cy="644.13" r="7.09" />
      <circle fill="#3dbbec" cx="531.75" cy="623.07" r="8.58" />
      <circle fill="#3dbbec" cx="510.69" cy="598.6" r="9.08" transform="translate(-273.7 536.44) rotate(-45)" />
      <circle fill="#3dbbec" cx="493.52" cy="571.27" r="10.58" transform="translate(-3.05 2.65) rotate(-0.31)" />
      <path fill="#3dbbec" d="M489.36,550.43a12.38,12.38,0,1,0-17.5,0A12.37,12.37,0,0,0,489.36,550.43Z" />
      <path fill="#3dbbec" d="M481.78,501a13.48,13.48,0,1,0,0,19.06A13.48,13.48,0,0,0,481.78,501Z" />
      <path fill="#3dbbec" d="M477.89,469.17a13.08,13.08,0,1,0,0,18.49A13.08,13.08,0,0,0,477.89,469.17Z" />
      <path fill="#3dbbec" d="M478.6,454.91a12.38,12.38,0,1,0-17.51,0A12.39,12.39,0,0,0,478.6,454.91Z" />
      <path fill="#3dbbec" d="M485.09,405.18a13.08,13.08,0,1,0,0,18.5A13.09,13.09,0,0,0,485.09,405.18Z" />
      <path fill="#3dbbec" d="M478,375.42a12.08,12.08,0,1,0,17.08,0A12.07,12.07,0,0,0,478,375.42Z" />
      <circle fill="#3dbbec" cx="501.59" cy="355.42" r="10.88" transform="translate(-1.95 2.76) rotate(-0.31)" />
      <circle fill="#3dbbec" cx="520.77" cy="329.44" r="9.78" />
      <path fill="#3dbbec" d="M537.52,312.69a8.59,8.59,0,1,0,0-12.15A8.59,8.59,0,0,0,537.52,312.69Z" />
      <path fill="#3dbbec" d="M564.91,282.79a6.59,6.59,0,1,0,9.32,0A6.58,6.58,0,0,0,564.91,282.79Z" />
      <path fill="#3dbbec" d="M594.79,269a4.7,4.7,0,1,0,6.64,0A4.7,4.7,0,0,0,594.79,269Z" />
      <path fill="#3dbbec" d="M625.26,265a4.69,4.69,0,1,0,0-6.63A4.68,4.68,0,0,0,625.26,265Z" />
      <path fill="#3dbbec" d="M657.69,258.31a3.69,3.69,0,1,0,0-5.23A3.69,3.69,0,0,0,657.69,258.31Z" />
      <path fill="#3dbbec" d="M690.59,256.46a2.79,2.79,0,1,0,0-3.95A2.78,2.78,0,0,0,690.59,256.46Z" />
      <path fill="#3dbbec" d="M727,255.77a3.3,3.3,0,1,0,0,4.66A3.31,3.31,0,0,0,727,255.77Z" />
      <path fill="#3dbbec" d="M758.65,269.28a4,4,0,1,0-5.65,0A4,4,0,0,0,758.65,269.28Z" />
      <path fill="#3dbbec" d="M781.25,283.53a5.89,5.89,0,1,0,0-8.33A5.89,5.89,0,0,0,781.25,283.53Z" />
      <path fill="#3dbbec" d="M808.59,300.71a5.89,5.89,0,1,0,0-8.33A5.89,5.89,0,0,0,808.59,300.71Z" />
      <path fill="#3dbbec" d="M868.25,286.57a7.88,7.88,0,1,0,0,11.15A7.88,7.88,0,0,0,868.25,286.57Z" />
      <path fill="#3dbbec" d="M876,324.44a11.38,11.38,0,1,0,0-16.09A11.38,11.38,0,0,0,876,324.44Z" />
      <path fill="#3dbbec" d="M893.51,351.71a12.08,12.08,0,1,0,0-17.08A12.07,12.07,0,0,0,893.51,351.71Z" />
      <circle fill="#3dbbec" cx="916.52" cy="372.04" r="13.08" transform="translate(145.43 991.58) rotate(-60.87)" />
      <path fill="#3dbbec" d="M916.67,392a14.87,14.87,0,1,0,21,0A14.87,14.87,0,0,0,916.67,392Z" />
      <path fill="#3dbbec" d="M923,445a15.37,15.37,0,1,0,0-21.74A15.38,15.38,0,0,0,923,445Z" />
      <path fill="#3dbbec" d="M947,476.82a14.87,14.87,0,1,0-21,0A14.88,14.88,0,0,0,947,476.82Z" />
      <circle fill="#3dbbec" cx="934.9" cy="498.55" r="15.17" transform="matrix(0.58, -0.81, 0.81, 0.58, -15.88, 966.1)" />
      <circle fill="#3dbbec" cx="929.24" cy="530.34" r="14.87" transform="translate(-131.7 391.96) rotate(-22.28)" />
      <path fill="#3dbbec" d="M928.8,570.39a13.07,13.07,0,1,0-18.49,0A13.07,13.07,0,0,0,928.8,570.39Z" />
      <path fill="#3dbbec" d="M914.13,598.58a11.48,11.48,0,1,0-16.23,0A11.49,11.49,0,0,0,914.13,598.58Z" />
      <path fill="#3dbbec" d="M897,609.69a11.48,11.48,0,1,0,0,16.23A11.46,11.46,0,0,0,897,609.69Z" />
      <path fill="#3dbbec" d="M875.5,635.52a10.18,10.18,0,1,0,0,14.4A10.19,10.19,0,0,0,875.5,635.52Z" />
      <path fill="#3dbbec" d="M850.82,658.74a8.59,8.59,0,1,0,0,12.15A8.6,8.6,0,0,0,850.82,658.74Z" />
      <path fill="#3dbbec" d="M822.87,679.4a6.1,6.1,0,1,0,0,8.62A6.1,6.1,0,0,0,822.87,679.4Z" />
      <path fill="#3dbbec" d="M787.07,696a4.39,4.39,0,1,0,6.21,0A4.38,4.38,0,0,0,787.07,696Z" />
      <path fill="#3dbbec" d="M758.22,708.9a2.6,2.6,0,1,0,3.67,0A2.6,2.6,0,0,0,758.22,708.9Z" />
      <path fill="#3dbbec" d="M729.32,717.79a.9.9,0,0,0-1.27,0,.91.91,0,0,0,0,1.28.9.9,0,0,0,1.27,0A.91.91,0,0,0,729.32,717.79Z"
      />
      <path fill="#3dbbec" d="M696,721.41a.9.9,0,0,0,0,1.27.91.91,0,0,0,1.28,0,.9.9,0,0,0,0-1.27A.91.91,0,0,0,696,721.41Z" />
      <path fill="#3dbbec" d="M663.47,720.68a1.2,1.2,0,1,0,1.69,0A1.19,1.19,0,0,0,663.47,720.68Z" />
      <path fill="#3dbbec" d="M631.23,715.76a1.58,1.58,0,0,0,0,2.25,1.59,1.59,0,1,0,0-2.25Z" />
      <path fill="#3dbbec" d="M599.28,706.22a2.79,2.79,0,1,0,4,0A2.79,2.79,0,0,0,599.28,706.22Z" />
      <path fill="#3dbbec" d="M569.55,693.62a2.8,2.8,0,1,0,4,0A2.81,2.81,0,0,0,569.55,693.62Z" />
      <path fill="#3dbbec" d="M541.39,677.05a3.19,3.19,0,1,0,4.51,0A3.18,3.18,0,0,0,541.39,677.05Z" />
      <path fill="#3dbbec" d="M521.68,656a5.09,5.09,0,1,0,0,7.2A5.09,5.09,0,0,0,521.68,656Z" />
      <path fill="#3dbbec" d="M501,631a8.18,8.18,0,1,0,0,11.57A8.17,8.17,0,0,0,501,631Z" />
      <circle fill="#3dbbec" cx="475.52" cy="611.18" r="9.08" transform="translate(-163.24 1048.95) rotate(-86.54)" />
      <circle fill="#3dbbec" cx="459.22" cy="583.3" r="12.48" />
      <path fill="#3dbbec" d="M437.1,544a13.48,13.48,0,1,0,19.06,0A13.48,13.48,0,0,0,437.1,544Z" />
      <circle fill="#3dbbec" cx="437.94" cy="522.47" r="13.48" transform="translate(-241.17 462.7) rotate(-45)" />
      <path fill="#3dbbec" d="M443.67,500.89a14.68,14.68,0,1,0-20.75,0A14.68,14.68,0,0,0,443.67,500.89Z" />
      <path fill="#3dbbec" d="M442.94,448.06a14.38,14.38,0,1,0,0,20.33A14.38,14.38,0,0,0,442.94,448.06Z" />
      <path fill="#3dbbec" d="M446.56,436.3a14.38,14.38,0,1,0-20.33,0A14.38,14.38,0,0,0,446.56,436.3Z" />
      <path fill="#3dbbec" d="M434.55,404.3a13.48,13.48,0,1,0,0-19.06A13.47,13.47,0,0,0,434.55,404.3Z" />
      <circle fill="#3dbbec" cx="455.72" cy="364.65" r="12.08" />
      <path fill="#3dbbec" d="M463.28,344.1a11.08,11.08,0,1,0,0-15.67A11.08,11.08,0,0,0,463.28,344.1Z" />
      <path fill="#3dbbec" d="M483.59,303.66a9.08,9.08,0,1,0,12.84,0A9.07,9.07,0,0,0,483.59,303.66Z" />
      <path fill="#3dbbec" d="M506.38,280.81a8.09,8.09,0,1,0,11.44,0A8.08,8.08,0,0,0,506.38,280.81Z" />
      <path fill="#3dbbec" d="M532.85,261.83a5.89,5.89,0,1,0,8.33,0A5.89,5.89,0,0,0,532.85,261.83Z" />
      <path fill="#3dbbec" d="M559.7,244.15a6.59,6.59,0,1,0,9.32,0A6.6,6.6,0,0,0,559.7,244.15Z" />
      <path fill="#3dbbec" d="M597,232a4.69,4.69,0,1,0,0,6.64A4.69,4.69,0,0,0,597,232Z" />
      <path fill="#3dbbec" d="M622.5,227.56a2.8,2.8,0,1,0,0-3.95A2.81,2.81,0,0,0,622.5,227.56Z" />
      <path fill="#3dbbec" d="M657.4,221.05a1.6,1.6,0,1,0-2.26,0A1.6,1.6,0,0,0,657.4,221.05Z" />
      <path fill="#3dbbec" d="M690.5,220.35a2.8,2.8,0,1,0-4,0A2.81,2.81,0,0,0,690.5,220.35Z" />
      <path fill="#3dbbec" d="M722,222.22a1.8,1.8,0,1,0-2.54,0A1.78,1.78,0,0,0,722,222.22Z" />
      <path fill="#3dbbec" d="M754.28,229.61a2.79,2.79,0,1,0-3.95,0A2.79,2.79,0,0,0,754.28,229.61Z" />
      <path fill="#3dbbec" d="M787,242.46a5.89,5.89,0,1,0-8.33,0A5.89,5.89,0,0,0,787,242.46Z" />
      <path fill="#3dbbec" d="M806.07,258.35a7.89,7.89,0,1,0,0-11.15A7.89,7.89,0,0,0,806.07,258.35Z" />
      <path fill="#3dbbec" d="M832.85,276.4a7.88,7.88,0,1,0,0-11.15A7.88,7.88,0,0,0,832.85,276.4Z" />
      <path fill="#3dbbec" d="M882.56,272.27a7.89,7.89,0,1,0,0-11.16A7.88,7.88,0,0,0,882.56,272.27Z" />
      <path fill="#3dbbec" d="M917.35,283.08a10.88,10.88,0,1,0,0,15.39A10.88,10.88,0,0,0,917.35,283.08Z" />
      <circle fill="#3dbbec" cx="928.34" cy="317.11" r="12.48" transform="translate(127.92 884.3) rotate(-54.18)" />
      <path fill="#3dbbec" d="M953,354.41a12.78,12.78,0,1,0-18.07,0A12.78,12.78,0,0,0,953,354.41Z" />
      <path fill="#3dbbec" d="M946.3,365.19a14.18,14.18,0,1,0,20.05,0A14.19,14.19,0,0,0,946.3,365.19Z" />
      <path fill="#3dbbec" d="M955,395.94a14.58,14.58,0,1,0,20.61,0A14.59,14.59,0,0,0,955,395.94Z" />
      <path fill="#3dbbec" d="M981,427.79a14.57,14.57,0,1,0,0,20.61A14.57,14.57,0,0,0,981,427.79Z" />
      <circle fill="#3dbbec" cx="972.49" cy="470.34" r="15.57" transform="translate(494.51 1439.09) rotate(-89.55)" />
      <path fill="#3dbbec" d="M981.19,513.1a14.87,14.87,0,1,0-21,0A14.88,14.88,0,0,0,981.19,513.1Z" />
      <path fill="#3dbbec" d="M975.78,544.94a14.87,14.87,0,1,0-21,0A14.88,14.88,0,0,0,975.78,544.94Z" />
      <path fill="#3dbbec" d="M965.86,575a13.48,13.48,0,1,0-19.06,0A13.47,13.47,0,0,0,965.86,575Z" />
      <path fill="#3dbbec" d="M953,586.26a12.78,12.78,0,1,0,0,18.07A12.78,12.78,0,0,0,953,586.26Z" />
      <circle fill="#3dbbec" cx="928.34" cy="623.56" r="11.18" transform="translate(-169.02 839.08) rotate(-45)" />
      <path fill="#3dbbec" d="M916.5,643.05a9.68,9.68,0,1,0,0,13.7A9.68,9.68,0,0,0,916.5,643.05Z" />
      <path fill="#3dbbec" d="M893.71,668.41a7.88,7.88,0,1,0,0,11.15A7.88,7.88,0,0,0,893.71,668.41Z" />
      <path fill="#3dbbec" d="M868.5,700a6.29,6.29,0,1,0-8.89,0A6.28,6.28,0,0,0,868.5,700Z" />
      <path fill="#3dbbec" d="M842.16,718.64a6.29,6.29,0,1,0-8.89,0A6.28,6.28,0,0,0,842.16,718.64Z" />
      <path fill="#3dbbec" d="M806.34,726.71a4.39,4.39,0,1,0,6.21,0A4.38,4.38,0,0,0,806.34,726.71Z" />
      <path fill="#3dbbec" d="M777.77,740.34a2.6,2.6,0,1,0,3.67,0A2.6,2.6,0,0,0,777.77,740.34Z" />
      <path fill="#3dbbec" d="M748.08,750.62a.7.7,0,1,0,1,0A.71.71,0,0,0,748.08,750.62Z" />
      <path fill="#3dbbec" d="M717.23,756a.7.7,0,1,0,0,1A.71.71,0,0,0,717.23,756Z" />
      <path fill="#3dbbec" d="M684.13,758a.5.5,0,1,0,.71,0A.51.51,0,0,0,684.13,758Z" />
      <path fill="#3dbbec" d="M652.1,756.38a.21.21,0,0,0,0,.29.21.21,0,0,0,.28,0,.21.21,0,0,0,0-.29A.21.21,0,0,0,652.1,756.38Z"
      />
      <path fill="#3dbbec" d="M620.26,751a.21.21,0,0,0,0,.29.21.21,0,0,0,.28,0,.21.21,0,0,0,0-.29A.21.21,0,0,0,620.26,751Z" />
      <circle fill="#3dbbec" cx="589.37" cy="742.17" r="0.9" />
      <path fill="#3dbbec" d="M557.69,728a2.6,2.6,0,1,0,3.67,0A2.6,2.6,0,0,0,557.69,728Z" />
      <path fill="#3dbbec" d="M529,711.93a3.2,3.2,0,1,0,4.52,0A3.21,3.21,0,0,0,529,711.93Z" />
      <path fill="#3dbbec" d="M509.72,690.7a6.79,6.79,0,1,0,0,9.6A6.79,6.79,0,0,0,509.72,690.7Z" />
      <path fill="#3dbbec" d="M486.42,668.41a7.89,7.89,0,1,0,0,11.15A7.89,7.89,0,0,0,486.42,668.41Z" />
      <circle fill="#3dbbec" cx="459.32" cy="649.9" r="10.28" transform="translate(-234.71 260.46) rotate(-25.45)" />
      <path fill="#3dbbec" d="M448.11,631a10.58,10.58,0,1,0-15,0A10.56,10.56,0,0,0,448.11,631Z" />
      <path fill="#3dbbec" d="M417.53,587.81a10.58,10.58,0,1,0,15,0A10.57,10.57,0,0,0,417.53,587.81Z" />
      <circle fill="#3dbbec" cx="412.65" cy="565.46" r="13.18" transform="translate(-174.32 184.03) rotate(-20.86)" />
      <path fill="#3dbbec" d="M414.23,523.9a14.88,14.88,0,1,0,0,21A14.9,14.9,0,0,0,414.23,523.9Z" />
      <path fill="#3dbbec" d="M408.82,513.1a14.88,14.88,0,1,0-21,0A14.9,14.9,0,0,0,408.82,513.1Z" />
      <circle fill="#3dbbec" cx="396.49" cy="470.34" r="14.87" />
      <circle fill="#3dbbec" cx="398.3" cy="438.09" r="15.17" transform="translate(-189.94 505.5) rotate(-54.26)" />
      <path fill="#3dbbec" d="M393.19,416.77a14.88,14.88,0,1,0,0-21A14.88,14.88,0,0,0,393.19,416.77Z" />
      <path fill="#3dbbec" d="M403.47,366a13,13,0,1,0,18.36,0A13,13,0,0,0,403.47,366Z" />
      <circle fill="#3dbbec" cx="425.01" cy="345.38" r="12.08" />
      <circle fill="#3dbbec" cx="440.63" cy="317.11" r="10.48" transform="translate(-74.17 489.42) rotate(-54.25)" />
      <path fill="#3dbbec" d="M451.91,283.36a10.48,10.48,0,1,0,14.82,0A10.48,10.48,0,0,0,451.91,283.36Z" />
      <circle fill="#3dbbec" cx="480.84" cy="266.69" r="9.18" />
      <path fill="#3dbbec" d="M499.35,239.59a7.89,7.89,0,1,0,11.15,0A7.89,7.89,0,0,0,499.35,239.59Z" />
      <path fill="#3dbbec" d="M527.1,222.31a5.89,5.89,0,1,0,8.33,0A5.89,5.89,0,0,0,527.1,222.31Z" />
      <path fill="#3dbbec" d="M562.14,213.47a3.69,3.69,0,1,0-5.22,0A3.69,3.69,0,0,0,562.14,213.47Z" />
      <path fill="#3dbbec" d="M591.13,200.26a2.5,2.5,0,1,0-3.53,0A2.49,2.49,0,0,0,591.13,200.26Z" />
      <path fill="#3dbbec" d="M621,190.19a.9.9,0,1,0-1.27,0A.9.9,0,0,0,621,190.19Z" />
      <path fill="#3dbbec" d="M652.88,184.78a.9.9,0,1,0-1.27,0A.9.9,0,0,0,652.88,184.78Z" />
      <path fill="#3dbbec" d="M684.84,182.69a.5.5,0,0,0,0-.71.5.5,0,0,0-.7,0,.5.5,0,0,0,0,.71A.5.5,0,0,0,684.84,182.69Z" />
      <path fill="#3dbbec" d="M717.37,184.78a.9.9,0,1,0-1.27,0A.9.9,0,0,0,717.37,184.78Z" />
      <path fill="#3dbbec" d="M750.2,191.18a2.3,2.3,0,1,0-3.25,0A2.31,2.31,0,0,0,750.2,191.18Z" />
      <path fill="#3dbbec" d="M781.37,200.26a2.5,2.5,0,1,0-3.53,0A2.49,2.49,0,0,0,781.37,200.26Z" />
      <path fill="#3dbbec" d="M812.2,213.61a3.9,3.9,0,1,0-5.51,0A3.89,3.89,0,0,0,812.2,213.61Z" />
      <path fill="#3dbbec" d="M832.49,231.7a7.39,7.39,0,1,0,0-10.44A7.38,7.38,0,0,0,832.49,231.7Z" />
      <path fill="#3dbbec" d="M858.83,240a7.39,7.39,0,1,0,10.45,0A7.37,7.37,0,0,0,858.83,240Z" />
      <circle fill="#3dbbec" cx="913.59" cy="241.23" r="7.09" transform="translate(344.37 995.44) rotate(-67.75)" />
      <path fill="#3dbbec" d="M927.85,257.77a10.48,10.48,0,1,0,14.82,0A10.5,10.5,0,0,0,927.85,257.77Z" />
      <circle fill="#3dbbec" cx="954.44" cy="291.17" r="10.78" transform="translate(-1.57 5.2) rotate(-0.31)" />
      <circle fill="#3dbbec" cx="970.94" cy="318.94" r="11.68" />
      <path fill="#3dbbec" d="M993.63,357.25a12.78,12.78,0,1,0-18.07,0A12.78,12.78,0,0,0,993.63,357.25Z" />
      <circle fill="#3dbbec" cx="995.26" cy="378.7" r="14.67" transform="translate(23.72 814.67) rotate(-45)" />
      <circle fill="#3dbbec" cx="1002.84" cy="410.1" r="14.67" />
      <path fill="#3dbbec" d="M1017.91,452.76a15.07,15.07,0,1,0-21.31,0A15.07,15.07,0,0,0,1017.91,452.76Z" />
      <path fill="#3dbbec" d="M1018.84,464a14.68,14.68,0,1,0,0,20.75A14.67,14.67,0,0,0,1018.84,464Z" />
      <circle fill="#3dbbec" cx="1006.45" cy="506.61" r="14.67" />
      <path fill="#3dbbec" d="M1011.26,548.51a14.17,14.17,0,1,0-20,0A14.16,14.16,0,0,0,1011.26,548.51Z" />
      <circle fill="#3dbbec" cx="992.88" cy="569.69" r="13.48" transform="translate(-141.92 419.43) rotate(-22.3)" />
      <path fill="#3dbbec" d="M990.63,590.73a13,13,0,1,0,0,18.35A13,13,0,0,0,990.63,590.73Z" />
      <path fill="#3dbbec" d="M975.55,620.36a12,12,0,1,0,0,16.94A12,12,0,0,0,975.55,620.36Z" />
      <path fill="#3dbbec" d="M957.52,663.8a10.78,10.78,0,1,0-15.25,0A10.79,10.79,0,0,0,957.52,663.8Z" />
      <path fill="#3dbbec" d="M936.49,688.1a9.08,9.08,0,1,0-12.84,0A9.08,9.08,0,0,0,936.49,688.1Z" />
      <path fill="#3dbbec" d="M913,710.3a7.39,7.39,0,1,0-10.45,0A7.37,7.37,0,0,0,913,710.3Z" />
      <path fill="#3dbbec" d="M879.16,722a5.89,5.89,0,1,0,8.33,0A5.89,5.89,0,0,0,879.16,722Z" />
      <path fill="#3dbbec" d="M853.9,741.71a4.19,4.19,0,1,0,5.93,0A4.19,4.19,0,0,0,853.9,741.71Z" />
      <path fill="#3dbbec" d="M825.73,757.51a4.19,4.19,0,1,0,5.93,0A4.19,4.19,0,0,0,825.73,757.51Z" />
      <path fill="#3dbbec" d="M797.32,771.63a2.5,2.5,0,1,0,3.53,0A2.5,2.5,0,0,0,797.32,771.63Z" />
      <path fill="#3dbbec" d="M767.36,782.31a1.39,1.39,0,1,0,2,0A1.38,1.38,0,0,0,767.36,782.31Z" />
      <path fill="#3dbbec" d="M736.41,789.74a.5.5,0,0,0,0,.7.5.5,0,0,0,.71,0,.48.48,0,0,0,0-.7A.5.5,0,0,0,736.41,789.74Z" />
      <path fill="#3dbbec" d="M640.05,791.15a.21.21,0,1,0,.29,0A.23.23,0,0,0,640.05,791.15Z" />
      <path fill="#3dbbec" d="M608.18,785a.4.4,0,1,0,.56,0A.39.39,0,0,0,608.18,785Z" />
      <path fill="#3dbbec" d="M578,775.66a.7.7,0,1,0,0,1A.71.71,0,0,0,578,775.66Z" />
      <path fill="#3dbbec" d="M545.72,762.14a2.6,2.6,0,1,0,3.67,0A2.61,2.61,0,0,0,545.72,762.14Z" />
      <path fill="#3dbbec" d="M517.17,747.05a2.6,2.6,0,1,0,3.67,0A2.58,2.58,0,0,0,517.17,747.05Z" />
      <path fill="#3dbbec" d="M488.84,727.78a4.59,4.59,0,1,0,6.5,0A4.59,4.59,0,0,0,488.84,727.78Z" />
      <path fill="#3dbbec" d="M470.34,707.33a4.59,4.59,0,1,0,0,6.49A4.59,4.59,0,0,0,470.34,707.33Z" />
      <path fill="#3dbbec" d="M449.4,682.58a7.29,7.29,0,1,0,0,10.31A7.29,7.29,0,0,0,449.4,682.58Z" />
      <path fill="#3dbbec" d="M417.09,656a9.48,9.48,0,1,0,13.41,0A9.49,9.49,0,0,0,417.09,656Z" />
      <path fill="#3dbbec" d="M414.41,644.29a12,12,0,1,0-16.94,0A12,12,0,0,0,414.41,644.29Z" />
      <path fill="#3dbbec" d="M399.88,598.23a12.78,12.78,0,1,0,0,18.07A12.78,12.78,0,0,0,399.88,598.23Z" />
      <path fill="#3dbbec" d="M388.69,567.32a14.17,14.17,0,1,0,0,20A14.18,14.18,0,0,0,388.69,567.32Z" />
      <path fill="#3dbbec" d="M379.84,536.06a14.57,14.57,0,1,0,0,20.61A14.58,14.58,0,0,0,379.84,536.06Z" />
      <path fill="#3dbbec" d="M373.91,525a14.68,14.68,0,1,0-20.76,0A14.68,14.68,0,0,0,373.91,525Z" />
      <circle fill="#3dbbec" cx="360.71" cy="482.45" r="15.57" transform="translate(-46.4 38.45) rotate(-5.73)" />
      <circle fill="#3dbbec" cx="361.12" cy="450.15" r="15.57" transform="translate(-212.54 387.19) rotate(-45)" />
      <path fill="#3dbbec" d="M354.36,407.68a14.67,14.67,0,1,0,20.75,0A14.67,14.67,0,0,0,354.36,407.68Z" />
      <circle fill="#3dbbec" cx="371.53" cy="386.48" r="14.38" />
      <path fill="#3dbbec" d="M372.4,346.7a12.78,12.78,0,1,0,18.07,0A12.78,12.78,0,0,0,372.4,346.7Z" />
      <path fill="#3dbbec" d="M386.09,317.87a11.68,11.68,0,1,0,16.52,0A11.68,11.68,0,0,0,386.09,317.87Z" />
      <path fill="#3dbbec" d="M401.89,289.7a11.68,11.68,0,1,0,16.52,0A11.68,11.68,0,0,0,401.89,289.7Z" />
      <path fill="#3dbbec" d="M422.6,265.43a8.59,8.59,0,1,0,12.15,0A8.59,8.59,0,0,0,422.6,265.43Z" />
      <path fill="#3dbbec" d="M444.59,241.86a7.29,7.29,0,1,0,10.31,0A7.3,7.3,0,0,0,444.59,241.86Z" />
      <path fill="#3dbbec" d="M468.49,220.1a6.58,6.58,0,1,0,9.31,0A6.57,6.57,0,0,0,468.49,220.1Z" />
      <path fill="#3dbbec" d="M494.34,209.24a6.09,6.09,0,1,0,0-8.61A6.08,6.08,0,0,0,494.34,209.24Z" />
      <path fill="#3dbbec" d="M529.1,190.85a4.39,4.39,0,1,0-6.21,0A4.38,4.38,0,0,0,529.1,190.85Z" />
      <path fill="#3dbbec" d="M556.26,174.71a1.9,1.9,0,1,0-2.68,0A1.9,1.9,0,0,0,556.26,174.71Z" />
      <path fill="#3dbbec" d="M586.47,163.29a1.9,1.9,0,1,0-2.68,0A1.89,1.89,0,0,0,586.47,163.29Z" />
      <path fill="#3dbbec" d="M616.83,154.08a.7.7,0,1,0-1,0A.71.71,0,0,0,616.83,154.08Z" />
      <path fill="#3dbbec" d="M648.56,148.73a.5.5,0,0,0,0-.71.5.5,0,0,0-.7,0,.5.5,0,0,0,0,.71A.5.5,0,0,0,648.56,148.73Z" />
      <path fill="#3dbbec" d="M713.36,148.21a.91.91,0,0,0,0-1.28.9.9,0,0,0-1.27,0,.91.91,0,0,0,0,1.28A.9.9,0,0,0,713.36,148.21Z"
      />
      <path fill="#3dbbec" d="M745,152.27a.4.4,0,0,0,0-.57.4.4,0,0,0-.56,0,.4.4,0,0,0,0,.57A.4.4,0,0,0,745,152.27Z" />
      <path fill="#3dbbec" d="M777.25,160.69a1.6,1.6,0,1,0-2.26,0A1.59,1.59,0,0,0,777.25,160.69Z" />
      <circle fill="#3dbbec" cx="806.61" cy="170.23" r="2.6" />
      <path fill="#3dbbec" d="M839.69,187.69a5.39,5.39,0,1,0-7.62,0A5.38,5.38,0,0,0,839.69,187.69Z" />
      <path fill="#3dbbec" d="M858.43,205.6a7.38,7.38,0,1,0,0-10.44A7.37,7.37,0,0,0,858.43,205.6Z" />
      <path fill="#3dbbec" d="M884.42,224.78a7.38,7.38,0,1,0,0-10.44A7.37,7.37,0,0,0,884.42,224.78Z" />
      <path fill="#3dbbec" d="M934.53,211.26a6.39,6.39,0,1,0,9,0A6.39,6.39,0,0,0,934.53,211.26Z" />
      <path fill="#3dbbec" d="M954.56,233.34a8.88,8.88,0,1,0,12.56,0A8.88,8.88,0,0,0,954.56,233.34Z" />
      <circle fill="#3dbbec" cx="980.41" cy="265.32" r="10.18" transform="translate(-27.24 392.78) rotate(-22.35)" />
      <path fill="#3dbbec" d="M1005.08,300.16a10.59,10.59,0,1,0-15,0A10.59,10.59,0,0,0,1005.08,300.16Z" />
      <path fill="#3dbbec" d="M1003.93,313.13a11.78,11.78,0,1,0,16.66,0A11.78,11.78,0,0,0,1003.93,313.13Z" />
      <path fill="#3dbbec" d="M1014.69,361a13.58,13.58,0,1,0,0-19.2A13.57,13.57,0,0,0,1014.69,361Z" />
      <path fill="#3dbbec" d="M1043.11,372.84a13.48,13.48,0,1,0,0,19.06A13.48,13.48,0,0,0,1043.11,372.84Z" />
      <circle fill="#3dbbec" cx="1040.05" cy="414.02" r="14.67" />
      <path fill="#3dbbec" d="M1053.41,436.38a13.77,13.77,0,1,0,0,19.48A13.77,13.77,0,0,0,1053.41,436.38Z" />
      <circle fill="#3dbbec" cx="1044.4" cy="478.41" r="14.28" transform="translate(-32.39 878.62) rotate(-45)" />
      <circle fill="#3dbbec" cx="1042.22" cy="510.64" r="14.28" transform="translate(-55.82 886.53) rotate(-45)" />
      <circle fill="#3dbbec" cx="1037.17" cy="542.55" r="13.88" transform="translate(-79.86 892.3) rotate(-45)" />
      <path fill="#3dbbec" d="M1038,565.12a12.38,12.38,0,1,0,0,17.5A12.37,12.37,0,0,0,1038,565.12Z" />
      <circle fill="#3dbbec" cx="1018.61" cy="604.36" r="11.18" transform="translate(-31.62 1151.93) rotate(-58.22)" />
      <path fill="#3dbbec" d="M1012.73,641.26a10.58,10.58,0,1,0-15,0A10.59,10.59,0,0,0,1012.73,641.26Z" />
      <path fill="#3dbbec" d="M996.79,669.35a10.58,10.58,0,1,0-15,0A10.58,10.58,0,0,0,996.79,669.35Z" />
      <path fill="#3dbbec" d="M977.41,681.93a9.19,9.19,0,1,0,0,13A9.18,9.18,0,0,0,977.41,681.93Z" />
      <path fill="#3dbbec" d="M944.63,707.64a7.89,7.89,0,1,0,11.16,0A7.88,7.88,0,0,0,944.63,707.64Z" />
      <path fill="#3dbbec" d="M922.85,731.54a6.39,6.39,0,1,0,9,0A6.4,6.4,0,0,0,922.85,731.54Z" />
      <path fill="#3dbbec" d="M899,753.16a5.09,5.09,0,1,0,7.2,0A5.09,5.09,0,0,0,899,753.16Z" />
      <path fill="#3dbbec" d="M873.55,772.69a3.49,3.49,0,1,0,4.94,0A3.48,3.48,0,0,0,873.55,772.69Z" />
      <path fill="#3dbbec" d="M846.44,789.62a2.1,2.1,0,1,0,3,0A2.09,2.09,0,0,0,846.44,789.62Z" />
      <path fill="#3dbbec" d="M818,804a.71.71,0,0,0,0,1,.7.7,0,0,0,1,0,.7.7,0,0,0-1-1Z" />
      <path fill="#3dbbec" d="M787.39,814.49a.9.9,0,1,0,1.27,0A.9.9,0,0,0,787.39,814.49Z" />
      <path fill="#3dbbec" d="M756.42,822.74a.4.4,0,1,0,.56,0A.39.39,0,0,0,756.42,822.74Z" />
      <path fill="#3dbbec" d="M628,825.76a.21.21,0,0,0,0,.29.21.21,0,0,0,.28,0,.21.21,0,0,0,0-.29A.2.2,0,0,0,628,825.76Z" />
      <path fill="#3dbbec" d="M596.38,819.28a.21.21,0,1,0,.29,0A.23.23,0,0,0,596.38,819.28Z" />
      <path fill="#3dbbec" d="M565.3,809.85a.4.4,0,0,0,.57.57.4.4,0,0,0,0-.57A.42.42,0,0,0,565.3,809.85Z" />
      <path fill="#3dbbec" d="M535.11,797.61a.71.71,0,0,0,0,1,.69.69,0,0,0,1,0,.7.7,0,0,0-1-1Z" />
      <path fill="#3dbbec" d="M505.2,781.82a2.3,2.3,0,1,0,3.25,0A2.29,2.29,0,0,0,505.2,781.82Z" />
      <path fill="#3dbbec" d="M476.23,763a4.59,4.59,0,1,0,6.49,0A4.58,4.58,0,0,0,476.23,763Z" />
      <path fill="#3dbbec" d="M457.58,742.88a5.39,5.39,0,1,0,0,7.62A5.38,5.38,0,0,0,457.58,742.88Z" />
      <path fill="#3dbbec" d="M434.45,720.38a6.39,6.39,0,1,0,0,9A6.39,6.39,0,0,0,434.45,720.38Z" />
      <path fill="#3dbbec" d="M414.06,707a8.38,8.38,0,1,0-11.85,0A8.38,8.38,0,0,0,414.06,707Z" />
      <path fill="#3dbbec" d="M395.27,682.06a9.48,9.48,0,1,0-13.41,0A9.48,9.48,0,0,0,395.27,682.06Z" />
      <path fill="#3dbbec" d="M364.67,641.29a9.49,9.49,0,1,0,13.42,0A9.5,9.5,0,0,0,364.67,641.29Z" />
      <circle fill="#3dbbec" cx="356.72" cy="619.22" r="11.68" />
      <circle fill="#3dbbec" cx="344.69" cy="589.24" r="12.98" transform="translate(-337.74 571.78) rotate(-58.21)" />
      <path fill="#3dbbec" d="M345.42,548.28a14.17,14.17,0,1,0,0,20A14.16,14.16,0,0,0,345.42,548.28Z" />
      <path fill="#3dbbec" d="M338.94,516.63a14.17,14.17,0,1,0,0,20A14.16,14.16,0,0,0,338.94,516.63Z" />
      <path fill="#3dbbec" d="M336,483.89a15.08,15.08,0,1,0,0,21.32A15.09,15.09,0,0,0,336,483.89Z" />
      <path fill="#3dbbec" d="M314.41,472.42a14.38,14.38,0,1,0,0-20.33A14.36,14.36,0,0,0,314.41,472.42Z" />
      <path fill="#3dbbec" d="M316.23,419.51a14.88,14.88,0,1,0,21,0A14.88,14.88,0,0,0,316.23,419.51Z" />
      <path fill="#3dbbec" d="M322.06,407.87a13.78,13.78,0,1,0,0-19.49A13.79,13.79,0,0,0,322.06,407.87Z" />
      <path fill="#3dbbec" d="M329.67,376.82a14.17,14.17,0,1,0,0-20A14.17,14.17,0,0,0,329.67,376.82Z" />
      <path fill="#3dbbec" d="M341.12,327.06a13.08,13.08,0,1,0,18.49,0A13.08,13.08,0,0,0,341.12,327.06Z" />
      <path fill="#3dbbec" d="M356.1,299.28a10.78,10.78,0,1,0,15.25,0A10.77,10.77,0,0,0,356.1,299.28Z" />
      <path fill="#3dbbec" d="M372.82,285.65a9.68,9.68,0,1,0,0-13.69A9.68,9.68,0,0,0,372.82,285.65Z" />
      <path fill="#3dbbec" d="M392,258.32a8.58,8.58,0,1,0,0-12.14A8.57,8.57,0,0,0,392,258.32Z" />
      <path fill="#3dbbec" d="M414.67,231.55a5.79,5.79,0,1,0,0-8.19A5.79,5.79,0,0,0,414.67,231.55Z" />
      <path fill="#3dbbec" d="M437.09,209.13a6.39,6.39,0,1,0,0-9A6.37,6.37,0,0,0,437.09,209.13Z" />
      <path fill="#3dbbec" d="M469.51,187a4.39,4.39,0,1,0-6.21,0A4.4,4.4,0,0,0,469.51,187Z" />
      <path fill="#3dbbec" d="M494.93,167.49a2.79,2.79,0,1,0-3.95,0A2.79,2.79,0,0,0,494.93,167.49Z" />
      <path fill="#3dbbec" d="M523,151.55a2.8,2.8,0,1,0-4,0A2.79,2.79,0,0,0,523,151.55Z" />
      <path fill="#3dbbec" d="M551.94,137.7a2.1,2.1,0,1,0-3,0A2.1,2.1,0,0,0,551.94,137.7Z" />
      <path fill="#3dbbec" d="M581.45,126a.7.7,0,0,0-1-1,.69.69,0,0,0,0,1A.71.71,0,0,0,581.45,126Z" />
      <path fill="#3dbbec" d="M612.63,118a.5.5,0,1,0-.71,0A.51.51,0,0,0,612.63,118Z" />
      <path fill="#3dbbec" d="M741.09,115.05a.4.4,0,0,0,0-.56.4.4,0,0,0-.57,0,.4.4,0,0,0,0,.56A.4.4,0,0,0,741.09,115.05Z" />
      <path fill="#3dbbec" d="M772.94,121.74a.7.7,0,1,0-1,0A.68.68,0,0,0,772.94,121.74Z" />
      <path fill="#3dbbec" d="M804.87,132a2.09,2.09,0,1,0-3,0A2.09,2.09,0,0,0,804.87,132Z" />
      <path fill="#3dbbec" d="M834.85,144.05a2.1,2.1,0,1,0-3,0A2.1,2.1,0,0,0,834.85,144.05Z" />
      <path fill="#3dbbec" d="M865.4,160.48a4.6,4.6,0,1,0-6.5,0A4.61,4.61,0,0,0,865.4,160.48Z" />
      <path fill="#3dbbec" d="M885.2,178.72a6.09,6.09,0,1,0,0-8.61A6.08,6.08,0,0,0,885.2,178.72Z" />
      <path fill="#3dbbec" d="M919.51,198.29a6.09,6.09,0,1,0-8.61,0A6.08,6.08,0,0,0,919.51,198.29Z" />
      <path fill="#3dbbec" d="M960.83,194a5.19,5.19,0,1,0,0-7.34A5.18,5.18,0,0,0,960.83,194Z" />
      <path fill="#3dbbec" d="M991.26,209.21a6.89,6.89,0,1,0,0,9.74A6.89,6.89,0,0,0,991.26,209.21Z" />
      <circle fill="#3dbbec" cx="1006.28" cy="239.54" r="8.09" transform="translate(272.89 969) rotate(-58.24)" />
      <path fill="#3dbbec" d="M1029.81,272.32a8.18,8.18,0,1,0-11.58,0A8.19,8.19,0,0,0,1029.81,272.32Z" />
      <circle fill="#3dbbec" cx="1039.5" cy="294.89" r="9.38" transform="translate(-32.33 431.62) rotate(-23.11)" />
      <circle fill="#3dbbec" cx="1052.62" cy="324.41" r="12.08" />
      <path fill="#3dbbec" d="M1054.61,363.58a12.28,12.28,0,1,0,0-17.36A12.26,12.26,0,0,0,1054.61,363.58Z" />
      <path fill="#3dbbec" d="M1080.12,394.84a12.28,12.28,0,1,0-17.37,0A12.27,12.27,0,0,0,1080.12,394.84Z" />
      <circle fill="#3dbbec" cx="1077.01" cy="417.98" r="12.98" transform="translate(154.33 1113.19) rotate(-58.21)" />
      <circle fill="#3dbbec" cx="1079.97" cy="450.15" r="12.48" />
      <circle fill="#3dbbec" cx="1080.3" cy="482.45" r="13.88" />
      <circle fill="#3dbbec" cx="1078" cy="514.67" r="13.38" transform="translate(-3.45 7.3) rotate(-0.39)" />
      <path fill="#3dbbec" d="M1081.4,554.93a11.78,11.78,0,1,0-16.66,0A11.78,11.78,0,0,0,1081.4,554.93Z" />
      <path fill="#3dbbec" d="M1074.25,586.7a12.28,12.28,0,1,0-17.37,0A12.28,12.28,0,0,0,1074.25,586.7Z" />
      <path fill="#3dbbec" d="M1063.85,617.05a11.78,11.78,0,1,0-16.66,0A11.78,11.78,0,0,0,1063.85,617.05Z" />
      <path fill="#3dbbec" d="M1036,631.45a10,10,0,1,0,14.11,0A10,10,0,0,0,1036,631.45Z" />
      <path fill="#3dbbec" d="M1021.4,660.46a9.49,9.49,0,1,0,13.41,0A9.48,9.48,0,0,0,1021.4,660.46Z" />
      <path fill="#3dbbec" d="M1006.05,689.65a6.89,6.89,0,1,0,9.74,0A6.89,6.89,0,0,0,1006.05,689.65Z" />
      <path fill="#3dbbec" d="M986.69,715.51a6.89,6.89,0,1,0,9.74,0A6.89,6.89,0,0,0,986.69,715.51Z" />
      <path fill="#3dbbec" d="M966.2,740.63a5.59,5.59,0,1,0,7.91,0A5.59,5.59,0,0,0,966.2,740.63Z" />
      <path fill="#3dbbec" d="M943.18,763.28a5.19,5.19,0,1,0,7.34,0A5.18,5.18,0,0,0,943.18,763.28Z" />
      <path fill="#3dbbec" d="M919.33,784.88a3.49,3.49,0,1,0,4.94,0A3.5,3.5,0,0,0,919.33,784.88Z" />
      <path fill="#3dbbec" d="M893.41,803.87a2.5,2.5,0,1,0,3.53,0A2.49,2.49,0,0,0,893.41,803.87Z" />
      <path fill="#3dbbec" d="M865.87,820.43a1.8,1.8,0,1,0,2.54,0A1.8,1.8,0,0,0,865.87,820.43Z" />
      <path fill="#3dbbec" d="M837.4,834.92a.7.7,0,1,0,1,0A.71.71,0,0,0,837.4,834.92Z" />
      <path fill="#3dbbec" d="M807.34,846.42a.4.4,0,1,0,.57,0A.42.42,0,0,0,807.34,846.42Z" />
      <circle fill="#3dbbec" cx="776.54" cy="855.49" r="0.4" />
      <path fill="#3dbbec" d="M744.7,861.57a.2.2,0,1,0,.28,0A.19.19,0,0,0,744.7,861.57Z" />
      <path fill="#3dbbec" d="M584.46,853.39a.2.2,0,1,0,.28,0A.19.19,0,0,0,584.46,853.39Z" />
      <path fill="#3dbbec" d="M553.56,844a.21.21,0,0,0,0,.29.21.21,0,0,0,.28,0,.21.21,0,0,0,0-.29A.21.21,0,0,0,553.56,844Z" />
      <path fill="#3dbbec" d="M523.17,831.72a.7.7,0,1,0,1,0A.69.69,0,0,0,523.17,831.72Z" />
      <path fill="#3dbbec" d="M493.22,816.41a2.1,2.1,0,1,0,3,0A2.1,2.1,0,0,0,493.22,816.41Z" />
      <path fill="#3dbbec" d="M465.52,799.79a2.1,2.1,0,1,0,3,0A2.11,2.11,0,0,0,465.52,799.79Z" />
      <path fill="#3dbbec" d="M438.5,780.19a3.19,3.19,0,1,0,4.52,0A3.18,3.18,0,0,0,438.5,780.19Z" />
      <path fill="#3dbbec" d="M418.6,759.07a3.49,3.49,0,1,0,0,4.94A3.48,3.48,0,0,0,418.6,759.07Z" />
      <path fill="#3dbbec" d="M397,735a5.19,5.19,0,1,0,0,7.34A5.2,5.2,0,0,0,397,735Z" />
      <path fill="#3dbbec" d="M367.58,709.27a6.79,6.79,0,1,0,9.6,0A6.79,6.79,0,0,0,367.58,709.27Z" />
      <path fill="#3dbbec" d="M360.4,681a9.68,9.68,0,1,0,0,13.69A9.68,9.68,0,0,0,360.4,681Z" />
      <path fill="#3dbbec" d="M329.44,652.64a10.58,10.58,0,1,0,15,0A10.58,10.58,0,0,0,329.44,652.64Z" />
      <circle fill="#3dbbec" cx="322.61" cy="631.16" r="11.78" transform="matrix(0.52, -0.85, 0.85, 0.52, -383.96, 574.62)" />
      <path fill="#3dbbec" d="M319,592.8a11.78,11.78,0,1,0,0,16.66A11.78,11.78,0,0,0,319,592.8Z" />
      <path fill="#3dbbec" d="M310.33,579.26a12.78,12.78,0,1,0-18.07,0A12.78,12.78,0,0,0,310.33,579.26Z" />
      <path fill="#3dbbec" d="M284.9,548.19a13.48,13.48,0,1,0,0-19.06A13.48,13.48,0,0,0,284.9,548.19Z" />
      <circle fill="#3dbbec" cx="290.15" cy="506.64" r="13.98" transform="translate(-290.69 447.56) rotate(-54.39)" />
      <path fill="#3dbbec" d="M298.67,484.54a14.38,14.38,0,1,0-20.33,0A14.36,14.36,0,0,0,298.67,484.54Z" />
      <circle fill="#3dbbec" cx="289.5" cy="442.09" r="14.28" />
      <circle fill="#3dbbec" cx="293.11" cy="409.99" r="14.67" transform="translate(-210.8 401.34) rotate(-53.46)" />
      <path fill="#3dbbec" d="M290.58,369.53a12.38,12.38,0,1,0,17.51,0A12.39,12.39,0,0,0,290.58,369.53Z" />
      <path fill="#3dbbec" d="M299.37,338.45a12.37,12.37,0,1,0,17.5,0A12.36,12.36,0,0,0,299.37,338.45Z" />
      <path fill="#3dbbec" d="M311.08,308.6a11.78,11.78,0,1,0,16.66,0A11.78,11.78,0,0,0,311.08,308.6Z" />
      <path fill="#3dbbec" d="M325.64,280.2a10.59,10.59,0,1,0,15,0A10.59,10.59,0,0,0,325.64,280.2Z" />
      <path fill="#3dbbec" d="M342.76,266.08a9.09,9.09,0,1,0,0-12.85A9.1,9.1,0,0,0,342.76,266.08Z" />
      <path fill="#3dbbec" d="M361.4,239.09a8.58,8.58,0,1,0,0-12.14A8.57,8.57,0,0,0,361.4,239.09Z" />
      <path fill="#3dbbec" d="M390.83,210.94a4.19,4.19,0,1,0-5.92,0A4.19,4.19,0,0,0,390.83,210.94Z" />
      <path fill="#3dbbec" d="M413.91,188.34a5.19,5.19,0,1,0-7.34,0A5.18,5.18,0,0,0,413.91,188.34Z" />
      <path fill="#3dbbec" d="M436.91,165.74a3.49,3.49,0,1,0-4.94,0A3.5,3.5,0,0,0,436.91,165.74Z" />
      <path fill="#3dbbec" d="M463.41,147a4.39,4.39,0,1,0-6.22,0A4.4,4.4,0,0,0,463.41,147Z" />
      <path fill="#3dbbec" d="M490,129.05a3.3,3.3,0,1,0-4.66,0A3.29,3.29,0,0,0,490,129.05Z" />
      <path fill="#3dbbec" d="M517.8,113.3a2.1,2.1,0,1,0-3,0A2.09,2.09,0,0,0,517.8,113.3Z" />
      <path fill="#3dbbec" d="M546.59,99.8a.7.7,0,0,0,0-1,.7.7,0,1,0,0,1Z" />
      <path fill="#3dbbec" d="M577.08,89.54a.4.4,0,1,0-.56,0A.39.39,0,0,0,577.08,89.54Z" />
      <path fill="#3dbbec" d="M800.2,91.82a.4.4,0,0,0,0-.57.4.4,0,0,0-.56,0,.4.4,0,0,0,0,.57A.4.4,0,0,0,800.2,91.82Z" />
      <path fill="#3dbbec" d="M831.4,103.19a1.4,1.4,0,0,0-2-2,1.4,1.4,0,0,0,2,2Z" />
      <path fill="#3dbbec" d="M861.42,116.81a2.1,2.1,0,1,0-3,0A2.1,2.1,0,0,0,861.42,116.81Z" />
      <path fill="#3dbbec" d="M890.76,133.28a3.5,3.5,0,1,0-4.94,0A3.51,3.51,0,0,0,890.76,133.28Z" />
      <path fill="#3dbbec" d="M911.83,152a4.89,4.89,0,1,0,0-6.91A4.86,4.86,0,0,0,911.83,152Z" />
      <circle fill="#3dbbec" cx="940.75" cy="168.43" r="4.89" />
      <path fill="#3dbbec" d="M987.2,167.62a3.9,3.9,0,1,0,0-5.51A3.9,3.9,0,0,0,987.2,167.62Z" />
      <circle fill="#3dbbec" cx="1011.93" cy="188.55" r="5.39" transform="translate(453 1052.93) rotate(-67.67)" />
      <path fill="#3dbbec" d="M1027.91,218a5.89,5.89,0,1,0,0-8.33A5.89,5.89,0,0,0,1027.91,218Z" />
      <path fill="#3dbbec" d="M1054.79,245a6.39,6.39,0,1,0-9,0A6.4,6.4,0,0,0,1054.79,245Z" />
      <circle fill="#3dbbec" cx="1066.43" cy="268.48" r="7.09" />
      <path fill="#3dbbec" d="M1085.59,292.43a7.29,7.29,0,1,0,0,10.31A7.27,7.27,0,0,0,1085.59,292.43Z" />
      <path fill="#3dbbec" d="M1099.3,320.6a10,10,0,1,0,0,14.11A10,10,0,0,0,1099.3,320.6Z" />
      <circle fill="#3dbbec" cx="1101.77" cy="358.53" r="9.98" transform="translate(69.18 884.08) rotate(-45)" />
      <path fill="#3dbbec" d="M1116.65,397.72a10.88,10.88,0,1,0-15.39,0A10.88,10.88,0,0,0,1116.65,397.72Z" />
      <circle fill="#3dbbec" cx="1113.77" cy="421.97" r="11.18" transform="translate(193.5 1178.04) rotate(-60.16)" />
      <circle fill="#3dbbec" cx="1116.19" cy="454.18" r="12.08" />
      <circle fill="#3dbbec" cx="1116.19" cy="486.49" r="12.08" transform="translate(246.14 1338.29) rotate(-67.94)" />
      <circle fill="#3dbbec" cx="1113.77" cy="518.7" r="11.18" transform="translate(106.18 1221.77) rotate(-59.88)" />
      <path fill="#3dbbec" d="M1100.63,542.32a11.78,11.78,0,1,0,16.66,0A11.78,11.78,0,0,0,1100.63,542.32Z" />
      <circle fill="#3dbbec" cx="1101.77" cy="582.15" r="10.88" transform="translate(-30.83 1101.78) rotate(-52.5)" />
      <path fill="#3dbbec" d="M1084.55,605.32a10.88,10.88,0,1,0,15.39,0A10.88,10.88,0,0,0,1084.55,605.32Z" />
      <path fill="#3dbbec" d="M1075.29,637.94a7.28,7.28,0,1,0,10.31,0A7.27,7.27,0,0,0,1075.29,637.94Z" />
      <path fill="#3dbbec" d="M1061.91,667.68a6.39,6.39,0,1,0,9,0A6.37,6.37,0,0,0,1061.91,667.68Z" />
      <path fill="#3dbbec" d="M1045.4,695.3a6.89,6.89,0,1,0,9.74,0A6.89,6.89,0,0,0,1045.4,695.3Z" />
      <path fill="#3dbbec" d="M1028.47,723.27a5.09,5.09,0,1,0,7.2,0A5.11,5.11,0,0,0,1028.47,723.27Z" />
      <path fill="#3dbbec" d="M1009.18,749.37a3.89,3.89,0,1,0,5.5,0A3.9,3.9,0,0,0,1009.18,749.37Z" />
      <circle fill="#3dbbec" cx="989.96" cy="775.81" r="4.59" transform="translate(-102.76 1398.59) rotate(-67.77)" />
      <circle fill="#3dbbec" cx="966.28" cy="797.78" r="2.6" />
      <path fill="#3dbbec" d="M939.18,816.09a2.6,2.6,0,1,0,3.67,0A2.6,2.6,0,0,0,939.18,816.09Z" />
      <path fill="#3dbbec" d="M912.56,834.36a2.5,2.5,0,1,0,3.53,0A2.5,2.5,0,0,0,912.56,834.36Z" />
      <path fill="#3dbbec" d="M885.5,851.43a1.2,1.2,0,1,0,1.69,0A1.19,1.19,0,0,0,885.5,851.43Z" />
      <path fill="#3dbbec" d="M857,866a.4.4,0,1,0,.56,0A.39.39,0,0,0,857,866Z" />
      <path fill="#3dbbec" d="M826.89,877.81a.4.4,0,0,0,0,.57.4.4,0,0,0,.56,0,.4.4,0,0,0,0-.57A.4.4,0,0,0,826.89,877.81Z" />
      <path fill="#3dbbec" d="M764.66,894.66a.21.21,0,0,0,0,.29.21.21,0,0,0,.28,0,.21.21,0,0,0,0-.29A.21.21,0,0,0,764.66,894.66Z"
      />
      <path fill="#3dbbec" d="M572.54,887.48a.2.2,0,1,0,.28,0A.19.19,0,0,0,572.54,887.48Z" />
      <path fill="#3dbbec" d="M541.67,878a.21.21,0,0,0,0,.29.21.21,0,0,0,.28,0,.21.21,0,0,0,0-.29A.2.2,0,0,0,541.67,878Z" />
      <path fill="#3dbbec" d="M511.45,866a.4.4,0,0,0,0,.56.4.4,0,0,0,.57,0,.4.4,0,0,0,0-.56A.4.4,0,0,0,511.45,866Z" />
      <path fill="#3dbbec" d="M482.28,851.92a.5.5,0,0,0,0,.71.51.51,0,0,0,.71,0,.5.5,0,0,0,0-.71A.5.5,0,0,0,482.28,851.92Z" />
      <path fill="#3dbbec" d="M453.38,834.85a1.8,1.8,0,1,0,2.54,0A1.8,1.8,0,0,0,453.38,834.85Z" />
      <path fill="#3dbbec" d="M425.7,815.66a3.2,3.2,0,1,0,4.52,0A3.19,3.19,0,0,0,425.7,815.66Z" />
      <circle fill="#3dbbec" cx="402.7" cy="797.78" r="2.6" />
      <circle fill="#3dbbec" cx="379.02" cy="775.81" r="3.89" />
      <circle fill="#3dbbec" cx="357.04" cy="752.13" r="5.09" />
      <path fill="#3dbbec" d="M341.7,722.07a6.79,6.79,0,1,0,0,9.6A6.79,6.79,0,0,0,341.7,722.07Z" />
      <path fill="#3dbbec" d="M313.83,695.3a6.89,6.89,0,1,0,9.74,0A6.9,6.9,0,0,0,313.83,695.3Z" />
      <path fill="#3dbbec" d="M296.48,666.13a8.58,8.58,0,1,0,12.14,0A8.59,8.59,0,0,0,296.48,666.13Z" />
      <path fill="#3dbbec" d="M281.83,636.38a9.49,9.49,0,1,0,13.41,0A9.48,9.48,0,0,0,281.83,636.38Z" />
      <circle fill="#3dbbec" cx="276.73" cy="613.02" r="11.78" transform="translate(-352.42 375.23) rotate(-45)" />
      <circle fill="#3dbbec" cx="267.21" cy="582.15" r="12.28" />
      <circle fill="#3dbbec" cx="260.02" cy="550.65" r="12.28" transform="translate(-313.21 345.14) rotate(-45)" />
      <path fill="#3dbbec" d="M246.38,509.88a12.48,12.48,0,1,0,17.65,0A12.49,12.49,0,0,0,246.38,509.88Z" />
      <path fill="#3dbbec" d="M243,496.3a13.87,13.87,0,1,0,0-19.62A13.87,13.87,0,0,0,243,496.3Z" />
      <path fill="#3dbbec" d="M243,444.37a13.88,13.88,0,1,0,19.62,0A13.88,13.88,0,0,0,243,444.37Z" />
      <path fill="#3dbbec" d="M246.73,413.5a12,12,0,1,0,16.94,0A12,12,0,0,0,246.73,413.5Z" />
      <circle fill="#3dbbec" cx="260.02" cy="390.02" r="12.28" />
      <circle fill="#3dbbec" cx="267.21" cy="358.53" r="12.28" transform="translate(-179.89 365.39) rotate(-54.18)" />
      <path fill="#3dbbec" d="M269.46,334.93a10.28,10.28,0,1,0,0-14.54A10.29,10.29,0,0,0,269.46,334.93Z" />
      <path fill="#3dbbec" d="M281.69,304.43a9.68,9.68,0,1,0,0-13.69A9.68,9.68,0,0,0,281.69,304.43Z" />
      <path fill="#3dbbec" d="M296.48,274.55a8.58,8.58,0,1,0,0-12.14A8.59,8.59,0,0,0,296.48,274.55Z" />
      <circle fill="#3dbbec" cx="318.7" cy="240.5" r="7.79" transform="translate(-70.21 150.19) rotate(-23.97)" />
      <circle fill="#3dbbec" cx="336.9" cy="213.81" r="6.89" transform="translate(-52.51 300.85) rotate(-45)" />
      <path fill="#3dbbec" d="M360.64,192.15a5.09,5.09,0,1,0-7.2,0A5.09,5.09,0,0,0,360.64,192.15Z" />
      <path fill="#3dbbec" d="M381.63,167.48a3.69,3.69,0,1,0-5.22,0A3.71,3.71,0,0,0,381.63,167.48Z" />
      <path fill="#3dbbec" d="M405.45,145.65a3.89,3.89,0,1,0-5.5,0A3.9,3.9,0,0,0,405.45,145.65Z" />
      <path fill="#3dbbec" d="M430.43,125.22a3.49,3.49,0,1,0-4.94,0A3.5,3.5,0,0,0,430.43,125.22Z" />
      <path fill="#3dbbec" d="M456.48,106.39a2.6,2.6,0,1,0-3.67,0A2.58,2.58,0,0,0,456.48,106.39Z" />
      <path fill="#3dbbec" d="M483.76,89.53a1.6,1.6,0,0,0-2.26-2.26,1.59,1.59,0,0,0,0,2.26A1.61,1.61,0,0,0,483.76,89.53Z" />
      <path fill="#3dbbec" d="M512,74.66a.4.4,0,0,0,0-.56.4.4,0,0,0-.57,0,.4.4,0,0,0,0,.56A.4.4,0,0,0,512,74.66Z" />
      <path fill="#3dbbec" d="M542.16,62.93a.5.5,0,1,0-.71-.7.5.5,0,0,0,0,.7A.5.5,0,0,0,542.16,62.93Z" />
      <path fill="#3dbbec" d="M573,53.41a.5.5,0,0,0,0-.71.5.5,0,1,0,0,.71Z" />
      <path fill="#3dbbec" d="M827.66,63.07a.68.68,0,0,0,0-1,.69.69,0,1,0-1,1A.68.68,0,0,0,827.66,63.07Z" />
      <path fill="#3dbbec" d="M858,75.16a1.1,1.1,0,1,0-1.55,0A1.09,1.09,0,0,0,858,75.16Z" />
      <path fill="#3dbbec" d="M887.2,89.25a1.22,1.22,0,0,0,0-1.7,1.2,1.2,0,0,0-1.7,1.7A1.22,1.22,0,0,0,887.2,89.25Z" />
      <path fill="#3dbbec" d="M916.16,106.39a2.6,2.6,0,1,0-3.67,0A2.58,2.58,0,0,0,916.16,106.39Z" />
      <path fill="#3dbbec" d="M943.49,125.22a3.49,3.49,0,1,0-4.94,0A3.5,3.5,0,0,0,943.49,125.22Z" />
      <path fill="#3dbbec" d="M963.81,145.36a3.49,3.49,0,1,0,0-4.94A3.48,3.48,0,0,0,963.81,145.36Z" />
      <path fill="#3dbbec" d="M1014.07,140.75a1.9,1.9,0,1,0,0-2.68A1.9,1.9,0,0,0,1014.07,140.75Z" />
      <circle fill="#3dbbec" cx="1037.46" cy="163.03" r="2.6" />
      <circle fill="#3dbbec" cx="1057.82" cy="188.11" r="2.79" transform="translate(9.21 422.16) rotate(-22.67)" />
      <path fill="#3dbbec" d="M1074.14,212.28a3.2,3.2,0,1,0,4.52,0A3.19,3.19,0,0,0,1074.14,212.28Z" />
      <path fill="#3dbbec" d="M1096.43,245.51a4.7,4.7,0,1,0-6.64,0A4.7,4.7,0,0,0,1096.43,245.51Z" />
      <path fill="#3dbbec" d="M1105.27,268.31a3.69,3.69,0,1,0,5.22,0A3.69,3.69,0,0,0,1105.27,268.31Z" />
      <path fill="#3dbbec" d="M1115.4,295.39a7.39,7.39,0,1,0,10.45,0A7.39,7.39,0,0,0,1115.4,295.39Z" />
      <path fill="#3dbbec" d="M1136.52,325.88a7.39,7.39,0,1,0,0,10.45A7.4,7.4,0,0,0,1136.52,325.88Z" />
      <path fill="#3dbbec" d="M1146.33,368.76a9.19,9.19,0,1,0-13,0A9.18,9.18,0,0,0,1146.33,368.76Z" />
      <path fill="#3dbbec" d="M1152.63,387.51a9.08,9.08,0,1,0,0,12.85A9.07,9.07,0,0,0,1152.63,387.51Z" />
      <circle fill="#3dbbec" cx="1150.38" cy="425.97" r="10.28" transform="translate(-2.2 5.98) rotate(-0.3)" />
      <circle fill="#3dbbec" cx="1152.33" cy="458.22" r="10.28" transform="translate(33.13 992.29) rotate(-47.2)" />
      <circle fill="#3dbbec" cx="1152.05" cy="490.53" r="9.78" />
      <path fill="#3dbbec" d="M1142.49,515.68a10,10,0,1,0,14.11,0A10,10,0,0,0,1142.49,515.68Z" />
      <path fill="#3dbbec" d="M1137.76,547.64a10,10,0,1,0,14.12,0A10,10,0,0,0,1137.76,547.64Z" />
      <path fill="#3dbbec" d="M1132.68,581a7.39,7.39,0,1,0,10.45,0A7.4,7.4,0,0,0,1132.68,581Z" />
      <path fill="#3dbbec" d="M1122.76,611.19a8.58,8.58,0,1,0,12.14,0A8.57,8.57,0,0,0,1122.76,611.19Z" />
      <path fill="#3dbbec" d="M1112.48,642.41a7.29,7.29,0,1,0,10.3,0A7.28,7.28,0,0,0,1112.48,642.41Z" />
      <path fill="#3dbbec" d="M1100.28,672.93a5.79,5.79,0,1,0,8.19,0A5.79,5.79,0,0,0,1100.28,672.93Z" />
      <path fill="#3dbbec" d="M1085.44,701.83a5.19,5.19,0,1,0,7.34,0A5.18,5.18,0,0,0,1085.44,701.83Z" />
      <circle fill="#3dbbec" cx="1071.92" cy="732.86" r="2.3" />
      <circle fill="#3dbbec" cx="1052.89" cy="758.96" r="2.6" />
      <path fill="#3dbbec" d="M1030.76,782.35a1.9,1.9,0,1,0,2.68,0A1.9,1.9,0,0,0,1030.76,782.35Z" />
      <path fill="#3dbbec" d="M1008.66,805.94a1.4,1.4,0,0,0,2,2,1.4,1.4,0,1,0-2-2Z" />
      <path fill="#3dbbec" d="M984.67,827.57a1.39,1.39,0,1,0,2,0A1.38,1.38,0,0,0,984.67,827.57Z" />
      <path fill="#3dbbec" d="M958.88,847.14a1.9,1.9,0,1,0,2.69,0A1.9,1.9,0,0,0,958.88,847.14Z" />
      <path fill="#3dbbec" d="M933,866.11a.7.7,0,0,0,1,1,.69.69,0,0,0,0-1A.71.71,0,0,0,933,866.11Z" />
      <path fill="#3dbbec" d="M905.05,882.34a.7.7,0,1,0,1,0A.71.71,0,0,0,905.05,882.34Z" />
      <path fill="#3dbbec" d="M876.28,896.82a.4.4,0,0,0,0,.57.4.4,0,0,0,.56,0,.4.4,0,0,0,0-.57A.4.4,0,0,0,876.28,896.82Z" />
      <circle fill="#3dbbec" cx="846.66" cy="909.34" r="0.5" />
      <path fill="#3dbbec" d="M529.77,911.93a.22.22,0,0,0,0,.29.21.21,0,0,0,.28,0,.21.21,0,0,0-.29-.29Z" />
      <circle fill="#3dbbec" cx="499.81" cy="900.36" r="0.4" />
      <circle fill="#3dbbec" cx="470.58" cy="886.59" r="0.4" />
      <path fill="#3dbbec" d="M441.53,870a1.2,1.2,0,0,0,1.69,1.69,1.2,1.2,0,1,0-1.69-1.69Z" />
      <path fill="#3dbbec" d="M414.47,852.34a1.19,1.19,0,0,0,0,1.69,1.2,1.2,0,1,0,0-1.69Z" />
      <path fill="#3dbbec" d="M388.7,832.85a1.2,1.2,0,0,0,0,1.7,1.19,1.19,0,0,0,1.69,0,1.2,1.2,0,0,0-1.69-1.7Z" />
      <path fill="#3dbbec" d="M364.19,811.5a1.4,1.4,0,1,0,2,0A1.39,1.39,0,0,0,364.19,811.5Z" />
      <path fill="#3dbbec" d="M343.68,791a1.9,1.9,0,1,0-2.69,0A1.9,1.9,0,0,0,343.68,791Z" />
      <path fill="#3dbbec" d="M319.29,763.44a2.6,2.6,0,1,0,3.67,0A2.58,2.58,0,0,0,319.29,763.44Z" />
      <circle fill="#3dbbec" cx="301.64" cy="739.5" r="5.09" />
      <path fill="#3dbbec" d="M279.46,707.93a6.39,6.39,0,1,0,9,0A6.4,6.4,0,0,0,279.46,707.93Z" />
      <circle fill="#3dbbec" cx="268.23" cy="684.24" r="7.09" />
      <circle fill="#3dbbec" cx="254.47" cy="655.01" r="7.09" />
      <circle fill="#3dbbec" cx="242.75" cy="624.91" r="8.88" transform="translate(-370.78 354.68) rotate(-45)" />
      <path fill="#3dbbec" d="M240.2,587a10,10,0,1,0,0,14.12A10,10,0,0,0,240.2,587Z" />
      <circle fill="#3dbbec" cx="225.68" cy="562.63" r="11.38" />
      <circle fill="#3dbbec" cx="220.4" cy="530.75" r="11.18" transform="translate(-185.18 123.59) rotate(-22.34)" />
      <circle fill="#3dbbec" cx="217.34" cy="498.59" r="12.48" />
      <path fill="#3dbbec" d="M209.45,459.24a10,10,0,1,0,14.11,0A10,10,0,0,0,209.45,459.24Z" />
      <path fill="#3dbbec" d="M209.78,442.14a11.48,11.48,0,1,0,0-16.24A11.49,11.49,0,0,0,209.78,442.14Z" />
      <path fill="#3dbbec" d="M213.19,410.25a11.78,11.78,0,1,0,0-16.66A11.78,11.78,0,0,0,213.19,410.25Z" />
      <path fill="#3dbbec" d="M222.19,375.29a7.29,7.29,0,1,0,0-10.31A7.27,7.27,0,0,0,222.19,375.29Z" />
      <path fill="#3dbbec" d="M229.84,344.34a7.79,7.79,0,1,0,0-11A7.79,7.79,0,0,0,229.84,344.34Z" />
      <circle fill="#3dbbec" cx="245.48" cy="308.16" r="7.59" />
      <path fill="#3dbbec" d="M262.52,283.06a6.79,6.79,0,1,0-9.6,0A6.79,6.79,0,0,0,262.52,283.06Z" />
      <path fill="#3dbbec" d="M276.5,253.79a6.39,6.39,0,1,0-9,0A6.37,6.37,0,0,0,276.5,253.79Z" />
      <path fill="#3dbbec" d="M292.74,225.86a6.39,6.39,0,1,0-9,0A6.39,6.39,0,0,0,292.74,225.86Z" />
      <path fill="#3dbbec" d="M309.59,197.85a4.59,4.59,0,1,0-6.49,0A4.61,4.61,0,0,0,309.59,197.85Z" />
      <path fill="#3dbbec" d="M328.1,171a2.6,2.6,0,1,0-3.67,0A2.58,2.58,0,0,0,328.1,171Z" />
      <path fill="#3dbbec" d="M349.52,146.79a2.29,2.29,0,1,0-3.24,0A2.28,2.28,0,0,0,349.52,146.79Z" />
      <path fill="#3dbbec" d="M372.48,124.07a1.9,1.9,0,1,0-2.69,0A1.91,1.91,0,0,0,372.48,124.07Z" />
      <path fill="#3dbbec" d="M396.85,102.92a1.39,1.39,0,1,0-2,0A1.38,1.38,0,0,0,396.85,102.92Z" />
      <path fill="#3dbbec" d="M423.24,84.17a1.8,1.8,0,1,0-2.54,0A1.8,1.8,0,0,0,423.24,84.17Z" />
      <path fill="#3dbbec" d="M450.1,66.49a1.1,1.1,0,1,0-1.55,0A1.09,1.09,0,0,0,450.1,66.49Z" />
      <path fill="#3dbbec" d="M477.94,50.59a.2.2,0,1,0-.28,0A.19.19,0,0,0,477.94,50.59Z" />
      <path fill="#3dbbec" d="M507.4,37.33a.2.2,0,1,0-.28,0A.19.19,0,0,0,507.4,37.33Z" />
      <path fill="#3dbbec" d="M537.85,26.28a.4.4,0,1,0-.57,0A.41.41,0,0,0,537.85,26.28Z" />
      <path fill="#3dbbec" d="M854.71,34.69a.7.7,0,1,0-1,0A.71.71,0,0,0,854.71,34.69Z" />
      <path fill="#3dbbec" d="M884.39,47.44a.69.69,0,0,0,0-1,.7.7,0,1,0,0,1Z" />
      <path fill="#3dbbec" d="M913.13,62.21a.7.7,0,1,0-1,0A.71.71,0,0,0,913.13,62.21Z" />
      <path fill="#3dbbec" d="M941.27,79.41a1.4,1.4,0,0,0-2-2,1.4,1.4,0,0,0,2,2Z" />
      <circle fill="#3dbbec" cx="966.71" cy="97.01" r="1.8" transform="translate(36.99 379.06) rotate(-22.61)" />
      <path fill="#3dbbec" d="M993.06,118.64a1.8,1.8,0,1,0-2.54,0A1.78,1.78,0,0,0,993.06,118.64Z" />
      <path fill="#3dbbec" d="M1083,163a.71.71,0,0,0,1,0l.08-.12-.95-1a.83.83,0,0,0-.12.08A.71.71,0,0,0,1083,163Z" />
      <circle fill="#3dbbec" cx="1119.61" cy="216.01" r="2.1" />
      <path fill="#3dbbec" d="M1134.87,244.27a.2.2,0,1,0,.28,0A.19.19,0,0,0,1134.87,244.27Z" />
      <path fill="#3dbbec" d="M1151.32,271a3.89,3.89,0,1,0,0,5.5A3.9,3.9,0,0,0,1151.32,271Z" />
      <path fill="#3dbbec" d="M1157.45,301.12a3.9,3.9,0,1,0,5.51,0A3.9,3.9,0,0,0,1157.45,301.12Z" />
      <path fill="#3dbbec" d="M1167.92,332.72a2.79,2.79,0,1,0,3.95,0A2.78,2.78,0,0,0,1167.92,332.72Z" />
      <path fill="#3dbbec" d="M1182.24,361.42a6.58,6.58,0,1,0,0,9.31A6.57,6.57,0,0,0,1182.24,361.42Z" />
      <path fill="#3dbbec" d="M1187.2,393.93a5.59,5.59,0,1,0,0,7.91A5.59,5.59,0,0,0,1187.2,393.93Z" />
      <path fill="#3dbbec" d="M1180.73,423.85a8.68,8.68,0,1,0,12.28,0A8.69,8.69,0,0,0,1180.73,423.85Z" />
      <circle fill="#3dbbec" cx="1188.42" cy="462.26" r="8.58" transform="translate(-1.99 5.16) rotate(-0.25)" />
      <path fill="#3dbbec" d="M1183.25,489.9a6.59,6.59,0,1,0,9.31,0A6.58,6.58,0,0,0,1183.25,489.9Z" />
      <path fill="#3dbbec" d="M1178.89,520.34a9.09,9.09,0,1,0,12.85,0A9.1,9.1,0,0,0,1178.89,520.34Z" />
      <circle fill="#3dbbec" cx="1180.67" cy="558.74" r="7.09" />
      <circle fill="#3dbbec" cx="1173.99" cy="590.35" r="7.09" />
      <path fill="#3dbbec" d="M1161,617.16a6.09,6.09,0,1,0,8.61,0A6.08,6.08,0,0,0,1161,617.16Z" />
      <path fill="#3dbbec" d="M1150.32,647.65a6.09,6.09,0,1,0,8.61,0A6.1,6.1,0,0,0,1150.32,647.65Z" />
      <path fill="#3dbbec" d="M1140.05,679.73a2.79,2.79,0,1,0,4,0A2.78,2.78,0,0,0,1140.05,679.73Z" />
      <path fill="#3dbbec" d="M1127.4,710.45a.2.2,0,1,0,.28,0A.19.19,0,0,0,1127.4,710.45Z" />
      <path fill="#3dbbec" d="M1111.1,738.34a.2.2,0,1,0,.28,0A.19.19,0,0,0,1111.1,738.34Z" />
      <path fill="#3dbbec" d="M1091.56,763.65a2.29,2.29,0,1,0,3.24,0A2.29,2.29,0,0,0,1091.56,763.65Z" />
      <path fill="#3dbbec" d="M979.07,878.68a.48.48,0,0,0,0,.7.5.5,0,0,0,.71,0,.5.5,0,0,0,0-.7A.5.5,0,0,0,979.07,878.68Z" />
      <path fill="#3dbbec" d="M952.49,896.94a.21.21,0,0,0,0,.29.21.21,0,0,0,.28,0,.21.21,0,0,0,0-.29A.21.21,0,0,0,952.49,896.94Z"
      />
      <path fill="#3dbbec" d="M924.6,913.25a.2.2,0,1,0,.28,0A.19.19,0,0,0,924.6,913.25Z" />
      <path fill="#3dbbec" d="M895.72,927.73a.2.2,0,1,0,.28,0A.19.19,0,0,0,895.72,927.73Z" />
      <path fill="#3dbbec" d="M865.83,940.19a.4.4,0,0,0,0,.57.4.4,0,0,0,.56,0,.4.4,0,0,0,0-.57A.4.4,0,0,0,865.83,940.19Z" />
      <path fill="#3dbbec" d="M517.89,945.91a.2.2,0,1,0,.28,0A.2.2,0,0,0,517.89,945.91Z" />
      <path fill="#3dbbec" d="M487.75,934.27a.2.2,0,1,0,.28,0A.19.19,0,0,0,487.75,934.27Z" />
      <path fill="#3dbbec" d="M458.42,920.72a.2.2,0,1,0,.28,0A.19.19,0,0,0,458.42,920.72Z" />
      <path fill="#3dbbec" d="M429.81,905.11a.49.49,0,1,0,.7,0A.48.48,0,0,0,429.81,905.11Z" />
      <path fill="#3dbbec" d="M402.31,887.78a.7.7,0,1,0,1,0A.7.7,0,0,0,402.31,887.78Z" />
      <path fill="#3dbbec" d="M377.45,868.52a1.19,1.19,0,0,0-1.69,0s-.05.08-.08.12l1.66,1.65s.08,0,.11-.08A1.19,1.19,0,0,0,377.45,868.52Z"
      />
      <path fill="#3dbbec" d="M287.29,776.38a2.6,2.6,0,0,0-3.67,0,1,1,0,0,1-.08.11l3.65,3.65.1-.08A2.6,2.6,0,0,0,287.29,776.38Z"
      />
      <path fill="#3dbbec" d="M264.72,750.19a2.6,2.6,0,1,0,3.67,0A2.58,2.58,0,0,0,264.72,750.19Z" />
      <circle fill="#3dbbec" cx="249.36" cy="724.67" r="0.2" />
      <path fill="#3dbbec" d="M233.12,695.42a1.2,1.2,0,1,0,1.69,0A1.19,1.19,0,0,0,233.12,695.42Z" />
      <path fill="#3dbbec" d="M223.17,664.18a3.9,3.9,0,1,0,0,5.51A3.9,3.9,0,0,0,223.17,664.18Z" />
      <path fill="#3dbbec" d="M203.55,631.57a7.39,7.39,0,1,0,10.44,0A7.38,7.38,0,0,0,203.55,631.57Z" />
      <path fill="#3dbbec" d="M204.31,600.75a7.39,7.39,0,1,0,0,10.45A7.4,7.4,0,0,0,204.31,600.75Z" />
      <path fill="#3dbbec" d="M197.53,580.74a8.68,8.68,0,1,0-12.28,0A8.69,8.69,0,0,0,197.53,580.74Z" />
      <path fill="#3dbbec" d="M179.3,536.37a9.08,9.08,0,1,0,12.85,0A9.07,9.07,0,0,0,179.3,536.37Z" />
      <path fill="#3dbbec" d="M175.82,504.4a8.89,8.89,0,1,0,12.57,0A8.89,8.89,0,0,0,175.82,504.4Z" />
      <path fill="#3dbbec" d="M174.27,472.13a8.88,8.88,0,1,0,12.56,0A8.89,8.89,0,0,0,174.27,472.13Z" />
      <circle fill="#3dbbec" cx="181.07" cy="446.11" r="9.78" />
      <path fill="#3dbbec" d="M178.79,418.78a6.89,6.89,0,1,0,0-9.74A6.89,6.89,0,0,0,178.79,418.78Z" />
      <circle fill="#3dbbec" cx="188.3" cy="381.94" r="6.89" transform="translate(-214.92 245.01) rotate(-45)" />
      <path fill="#3dbbec" d="M200,355.34a7.09,7.09,0,1,0-10,0A7.11,7.11,0,0,0,200,355.34Z" />
      <circle fill="#3dbbec" cx="203.68" cy="319.21" r="7.39" />
      <path fill="#3dbbec" d="M219.36,293.73a7.09,7.09,0,1,0-10,0A7.09,7.09,0,0,0,219.36,293.73Z" />
      <path fill="#3dbbec" d="M260.07,204.52a3.3,3.3,0,1,0-4.66,0A3.31,3.31,0,0,0,260.07,204.52Z" />
      <path fill="#3dbbec" d="M273.68,177.52a3,3,0,1,0,1.58-5.06l-2.41,2.41A3,3,0,0,0,273.68,177.52Z" />
      <path fill="#3dbbec" d="M297.37,151.66a2.59,2.59,0,0,0,.74-2l-2.79,2.79A2.6,2.6,0,0,0,297.37,151.66Z" />
      <path fill="#3dbbec" d="M390.33,62.42a1.1,1.1,0,1,0-1.56,0A1.1,1.1,0,0,0,390.33,62.42Z" />
      <circle fill="#3dbbec" cx="416.34" cy="43.59" r="0.7" transform="translate(91.12 307.17) rotate(-45)" />
      <path fill="#3dbbec" d="M444.73,27.78a.7.7,0,1,0-1,0A.71.71,0,0,0,444.73,27.78Z" />
      <path fill="#3dbbec" d="M503,.34a.19.19,0,0,0,0-.28.19.19,0,0,0-.28,0,.19.19,0,0,0,0,.28A.19.19,0,0,0,503,.34Z" />
      <path fill="#3dbbec" d="M881.58,6.76a.71.71,0,0,0,0-1,.69.69,0,0,0-1,0,.7.7,0,0,0,1,1Z" />
      <path fill="#3dbbec" d="M939,35.35a.21.21,0,0,0,0-.28.21.21,0,0,0-.29,0,.21.21,0,0,0,0,.28A.21.21,0,0,0,939,35.35Z" />
      <path fill="#3dbbec" d="M992.09,71.59a.4.4,0,0,0,.56,0,.42.42,0,0,0,.08-.12L992.2,71a.41.41,0,0,0-.11.07A.4.4,0,0,0,992.09,71.59Z"
      />
      <path fill="#3dbbec" d="M1188.76,277a.2.2,0,1,0-.28,0A.19.19,0,0,0,1188.76,277Z" />
      <path fill="#3dbbec" d="M1205.79,336.06a3.3,3.3,0,1,0,4.66,0A3.29,3.29,0,0,0,1205.79,336.06Z" />
      <path fill="#3dbbec" d="M1217.05,368a2.79,2.79,0,1,0,0,3.95A2.79,2.79,0,0,0,1217.05,368Z" />
      <path fill="#3dbbec" d="M1223.37,398.61a4.59,4.59,0,1,0,0,6.49A4.58,4.58,0,0,0,1223.37,398.61Z" />
      <path fill="#3dbbec" d="M1220,430.76a4.59,4.59,0,1,0,6.49,0A4.59,4.59,0,0,0,1220,430.76Z" />
      <path fill="#3dbbec" d="M1221,462.84a4.89,4.89,0,1,0,6.92,0A4.89,4.89,0,0,0,1221,462.84Z" />
      <path fill="#3dbbec" d="M1219.79,494.65a5.59,5.59,0,1,0,7.91,0A5.59,5.59,0,0,0,1219.79,494.65Z" />
      <path fill="#3dbbec" d="M1217.14,526.84a5.59,5.59,0,1,0,7.91,0A5.6,5.6,0,0,0,1217.14,526.84Z" />
      <path fill="#3dbbec" d="M1215,561.3a2.1,2.1,0,1,0,3,0A2.09,2.09,0,0,0,1215,561.3Z" />
      <path fill="#3dbbec" d="M1206.22,590.62a5.39,5.39,0,1,0,7.63,0A5.4,5.4,0,0,0,1206.22,590.62Z" />
      <path fill="#3dbbec" d="M1201.53,625.5a.2.2,0,1,0,.28,0A.19.19,0,0,0,1201.53,625.5Z" />
      <path fill="#3dbbec" d="M1191.32,656.15a.2.2,0,1,0,.28,0A.19.19,0,0,0,1191.32,656.15Z" />
      <path fill="#3dbbec" d="M885.39,971.38a.2.2,0,0,0,0,.28.21.21,0,0,0,.29,0,.2.2,0,0,0-.28-.28Z" />
      <path fill="#3dbbec" d="M855.05,982.5a.21.21,0,0,0,0,.29.21.21,0,0,0,.28,0,.21.21,0,0,0,0-.29A.21.21,0,0,0,855.05,982.5Z"
      />
      <path fill="#3dbbec" d="M475.83,968.31a.21.21,0,0,0,0,.29.21.21,0,0,0,.28,0,.21.21,0,0,0,0-.29A.21.21,0,0,0,475.83,968.31Z"
      />
      <path fill="#3dbbec" d="M189.12,676.1a3.89,3.89,0,0,0-5.5,0,1.78,1.78,0,0,0-.22.26l5.46,5.46c.09-.08.18-.14.26-.22A3.89,3.89,0,0,0,189.12,676.1Z"
      />
      <circle fill="#3dbbec" cx="174.79" cy="648.69" r="0.2" />
      <path fill="#3dbbec" d="M166.38,616.54a1.9,1.9,0,1,0,0,2.69A1.91,1.91,0,0,0,166.38,616.54Z" />
      <path fill="#3dbbec" d="M152.48,591.21a6.59,6.59,0,1,0,0-9.31A6.58,6.58,0,0,0,152.48,591.21Z" />
      <path fill="#3dbbec" d="M146.48,559.47a6.59,6.59,0,1,0,0-9.32A6.58,6.58,0,0,0,146.48,559.47Z" />
      <path fill="#3dbbec" d="M151.7,527.42a6.59,6.59,0,1,0-9.32,0A6.6,6.6,0,0,0,151.7,527.42Z" />
      <path fill="#3dbbec" d="M149.52,495.19a6.59,6.59,0,1,0-9.31,0A6.58,6.58,0,0,0,149.52,495.19Z" />
      <path fill="#3dbbec" d="M138.55,464.29a8.58,8.58,0,1,0,0-12.14A8.59,8.59,0,0,0,138.55,464.29Z" />
      <path fill="#3dbbec" d="M150.41,430.05a5.79,5.79,0,1,0-8.19,0A5.79,5.79,0,0,0,150.41,430.05Z" />
      <path fill="#3dbbec" d="M153.88,397.8a5.59,5.59,0,1,0-7.9,0A5.57,5.57,0,0,0,153.88,397.8Z" />
      <path fill="#3dbbec" d="M160.12,366.68a6.59,6.59,0,1,0-9.32,0A6.59,6.59,0,0,0,160.12,366.68Z" />
      <circle fill="#3dbbec" cx="1252.35" cy="373.85" r="2.3" />
      <path fill="#3dbbec" d="M1258.49,404.22a2.3,2.3,0,1,0,0,3.25A2.31,2.31,0,0,0,1258.49,404.22Z" />
      <path fill="#3dbbec" d="M1257.25,435.71a3.3,3.3,0,1,0,4.66,0A3.3,3.3,0,0,0,1257.25,435.71Z" />
      <path fill="#3dbbec" d="M1259,468.85a2.11,2.11,0,0,0,0,3,2.1,2.1,0,1,0,3-3A2.12,2.12,0,0,0,1259,468.85Z" />
      <path fill="#3dbbec" d="M1256.62,499.67a4.19,4.19,0,1,0,5.93,0A4.19,4.19,0,0,0,1256.62,499.67Z" />
      <path fill="#3dbbec" d="M1255.59,533.56a1.8,1.8,0,1,0,2.55,0A1.8,1.8,0,0,0,1255.59,533.56Z" />
      <path fill="#3dbbec" d="M1251.08,565.55a1.8,1.8,0,1,0,2.54,0A1.8,1.8,0,0,0,1251.08,565.55Z" />
      <path fill="#3dbbec" d="M1245.9,598.37a.21.21,0,0,0,0,.28.21.21,0,0,0,.29,0,.21.21,0,0,0,0-.28A.21.21,0,0,0,1245.9,598.37Z"
      />
      <path fill="#3dbbec" d="M120.6,596.18a3.3,3.3,0,1,0,4.66,0A3.29,3.29,0,0,0,120.6,596.18Z" />
      <path fill="#3dbbec" d="M118.6,568.8a2.8,2.8,0,1,0-3.95,0A2.81,2.81,0,0,0,118.6,568.8Z" />
      <path fill="#3dbbec" d="M115.36,538.07a4.59,4.59,0,1,0-6.5,0A4.59,4.59,0,0,0,115.36,538.07Z" />
      <path fill="#3dbbec" d="M112.64,505.88a4.59,4.59,0,1,0-6.49,0A4.59,4.59,0,0,0,112.64,505.88Z" />
      <circle fill="#3dbbec" cx="108.49" cy="470.34" r="4.89" />
      <path fill="#3dbbec" d="M112.64,441.29a4.59,4.59,0,1,0-6.49,0A4.61,4.61,0,0,0,112.64,441.29Z" />
      <path fill="#3dbbec" d="M115.36,409.09a4.59,4.59,0,1,0-6.5,0A4.59,4.59,0,0,0,115.36,409.09Z" />
      <path fill="#3dbbec" d="M118.6,375.83a2.79,2.79,0,1,0-3.95,0A2.79,2.79,0,0,0,118.6,375.83Z" />
      <path fill="#3dbbec" d="M1288.46,376.8a1.41,1.41,0,0,0,0,2,1.39,1.39,0,0,0,2,0,1.4,1.4,0,1,0-2-2Z" />
      <path fill="#3dbbec" d="M1295.06,441.3a1.1,1.1,0,1,0,1.55,0A1.09,1.09,0,0,0,1295.06,441.3Z" />
      <path fill="#3dbbec" d="M1295,472.89a2.1,2.1,0,1,0,3,0A2.1,2.1,0,0,0,1295,472.89Z" />
      <path fill="#3dbbec" d="M1294.63,505.89a1.1,1.1,0,1,0,1.55,0A1.09,1.09,0,0,0,1294.63,505.89Z" />
      <path fill="#3dbbec" d="M1292.5,538.72a.2.2,0,1,0,.28,0A.19.19,0,0,0,1292.5,538.72Z" />
      <path fill="#3dbbec" d="M1288,570.72a.21.21,0,0,0,0,.28.21.21,0,0,0,.29,0,.21.21,0,0,0,0-.28A.21.21,0,0,0,1288,570.72Z" />
      <path fill="#3dbbec" d="M83.32,576.27l1.4,1.41a2.73,2.73,0,0,0-1.4-1.41Z" />
      <path fill="#3dbbec" d="M75.67,545.26a2.29,2.29,0,1,0,3.25,0A2.28,2.28,0,0,0,75.67,545.26Z" />
      <path fill="#3dbbec" d="M76.43,517.06a3.3,3.3,0,1,0-4.66,0A3.29,3.29,0,0,0,76.43,517.06Z" />
      <path fill="#3dbbec" d="M74.94,484.78a3.3,3.3,0,1,0-4.66,0A3.31,3.31,0,0,0,74.94,484.78Z" />
      <path fill="#3dbbec" d="M75.15,452.47a3.3,3.3,0,1,0-4.66,0A3.29,3.29,0,0,0,75.15,452.47Z" />
      <path fill="#3dbbec" d="M76,419.16a1.8,1.8,0,1,0-2.54,0A1.8,1.8,0,0,0,76,419.16Z" />
      <path fill="#3dbbec" d="M80,387.41a2.3,2.3,0,1,0-3.25,0A2.29,2.29,0,0,0,80,387.41Z" />
      <path fill="#3dbbec" d="M1329.67,413.51a.49.49,0,1,0,.7,0A.48.48,0,0,0,1329.67,413.51Z" />
      <path fill="#3dbbec" d="M1332.08,478.06a.5.5,0,1,0,.71,0A.51.51,0,0,0,1332.08,478.06Z" />
      <path fill="#3dbbec" d="M1331.09,510.56a.2.2,0,1,0,.28,0A.19.19,0,0,0,1331.09,510.56Z" />
      <circle fill="#3dbbec" cx="38.95" cy="526.82" r="1.8" transform="translate(-361.11 181.85) rotate(-45)" />
      <path fill="#3dbbec" d="M36.16,493.79a1.1,1.1,0,1,0,1.56,1.56,1.1,1.1,0,0,0-1.56-1.56Z" />
      <path fill="#3dbbec" d="M38,463.74a2.09,2.09,0,1,0-3,0A2.09,2.09,0,0,0,38,463.74Z" />
      <path fill="#3dbbec" d="M38.52,430.75a1.1,1.1,0,1,0-1.55,0A1.09,1.09,0,0,0,38.52,430.75Z" />
      <path fill="#3dbbec" d="M.85,474.73a.5.5,0,0,0,0-.71.5.5,0,0,0-.7,0,.5.5,0,0,0,0,.71A.5.5,0,0,0,.85,474.73Z" />
    </g>
  </g>
</svg>