<div class="container">
  <div class="page-container">
    <app-copters></app-copters>
    <h2 class="text semibold center">Оплата</h2>
    <div class="horizontal-divider"></div>
    <div class="top-info">
      <div class="left">
        <div class="text semibold">При оплате заказа банковской картой, обработка платежа (включая ввод номера карты) происходит
          на защищенной странице процессинговой системы, которая прошла международную сертификацию.
        </div>
        <div class="text small">Это значит, что Ваши конфиденциальные данные (реквизиты карты, регистрационные данные и др.)
          не поступают в интернет-магазин, их обработка полностью защищена и никто, в том числе наш интернет- магазин, не
          может получить персональные и банковские данные клиента.
        </div>
        <div class="ps-img">
          <img src="assets/img/ps-bc.png">
        </div>
      </div>
      <div class="copt-pay-wrapper">
        <img class="copt-pay" src="assets/img/copt-pay.png">
      </div>
    </div>
    <div class="shadow-block">
      <div class="row">
        <div class="text small">При работе с карточными данными применяется стандарт защиты информации, разработанный международными
          платёжными системами <a class="blue" href="https://www.visa.com.ru/">Visa</a> и <a class="blue" href="https://www.mastercard.ru/ru-ru.html">MasterCard</a> - Payment Card Industry Data Security Standard (PCI DSS), что обеспечивает
          безопасную обработку реквизитов Банковской карты<br> Держателя.
        </div>
      </div>
      <div class="horizontal-divider"></div>
      <div class="row price">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"
          viewBox="0 0 48 55" style="enable-background:new 0 0 48 55;" xml:space="preserve">
          <path fill="#4AC7E5" d="M20.6,27.5L9.5,2.3C19.9-2.2,32,0,40,8.1C50.7,18.7,50.7,36.3,40,47S11.8,57.7,1.1,47L20.6,27.5z" />
          <ellipse fill="#F9F9F9" cx="20.6" cy="27.5" rx="20.6" ry="20.6" />
          <path fill="#F26522" d="M26.8,24.8h-1.7v-3c0-2.5-2-4.6-4.6-4.6s-4.6,2-4.6,4.6v3h-1.7c-1.2,0-2.1,0.9-2.1,2.1v8.7     c0,1.2,0.9,2.1,2.1,2.1h12.5c1.2,0,2.1-0.9,2.1-2.1V27C28.9,25.8,28,24.8,26.8,24.8z M17.6,21.9c0-1.7,1.3-3,3-3c1.7,0,3,1.3,3,3     v3h-6V21.9z M27.4,35.7c0,0.3-0.2,0.5-0.5,0.5H14.3c-0.3,0-0.5-0.2-0.5-0.5V27c0-0.3,0.2-0.5,0.5-0.5h2.5h7.6h2.5     c0.3,0,0.5,0.2,0.5,0.5L27.4,35.7L27.4,35.7z"
          />
        </svg>
        <div class="text">Применяемая технология передачи данных гарантирует безопасность по сделкам с Банковскими картами
          путем использования протоколов Transport Layer Security (TLS), Verified by Visa, Secure Code, и закрытых банковских
          сетей, имеющих высшую степень защиты. </div>
      </div>
    </div>

    <div class="about-block">
      <h3 class="text semibold"> Возврат денежных средств </h3>
      <div class="row">
        <div class="crd-img">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79 48">
            <path fill="none" d="M33.22,34.72H48.08a1.94,1.94,0,0,0,0-3.87H33.22a18.77,18.77,0,0,1,0,3.87Z" />
            <path fill="#4ac7e5" d="M75.56,0H22.64A3.45,3.45,0,0,0,19.2,3.48v4a1.15,1.15,0,0,0,1.15,1.16H77.73A1.11,1.11,0,0,0,79,7.49v-4A3.45,3.45,0,0,0,75.56,0Z"
            />
            <path fill="#4ac7e5" d="M77.85,17.55H26.1a19.57,19.57,0,0,1,7.12,13.3H48.08a1.94,1.94,0,0,1,0,3.87H33.22a19.48,19.48,0,0,1-3,8.65H75.56A3.45,3.45,0,0,0,79,39.88V18.72A1.15,1.15,0,0,0,77.85,17.55Z"
            />
            <path fill="#f26522" d="M14.91,17.57A15.08,15.08,0,0,0,0,31.17H16.67l-4.26-5.41a1.67,1.67,0,0,1,.25-2.25,1.58,1.58,0,0,1,2.22.25l6.32,8a1.93,1.93,0,0,1,.35,1,1.41,1.41,0,0,1-.35,1l-6.32,8a1.57,1.57,0,0,1-2.22.25,1.71,1.71,0,0,1-.25-2.26l4.26-5.41H0A15.08,15.08,0,0,0,14.91,48a15.22,15.22,0,0,0,0-30.43Z"
            />
          </svg>
        </div>
        <div class="text">При оплате заказа банковской картой возврат денежных средств производится на ту карту, с которой
          был произведен платеж.</div>
      </div>
    </div>
  </div>
</div>
