.page-container {
    background: white;
    position: relative;

    h2.text.semibold.center {
        width: 500px;
        padding: 55px 0 40px;
        margin: 0 auto;
    }

    .top-info {
        padding: 50px 140px;
        position: relative;

        .left {
            display: flex;
            flex-direction: column;
        }

        .copt-pay {
            position: absolute;
            right: 65px;
            top: 50px;
        }

        .text {
            margin-bottom: 30px;
            width: 530px;
        }

        .ps-img {
            margin-top: 40px;
            margin-bottom: 10px;
        }
    }

    .shadow-block {
        .row {
            padding: 40px 60px;

            .title {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .text.blue {
                    font-size: 18px;
                    margin-bottom: 12px;
                }
            }
        }

        .row.price {
            padding: 30px 60px 45px;
            align-items: center;

            svg {
                height: 55px;
                width: 55px;
                margin-right: 20px;
                flex-shrink: 0;
                flex-grow: 0;
            }

            .text {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }

    .about-block {
        padding: 212px 200px 100px;
        background: #f5f5f5;
        margin-top: -132px;

        h3 {
            text-align: left;
            margin-bottom: 40px;
        }

        .row {
            .crd-img {
                margin-right: 35px;

                svg {
                    height: 50px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: initial;
        padding: 0;

        .page-container {
            padding: 0 15px;
            margin-bottom: -60px;
            margin-top: 80px;

            .horizontal-divider {
                width: calc(100% + 30px);
                margin: 0 -15px;
            }

            h2.text.semibold.center {
                width: initial;
                font-size: 22px;
            }

            .top-info {
                padding: 50px 0;

                .text {
                    width: initial;
                }

                .left {
                    align-items: center;
                }

                .copt-pay-wrapper {
                    display: flex;
                    justify-content: center;
                    margin-top: 40px;
                }

                .ps-img {
                    max-width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .copt-pay {
                    position: initial;
                }
            }

            .shadow-block {
                margin: 0 -20px;
                border-radius: 0;
            }

            .about-block {
                padding: 100px 60px 100px;
                margin: 0 -15px;

                .crd-img {
                    margin-bottom: 20px;
                }

                .row {
                    flex-direction: column;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        max-width: initial;
        padding: 0;

        .page-container {
            margin: 30px;

            .top-info {
                padding: 50px 60px;

                .left {
                    align-items: center;
                }

                .copt-pay-wrapper {
                    display: flex;
                    justify-content: center;
                    margin-top: 40px;
                }

                .copt-pay {
                    position: initial;
                }
            }

            .shadow-block {
                margin: 0 -20px;
                border-radius: 0;
            }

            .about-block {
                padding: 212px 60px 100px;
            }
        }
    }
}

@media (min-width: 1200px) {}
