<div class="fullwindow">
  <div class="triangle-top" #triangletop></div>
  <div class="calendar z-depth-2">
    <div class="month-select left" (click)="curentPosition=0">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="month-select right" (click)="curentPosition=2">
      <i class="fas fa-chevron-right"></i>
    </div>
    <div class="whitespace l"></div>
    <div class="whitespace r"></div>
    <gm-carousel [currentPosition]="curentPosition" (eventAnimationDone)="onCalendarAnimationDone($event)" *ngIf="mode=='dateSelection'">
      <gm-carousel-item *ngFor="let calendar of calendars">
        <gm-days-part [calendar]="calendar" [selectedDate]="date" [isFocused]="calendarFocused" (onFocusChange)="calendarFocused = $event"
          [focusedDate]="focusedDate" [maxDate]="maxDate" [minDate]="minDate" (onDateSelect)="selectDate($event)" (onMonthClick)="changeMode('yearSelection')"></gm-days-part>
      </gm-carousel-item>
    </gm-carousel>
    <gm-carousel [currentPosition]="curentPosition" (eventAnimationDone)="onCalendarAnimationDone($event)" *ngIf="mode=='yearSelection'">
      <gm-carousel-item *ngFor="let yearCol of years">
        <gm-year-part [yearCollection]="yearCol" [selectedDate]="date" [isFocused]="calendarFocused" (onFocusChange)="calendarFocused = $event"
          [focusedDate]="focusedDate" [selectedYear]="selectedYear" [maxDate]="maxDate" [minDate]="minDate" (onYearSelect)="selectYear($event)"
          (onYearClick)="changeMode('monthSelection')"></gm-year-part>
      </gm-carousel-item>
    </gm-carousel>


    <gm-carousel [currentPosition]="curentPosition" (eventAnimationDone)="onCalendarAnimationDone($event)" *ngIf="mode=='monthSelection'">
      <gm-carousel-item *ngFor="let year of textYears">
        <gm-month-part [year]="year" [selectedDate]="date" [isFocused]="calendarFocused" (onFocusChange)="calendarFocused = $event"
          [focusedDate]="focusedDate" [selectedYear]="selectedYear" [maxDate]="maxDate" [minDate]="minDate" (onMonthSelect)="selectMonth($event)"
          (onYearClick)="changeMode('dateSelection')"></gm-month-part>
      </gm-carousel-item>
    </gm-carousel>
  </div>
  <div class="triangle-bottom" #trianglebottom></div>
</div>
