@import "../../Styles/gm-styles.scss";
.fullwindow {
    pointer-events: all;
    .triangle-top {
        width: 0;
        height: 0;
        border-style: solid;
        margin-left: 253px;
        border-width: 0 7.5px 6px 7.5px;
        border-color: transparent transparent #ffffff transparent;
        position: relative;
        z-index: 2;
    }
    .triangle-bottom {
        width: 0;
        height: 0;
        margin-left: 253px;
        border-style: solid;
        border-width: 6px 7.5px 0 7.5px;
        border-color: #ffffff transparent transparent transparent;
        position: relative;
    }
    .calendar {
        width: 295px;
        height: auto;
        color: #1c1c1c;
        padding: 16px 0;
        box-sizing: border-box;
        position: relative;
        background: white;
        border-radius: $borderradius;
        overflow: hidden;
        .month-select {
            position: absolute;
            top: 24px;
            cursor: pointer;
            z-index: 10;
            font-size: 20px;
            color: #d2d6da;
        }
        .month-select:hover {
            color: $accentcolor;
        }
        .right {
            right: 32px;
        }
        .left {
            left: 32px;
        }
        .whitespace {
            height: 100%;
            position: absolute;
            top: 0;
            width: 29px;
            z-index: 10;
        }
        .whitespace.l {
            left: 0;
            background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0) 100%);
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0) 100%);
            background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
        }
        .whitespace.r {
            right: 0;
            background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 1) 100%);
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 1) 100%);
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
        }
    }
}

.dateBox {
    width: 912px;
    transform: translate3d(-294px, 0, 0);
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
}

.weekdays {
    margin: 0 -9px 2px;
    overflow: hidden;
}

.weekDay {
    width: 25px;
    height: 25px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    color: #2b3980;
    cursor: pointer;
    float: left;
    margin: 3px 6px;
    font-weight: 500;
}

.confButton {
    position: absolute;
    bottom: 31px;
    left: 29px;
}

.hidden {
    display: none;
}