<div class="expansion-panel" [ngClass]="state">
  <div class="border"></div>
  <div class="titlePanel" (click)="collapseExpand()">
    <div class="questcont">
      <div class="title text semibold">{{title}}</div>
      <div class="subtitle">{{subTitle}}</div>
      <div class="content" [@collapseExpand]="state">
        <div class="innercontent">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
    <div class="rightblock">
      <div class="line"></div>
      <div class="text semiblod" [ngClass]="openColor">{{openText}}</div>
      <div class="plus">
        <svg class="closed" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
          <g>
            <circle fill="#9de4ff" stroke-miterlimit="10" cx="18" cy="18" r="17.5" />
            <path fill="#fff" d="M18.77,17.13h6.05v1.53H18.77v6.59H17.11V18.66H11.18V17.13h5.93V10.75h1.66Z" />
          </g>
        </svg>
        <svg class="closedHover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
          <g>
            <circle fill="#f26522" cx="17.5" cy="17.5" r="17.5" />
            <path fill="#fff" d="M18.77,17.13h6.05v1.53H18.77v6.59H17.11V18.66H11.18V17.13h5.93V10.75h1.66Z" />
          </g>
        </svg>
        <svg class="opened" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
          <g>
            <circle fill="#acacac" cx="17.5" cy="17.5" r="17.5" />
            <path fill="#fff" d="M22.85,18.69h-9.7V17.31h9.7Z" />
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>
