.expansion-panel {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;

    .border {
        height: 100%;
        width: 100%;
        border: 1px solid #d4d4d4;
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
    }

    .titlePanel {
        position: relative;
        padding: 35px 40px;
        cursor: pointer;
        display: flex;

        .questcont {
            position: relative;
            height: 100%;
            width: 100%;

            .title {
                font-weight: 500;
                font-size: 22px;
                color: #24498b;
                margin-bottom: 10px;
            }

            .subtitle {
                font-size: 14px;
                color: white;
                background: #f26522;
                display: inline-block;
                padding: 5px 15px;
                border-radius: 12px;
            }
        }

        .rightblock {
            min-height: 100%;
            flex-grow: 0;
            flex-shrink: 0;
            right: 0px;
            top: 0px;
            padding: 35px 40px;
            display: flex;
            flex-direction: row;
            align-items: center;

            .line {
                width: 1px;
                height: 100%;
                background: #e1e1e1;
                flex-grow: 0;
                flex-shrink: 0;
                margin-right: 40px;
            }

            .text {
                width: 75px;
                font-size: 14px;
                font-family: "ProximaNovaSemibold";
                margin-right: 30px;
            }

            .text.gray {
                color: #acacac;
            }

            .plus {
                height: 36px;
                width: 36px;
                overflow: hidden;
                flex-grow: 0;
                flex-shrink: 0;
            }
        }
    }
}

.expansion-panel.closed .titlePanel .plus .closedHover {
    display: none;
}

.expansion-panel.closed .titlePanel:hover .plus .closed {
    display: none;
}

.expansion-panel.closed .titlePanel:hover .plus .closedHover {
    display: block;
}

.expansion-panel.opened .titlePanel .plus .closedHover {
    display: none;
}

.expansion-panel.opened .titlePanel .plus .closed {
    display: none;
}

.expansion-panel.closed .titlePanel .plus .opened {
    display: none;
}

.expansion-panel:hover {
    .border {
        background: #E1E1E1;
    }

    .titlePanel {
        .rightblock {
            .line {
                background: white;
            }
        }
    }
}

.content {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 1;
}

.innercontent {
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 25px;
}

@media screen and (max-width: 576px) {
    .titlePanel {
        padding-right: 75px;
    }

    .title.largetext {
        font-size: 16px;
    }

    .border {
        border-left: none;
        border-right: none;
    }
}

@media (max-width: 767px) {
    .expansion-panel {
        .titlePanel {
            flex-direction: column;

            .rightblock {
                padding: 0;
                justify-content: flex-end;
                margin-top: -30px;
                
                .line {
                    display: none;
                }
    
                .text {
                    display: none;
                }
            }
        }
    }

    .expansion-panel.opened .titlePanel .content {
        margin-bottom: 40px;
    }
}

@media (max-width: 500px) {
    .expansion-panel {
        .titlePanel {
            .rightblock {
                margin-top: 10px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .expansion-panel {
        .titlePanel {
            .rightblock {
                padding: 35px 0 35px 40px;
    
                .text {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
}

@media (min-width: 1200px) {
}
