<div class="changemodepart">
  <div #button class="selection-button" (click)="yearClick()" tabindex="1">
    <span class="caption">{{year}}</span>
    <i class="fas fa-chevron-down dropdown"></i>
  </div>
</div>
<div class="weekdays" (click)="clickOnCalendar()">
  <gm-date-cell *ngFor="let mon of months.months" [value]="mon" [type]="'month'" [disabled]="isMonthDisabled(mon)" [isSelected]="isMonthSelected(mon)"
    [isFocused]="canFocusMonth(mon)" [isCurrent]="isThisMonth(mon)" (ngOnSelect)="selectMonth($event.monthNumber)"></gm-date-cell>
</div>