.page-container {
    background: white;
    position: relative;

    .page-title {
        font-family: "ProximaNovaSemibold";
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
        line-height: 38px;
    }

    .page-title.calc-page {
        width: 500px;
        padding: 55px 0 40px;
    }

    .ccont {
        position: relative;
        z-index: 5;
        padding-top: 45px;
    }

    .calc-block {
        padding: 0 140px 30px;

        .block-wrapper {
            display: flex;

            .limits {
                flex: 1;
            }
        }

        .title {
            text-align: center;
            font-family: "ProximaNovaSemibold";
            font-size: 18px;
            margin-bottom: 20px;
        }

        .currency {
            width: 280px;
            float: left;
            margin-right: 20px;
        }

        .dates-payer {
            margin-top: 42px;
            width: 100%;
            overflow: hidden;
            display: flex;

            .dates {
                max-width: 605px;
                float: left;
                margin-right: 20px;
                flex: 1;

                .dates-cont {
                    display: flex;
                    padding-top: 4px;
                    flex-direction: row;
                    align-items: center;
                    margin: auto;
                    width: 100%;

                    .field {
                        width: 100%;
                    }

                    .line {
                        width: 15px;
                        background: #000;
                        height: 2px;
                        margin: 15px;
                    }
                }
            }

            .payer{
                width: 265px;
                float: left;
                padding-top: 4px;
            }
        }
    }

    .price-block {
        margin: 0 140px;
        z-index: 2;
        box-shadow: 8px 13px 43px 0px rgba(0, 0, 0, 0.31);
        border: 1px solid #ebebeb;
        border-radius: 7px;
        position: relative;
        background: white;

        .row {
            padding: 40px 0;

            .horizontal-divider {
                display: none;
            }

            .title {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .text.blue {
                    font-size: 18px;
                    margin-bottom: 12px;
                }
            }
        }

        .row.price {
            padding: 24px 30px;

            .title:first-child {
                padding-right: 20px;

                > * {
                    width: 100%;
                }
            }

            .title:last-child {
                padding-left: 20px;
            }

            .text {
                font-size: 44px;
            }
        }
    }

    .about-block {
        padding: 210px 140px 65px;
        background: #f5f5f5;
        margin-top: -120px;
        z-index: 1;
        position: relative;

        .blc:first-child {
            padding-right: 20px;
        }

        .blc:last-child {
            padding-left: 20px;
        }

        .blc {
            width: 100%;

            .title {
                font-family: "ProximaNovaSemiBold";
                font-size: 26px;
                margin-bottom: 53px;
            }

            .text {
                font-size: 16px;
                line-height: 25px;
                margin-bottom: 35px;
            }

            .copt-ins {
                position: absolute;
                right: -65px;
                bottom: -119px;
            }
        }
    }
}

::ng-deep .gm-busy-loader .transition-loader-inner {
    margin-top: -80px;
}

@media (max-width: 767px) {
    .container {
        max-width: initial;
        padding: 0;

        .page-container {
            padding: 0 20px;
            margin-bottom: -60px;
            margin-top: 80px;

            .horizontal-divider {
                width: calc(100% + 60px);
                margin: 0 -20px;
            }

            .page-title.calc-page {
                width: initial;
                padding: 55px 0 40px;
            }

            .page-title {
                font-size: 22px;
                line-height: 22px;
            }

            .calc-block {
                padding: 45px 0 30px;

                .block-wrapper {
                    flex-direction: column;
                }

                .dates-payer {
                    flex-direction: column;

                    .dates {
                        width: 100%;
                        max-width: initial;
                        margin-right: 0;
                        margin-bottom: 42px;

                        .title {
                            text-align: left;
                        }

                        .dates-cont {
                            flex-direction: column;

                            .field {
                                &:first-child {
                                    margin-bottom: 20px;
                                }
                            }

                            .line {
                                display: none;
                            }
                        }
                    }

                    .payer {
                        width: 100%;
                        max-width: initial;

                        .title {
                            text-align: left;
                        }
                    }
                }

                .currency {
                    width: 100%;
                    margin-bottom: 30px;

                    .title {
                        text-align: left;
                    }
                }

                .limits {
                    .title {
                        text-align: left;
                    }
                }
            }

            .price-block {
                margin: 0 -20px;
                border-radius: 0;

                .row {
                    flex-direction: column;
                    padding: 30px 0;

                    .horizontal-divider {
                        display: block;
                        margin: 30px 0;
                    }

                    .title {
                        text-align: left;
                        width: 100%;
                        align-items: flex-start;
                        padding: 0 15px;
                    }
                }

                .row.price {
                    padding: 24px;
                    text-align: center;
                    align-items: center;

                    .title {
                        align-items: center;
                        margin-bottom: 30px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .about-block {
                margin: 0 -20px;
                padding: 40px 20px 10px;

                .row {
                    flex-direction: column;

                    .blc {
                        padding: 0;

                        .copt-ins {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        max-width: initial;
        padding: 0;

        .page-container {
            margin: 30px;

            .calc-block {
                padding: 45px 65px 35px;

                .block-wrapper {
                    flex-direction: column;
                }

                .currency {
                    width: 100%;
                    margin-bottom: 42px;
                }

                .dates-payer {
                    flex-direction: column;

                    .dates {
                        width: 100%;
                        max-width: initial;
                        margin-right: 0;
                        margin-bottom: 42px;
                    }

                    .payer {
                        width: 100%;
                        max-width: initial;
                    }
                }
            }

            .price-block {
                margin: 0 -30px;
                border-radius: 0;

                .row.price {
                    padding: 24px;
                }
            }

            .about-block {
                padding: 210px 70px 65px;

                .row {
                    flex-direction: column;
                }

                .blc {
                    padding: 0;

                    &:first-child {
                        margin-bottom: 40px;
                    }
                    
                    &:last-child {
                        max-width: 50%;
                    }

                    .title {
                        margin-bottom: 30px;
                    }

                    .text {
                        margin-bottom: 20px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
}
