<div class="container">
  <div class="page-container">
    <app-copters></app-copters>
    <div class="page-title calc-page"> Страхование гражданской ответственности пилотов </div>
    <div class="horizontal-divider"></div>

    <div class="ccont">
      <gm-loader [busy]="!cpdService.limits.isLoaded">
        <div class="calc-block">
          <div class="block-wrapper">
            <div class="currency">
              <div class="title">Валюта страхования</div>
              <div class="field">
                <gm-drop-list placeholder="Выберите валюту *" [valueList]="currencyValues" [(ngModel)]="currentCurrencyValue"></gm-drop-list>
              </div>
            </div>
            <div class="limits">
              <div class="title">Выберите лимит страхования</div>
              <div class="field">
                <app-limit-block (ngOnValueChange)="currentLimit = $event" [currency]="currentCurrencyValue.value"></app-limit-block>
              </div>
            </div>
          </div>
          <div class="dates-payer">
            <div class="dates">
              <div class="title">Срок страхования:</div>
              <div class="dates-cont">
                <div class="field">
                  <gm-date-picker #startDatePicker label="Дата начала страхования *" placeholder="ДД.ММ.ГГГГ"
                    (ngModelChange)="changeDate($event)" mode="dateSelection" [min]="tomorrow" [max]="tomorrowPlusMonth"
                    [formControl]="startDateControl" [errors]="dateFieldNameErrors"></gm-date-picker>
                </div>
                <div class="line"></div>
                <div class="field">
                  <gm-text-field label="Дата окончания страхования" placeholder="Устанавливается автоматически"
                    [formControl]="endDateControl"></gm-text-field>
                </div>
              </div>
            </div>
            <div class="payer">
              <div class="title">Вы являетесь:</div>
              <div class="field">
                <gm-drop-list placeholder="Вы являетесь *" [valueList]="payerTypeValues" [(ngModel)]="currentPayerType"></gm-drop-list>
              </div>
            </div>
          </div>

          <div style="height: 20px;"></div>
        </div>
        <div class="price-block">
          <div class="row">
            <div class="title">
              <div class="text blue semibold">Объект страхования</div>
              <div class="text">гражданская ответственность</div>
            </div>
            <div class="horizontal-divider"></div>
            <div class="title">
              <div class="text blue semibold">Страховые риски</div>
              <div class="text">причинение ущерба третьей стороне</div>
            </div>
          </div>
          <div class="horizontal-divider"></div>
          <div class="row price">
            <div class="title">
              <gm-text-field
                #promoCode
                label="Промокод"
                placeholder="Введите промокод"
                [formControl]="promoCodeControl"
                [errors]="dateFieldNameErrors"
              ></gm-text-field>
            </div>
            <div class="title">
              <div class="text bold">{{stringPrice}} руб.</div>
            </div>
            <div class="title">
              <gm-button #shakeBtn text="Оформить полис" (action)="redirectToOrder()" [isBusy]="cpdService.checkPromoCodeSent"></gm-button>
            </div>
          </div>
        </div>
      </gm-loader>
    </div>
    <div class="about-block">
      <div class="row">
        <div class="blc">
          <div class="title">Полис</div>
          <div class="text">
            Мы отправим полис на ваш e-mail. Вы также получите англоязычную версию для легальных полетов по всему миру.
          </div>
          <div class="text">
            В России, странах ЕС и США наличие полиса страхования гражданской ответсвенности является обязательным
            условием легальности полетов.
          </div>
        </div>
        <div class="blc">
          <div class="title">Как это работает?</div>
          <div class="text">
            Если ваш коптер причинит ущерб третьей стороне, то мы возместим предъявленные к вам финансовые претензии в пределах
            выбранного лимита.
          </div>
          <img class="copt-ins" src="assets/img/copt-ins.png">
        </div>
      </div>
    </div>
  </div>

</div>
