.cont {
    min-height: 300px;
    width: 100%;

    .inside {
        display: flex;
        flex-direction: row;

        .cities {
            width: 230px;
            min-height: 300px;
            position: relative;
            flex-shrink: 0;
            flex-grow: 0;

            .city {
                width: 100%;
                height: 60px;
                font-size: 18px;
                padding: 21px 25px;
                cursor: pointer;
                z-index: 2;
                position: relative;
            }

            .city:after {
                position: absolute;
                top: 0;
                right: -10px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 30px 0 30px 10px;
            }

            .city:hover {
                background: #E1E1E1;
            }

            .city:hover:after {
                content: '';
                border-color: transparent transparent transparent #E1E1E1;
            }

            .city.selected {
                color: white;
                background: #f26522;
            }

            .city.selected:hover {
                background: #E7411B;
            }

            .city.selected:after {
                content: '';
                border-color: transparent transparent transparent #f26522;
            }

            .city.selected:hover:after {
                border-color: transparent transparent transparent #E7411B;
            }
        }

        .cities:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border: 1px solid #e1e1e1;
            box-sizing: border-box;
        }

        .shops {
            width: 100%;

            .city-select-wrapper {
                display: none;
            }

            .shopcont {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0 20px;

                > * {
                    width: 33.33%;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .cont {
        .inside {
            .cities {
                display: none;
            }

            .shops {
                min-height: 600px;
                margin-bottom: 160px;

                .city-select-wrapper {
                    display: block;
                    margin-bottom: 40px;
                }

                .shopcont {
                    > * {
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .cont {
        .inside {
            .shops {
                .shopcont {
                    > * {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .cont {
        .inside {
            .shops {
                min-height: 600px;

                .shopcont {
                    > * {
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {}
