<div class="cont">
  <gm-loader [busy]="isLoading">
    <div class="inside">
      <div class="cities">
        <div class="city" *ngFor="let city of cities" (click)="selectedCity = city" [ngClass]="selectedCity == city?'selected':''">
          {{city.name}}
        </div>
      </div>
      <div class="shops">
        <div class="city-select-wrapper">
          <gm-drop-list placeholder="Выберите город" [valueList]="cityList" [(ngModel)]="selectedCityInList"></gm-drop-list>
        </div>
        <gm-scrollable-content>
          <div class="shopcont">
            <app-shop *ngFor="let shop of shops" [shop]="shop"></app-shop>
          </div>
        </gm-scrollable-content>
      </div>
    </div>
  </gm-loader>
</div>
