<div class="gm-scrollPanel" #scrollPanel>
  <div class="scroll-cont" #scrollPart (scroll)="scrlPnl()">
    <div class="cont" #content [ngClass]="showScroll?'hasScroll':''">
      <ng-content>
      </ng-content>
    </div>
  </div>
  <div class="scrollingPart" *ngIf="showScroll">
    <div class="gut">
      <div class="scrollItem" [ngClass]="dragScroll?'drag':''" [style.height]="scrolHeight" [style.top]="scrollTop + 'px'" (mousedown)="startDrag($event)"></div>
    </div>
  </div>
</div>
