.gm-scrollPanel {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;

    .scroll-cont {
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        padding-right: 20px;
        box-sizing: content-box;
        position: absolute;
        top: 0;
        left: 0;

        .cont {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        .cont.hasScroll {
            padding-right: 10px;
        }
    }

    .scrollingPart {
        width: 10px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        user-select: none;

        .gut {
            background: #ebebeb;
            height: 100%;
            width: 7px;
            margin-left: 2px;
            border-radius: 3px;
            position: relative;
            user-select: none;

            .scrollItem {
                width: 100%;
                background: #8acbeb;
                border-radius: 3px;
                position: absolute;
                user-select: none;
            }

            .scrollItem:hover {
                background: #24498B;
            }

            .scrollItem.drag {
                background: #24498B;
            }
        }
    }
}
