.triangle {
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin: auto;
    border-style: solid;
    border-width: 775px 513px 0 513px;
    border-color: #2856a8 transparent transparent transparent;
    opacity: .43;
    transform: translate(-50%, 0%);
}

.container {
    position: relative;

    .dots {
        margin: auto;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: -200px;
    }

    .page-container {
        position: relative;

        .title {
            margin: auto;
            width: 630px;
            color: white;
            overflow: hidden;
            position: relative;
            padding-top: 50px;
            margin-bottom: 30px;
        }

        .options {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            .option {
                color: white;
                display: flex;
                align-items: center;
                position: relative;

                .image-wrapper {
                    display: flex;

                    .image-block {
                        width: 100%;
                        padding-left: 38px;
                        margin-bottom: 25px;
                        height: 242px;
    
                        .photo {
                            position: absolute;
                            top: 20px;
                            width: 120%;
                            img {
                                position: relative;
                                width: 100%;
                            }
                        }
    
                        .c1 {
                            left: -15%;
                        }
    
                        .c2 {
                            width: 103%;
                            top: 33px;
                            left: -3%;
                        }
    
                        .c3 {
                            top: 0;
                            left: -6%;
                        }
                    }
                }

                .content-wrapper {
                    .name {
                        text-align: center;
                        font-family: "ProximaNovaSemibold";
                        font-size: 24px;
                        margin-bottom: 45px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .triangle {
        display: none;
    }

    .container {
        .dots {
            width: 400%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .page-container {
            margin-top: 80px;

            .title {
                width: initial;
                font-size: 22px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .options {
                align-items: center;

                .option {
                    width: 300px;
                    flex-direction: column;
                    margin-bottom: 30px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .image-wrapper {
                        width: 100%;
                    }

                    .content-wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .name {
                            font-size: 18px;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .triangle {
        width: 90vw;
        border-width: 775px 550px 0 550px;
    }

    .container {
        .dots {
            width: 200%;
            left: 50%;
            transform: translateX(-50%);
        }

        .page-container {
            .options {
                .option {
                    width: 100%;
                    flex-direction: row;

                    .image-wrapper {
                        margin-right: 15px;
                        flex: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .image-block {
                            max-width: 289px;
        
                            .photo {
                                position: absolute;
                                top: 20px;
                                width: 120%;
    
                                img {
                                    position: relative;
                                    width: 100%;
                                    max-width: 320px;
                                }
                            }
        
                            .c1 {
                                left: 5%;
                            }

                            .c2 {
                                left: 3%;
                            }

                            .c3 {
                                left: 6%;
                            }
                        }
                    }

                    .content-wrapper {
                        margin-left: 15px;
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        .name {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .container {
        .page-container {
            .options {
                flex-direction: row;

                .option {
                    width: 300px;
                    flex-direction: column;

                    .image-wrapper {
                        .image-block {
                            max-width: initial;
    
                            .photo {
                                img {
                                    max-width: initial;
                                }
                            }
    
                            .c1 {
                                left: -15%;
                            }
                        }
                    }
                }
            }
        }
    }
}
