<div>
  <div class="triangle"></div>
  <div class="container">
    <div class="dots">
      <app-dots></app-dots>
    </div>
    <div class="page-container">
      <h1 class="title text semibold center">
        <span>Программа страхования </span>
        <span style="color:#9de4ff">квадрокоптеров</span>
      </h1>
      <div class="options">
        <div class="option">
          <div class="image-wrapper">
            <div class="image-block">
              <div class="circle">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 272.93 250.6">
                  <defs>
                    <style>
                      .cls-1 {
                        isolation: isolate;
                      }

                      .cls-2 {
                        fill: #42bde8;
                      }

                      .cls-3 {
                        opacity: 0.2;
                        mix-blend-mode: lighten;
                      }

                      .cls-4,
                      .cls-6 {
                        fill: none;
                        stroke-miterlimit: 10;
                      }

                      .cls-4 {
                        stroke-width: 6px;
                        stroke: url(#Áåçûìÿííûé_ãðàäèåíò_6);
                      }

                      .cls-5 {
                        fill: #fff;
                      }

                      .cls-6 {
                        stroke: #fff;
                        stroke-width: 2px;
                      }

                      .cls-7 {
                        fill: #0e3562;
                      }
                    </style>
                    <linearGradient id="Áåçûìÿííûé_ãðàäèåíò_6" y1="125.3" x2="272.93" y2="125.3" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#42e8e0" />
                      <stop offset="0.79" stop-color="#213b77" />
                      <stop offset="1" stop-color="#180d5b" />
                    </linearGradient>
                  </defs>
                  <g class="cls-1">
                    <g>
                      <path class="cls-2" d="M185.71,188.66C135.14,228,72.1,231.47,44.9,196.47S36.63,101.25,87.22,61.93,200.83,19.13,228,54.13,236.3,149.35,185.71,188.66Z" />
                      <g class="cls-3">
                        <path class="cls-4" d="M199.67,206.62c-64.9,50.44-145.81,54.94-180.72,10S8.34,94.43,73.26,44,219.07-11,254,34,264.59,156.16,199.67,206.62Z" />
                      </g>
                      <path class="cls-5" d="M222.36,219.46c-19,14.79-42.75,16.1-53,2.93s-3.1-35.82,15.93-50.62,42.74-16.1,53-2.93S241.39,204.67,222.36,219.46Z" />
                      <g class="cls-3">
                        <path class="cls-6" d="M227.61,226.21c-24.42,19-54.86,20.67-68,3.77s-4-46,20.44-65,54.86-20.67,68-3.77S252,207.23,227.61,226.21Z" />
                      </g>
                      <path class="cls-7" d="M207.72,193.24l-8.78,5.57,3.55,8.4a2,2,0,0,0,2,1.09,6.35,6.35,0,0,0,3.29-1.09l.42-.27a8,8,0,0,0,2.63-2.66,3,3,0,0,0,.43-2.64Z" />
                      <path class="cls-7" d="M194.48,195.33a3.6,3.6,0,0,1-2.23.5,9.72,9.72,0,0,0-6.48,1.76,13.2,13.2,0,0,0-4.66,4.89c-.08.18,0,.32.16.32s.11,0,4.7-2.34a2.84,2.84,0,0,1,1.71-.36.94.94,0,0,1,.83.83l0,.31c.12.92-.84,2.2-2.14,2.84l-5.06,2.52-.07,0a.79.79,0,0,0-.25.27.22.22,0,0,0,0,.25,3.71,3.71,0,0,0,3,1.2,10.72,10.72,0,0,0,5.52-1.86,12.71,12.71,0,0,0,4.92-5.46,4.8,4.8,0,0,1,1.62-1.94l13.43-8.52a3.48,3.48,0,0,1,2.22-.49,9.81,9.81,0,0,0,6.49-1.77,13.1,13.1,0,0,0,4.65-4.89.22.22,0,0,0,0-.27.35.35,0,0,0-.32,0l-.06,0L218,185.45a2.78,2.78,0,0,1-1.71.36.94.94,0,0,1-.83-.83l0-.31c-.11-.92.85-2.19,2.14-2.83l5.07-2.53a.79.79,0,0,0,.3-.27.24.24,0,0,0,0-.28c-1.47-1.82-5.05-1.55-8.52.65a12.79,12.79,0,0,0-4.92,5.47,4.76,4.76,0,0,1-1.61,1.93Z" />
                      <path class="cls-7" d="M193.87,183.13a1.33,1.33,0,0,0,.45,1l2,1.45a2.19,2.19,0,0,1,.62.8l1.91,4.64,3.81-2.42-2-4.58a2.94,2.94,0,0,1-.17-1.09l.17-2.8a1.26,1.26,0,0,0-.46-1l-2-1.41a1.58,1.58,0,0,0-1.47.21L195,179a2,2,0,0,0-1,1.35Z" />
                    </g>
                  </g>
                </svg>
              </div>
              <div class="photo c2">
                <img src="./assets/img/main-2.png">
              </div>
            </div>
          </div>
          <div class="content-wrapper">
            <div class="name">Ремонт коптеров
              <br> по всей территории РФ</div>
            <div>
              <gm-button text="Подробнее" class="border" (action)="redirectTo('/repair')"></gm-button>
            </div>
          </div>
        </div>
        <div class="option">
          <div class="image-wrapper">
            <div class="image-block">
              <div class="circle">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 272.93 250.6">
                  <defs>
                    <style>
                      .cls-1 {
                        isolation: isolate;
                      }

                      .cls-2 {
                        fill: #42bde8;
                      }

                      .cls-3 {
                        opacity: 0.2;
                        mix-blend-mode: lighten;
                      }

                      .cls-4,
                      .cls-6 {
                        fill: none;
                        stroke-miterlimit: 10;
                      }

                      .cls-4 {
                        stroke-width: 6px;
                        stroke: url(#Áåçûìÿííûé_ãðàäèåíò_6);
                      }

                      .cls-5 {
                        fill: #fff;
                      }

                      .cls-6 {
                        stroke: #fff;
                        stroke-width: 2px;
                      }

                      .cls-7 {
                        fill: #0e3562;
                      }
                    </style>
                    <linearGradient id="Áåçûìÿííûé_ãðàäèåíò_6" y1="125.3" x2="272.93" y2="125.3" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#42e8e0" />
                      <stop offset="0.79" stop-color="#213b77" />
                      <stop offset="1" stop-color="#180d5b" />
                    </linearGradient>
                  </defs>
                  <g class="cls-1">
                    <g>
                      <path class="cls-2" d="M185.71,188.66C135.14,228,72.1,231.47,44.9,196.47S36.63,101.25,87.22,61.93,200.83,19.13,228,54.13,236.3,149.35,185.71,188.66Z" />
                      <g class="cls-3">
                        <path class="cls-4" d="M199.67,206.62c-64.9,50.44-145.81,54.94-180.72,10S8.34,94.43,73.26,44,219.07-11,254,34,264.59,156.16,199.67,206.62Z" />
                      </g>
                      <path class="cls-5" d="M222.42,220.42c-19,14.79-42.74,16.11-53,2.94s-3.11-35.83,15.92-50.62,42.75-16.11,53-2.94S241.46,205.63,222.42,220.42Z" />
                      <g class="cls-3">
                        <path class="cls-6" d="M227.67,227.18c-24.42,19-54.86,20.67-68,3.77s-4-46,20.43-65,54.86-20.67,68-3.76S252.1,208.2,227.67,227.18Z" />
                      </g>
                      <path class="cls-7" d="M214.71,186.17a1.9,1.9,0,0,1,1.47.51l1.65,3.21a17.58,17.58,0,0,1,1.6,2.49l1.48,3,9.36-6.5-3.9-8.35-3.29,2.06a3.61,3.61,0,0,1-1-.39l-2.36-1.6a2.22,2.22,0,0,0-1.23-.29,5.33,5.33,0,0,0-2.31.56l-7.15,3.57c-1.25.63-2.15,1.85-2,2.72l.07.41c.09.55.59.86,1.27.86a3.2,3.2,0,0,0,1.27-.3l3.3-1.54A4.31,4.31,0,0,1,214.71,186.17Z" />
                      <path class="cls-7" d="M218.55,197.73l-2.47-4.95c-.24-.38-.82-1.17-.82-1.17l-1.57-3.05a.77.77,0,0,0-.33-.06,1.41,1.41,0,0,0-.33,0l-3.31,1.55a6.76,6.76,0,0,1-2.66.63c-1.45,0-2.42-.67-2.6-1.81l-.07-.4a4.48,4.48,0,0,1,1.07-3.21,9.55,9.55,0,0,1,3.37-2.81l.77-.38a5.57,5.57,0,0,0-2.46.26l-1.77.62a7.31,7.31,0,0,1-2.11.33L202,180.87l-14.24,9,1.43,3.43,1.24-.81a7.46,7.46,0,0,1,3.88-1.34,2.34,2.34,0,0,1,2.28,1.19l.17.35a2.51,2.51,0,0,1,.14,1.55,2,2,0,0,1,1.29,1.05l.16.35a3.39,3.39,0,0,1-.4,3,2,2,0,0,1,.39.55l.16.35a2.53,2.53,0,0,1,.11,1.71,1.92,1.92,0,0,1,1.17,1l.17.35c.67,1.43-.39,3.69-2.42,5.38l.13.26c.36.74,1.64.7,2.84-.1l.56-.37c1.17-.78,1.83-2,1.51-2.73l1.19,2.37c.37.74,1.65.69,2.84-.11l.56-.37c1.19-.78,1.87-2,1.51-2.77l.31.61c.36.74,1.64.7,2.84-.1l.56-.37c1.19-.79,1.87-2,1.5-2.78l-.25-.52c.39.7,1.64.64,2.81-.14l.56-.37C218.24,199.72,218.92,198.46,218.55,197.73Z" />
                      <path class="cls-7" d="M197.41,204.31l-.17-.35a1.06,1.06,0,0,0-1-.55,3.45,3.45,0,0,0-1.78.61h0c1.2-.78,1.89-2,1.54-2.78l-.17-.35a1.06,1.06,0,0,0-1-.54,3.33,3.33,0,0,0-1.68.54l1.19-.77c1.2-.79,1.89-2,1.54-2.79l-.17-.35a1.06,1.06,0,0,0-1-.54,3.33,3.33,0,0,0-1.72.57c1.06-.78,1.66-1.93,1.33-2.63l-.16-.35a1.08,1.08,0,0,0-1.05-.54,3.36,3.36,0,0,0-1.78.61L185.29,198c-1.2.79-1.9,2-1.54,2.79l.16.35a1.06,1.06,0,0,0,1,.53,3.25,3.25,0,0,0,1.51-.44l-1.56,1c-1.2.78-1.89,2-1.54,2.78l.16.35a1.07,1.07,0,0,0,1,.55,3.45,3.45,0,0,0,1.78-.61l1.22-.8c-1.13.79-1.78,2-1.44,2.71l.17.35a1.08,1.08,0,0,0,1,.54,3.33,3.33,0,0,0,1.77-.61l2-1.26c-1.21.78-1.9,2-1.55,2.78l.17.35a1.07,1.07,0,0,0,1,.54,3.4,3.4,0,0,0,1.78-.6l3.35-2.19C197.07,206.31,197.76,205.05,197.41,204.31Z" />
                    </g>
                  </g>
                </svg>
              </div>
              <div class="photo c1">
                <img src="./assets/img/main-1.png">
              </div>
            </div>
          </div>
          <div class="content-wrapper">
            <div class="name">Страхование гражданской ответственности пилотов</div>
            <div>
              <gm-button text="Подробнее" class="border" (action)="redirectTo('/liability-insurance')"></gm-button>
            </div>
          </div>
        </div>
        <div class="option">
          <div class="image-wrapper">
            <div class="image-block">
              <div class="circle">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 272.93 250.6">
                  <defs>
                    <style>
                      .cls-1 {
                        isolation: isolate;
                      }

                      .cls-2 {
                        fill: #42bde8;
                      }

                      .cls-3 {
                        opacity: 0.2;
                        mix-blend-mode: lighten;
                      }

                      .cls-4,
                      .cls-6 {
                        fill: none;
                        stroke-miterlimit: 10;
                      }

                      .cls-4 {
                        stroke-width: 6px;
                        stroke: url(#Áåçûìÿííûé_ãðàäèåíò_6);
                      }

                      .cls-5 {
                        fill: #fff;
                      }

                      .cls-6 {
                        stroke: #fff;
                        stroke-width: 2px;
                      }

                      .cls-7 {
                        fill: #0e3562;
                      }
                    </style>
                    <linearGradient id="Áåçûìÿííûé_ãðàäèåíò_6" y1="125.3" x2="272.93" y2="125.3" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#42e8e0" />
                      <stop offset="0.79" stop-color="#213b77" />
                      <stop offset="1" stop-color="#180d5b" />
                    </linearGradient>
                  </defs>
                  <g class="cls-1">
                    <g>
                      <path class="cls-2" d="M185.71,188.66C135.14,228,72.1,231.47,44.9,196.47S36.63,101.25,87.22,61.93,200.83,19.13,228,54.13,236.3,149.35,185.71,188.66Z" />
                      <g class="cls-3">
                        <path class="cls-4" d="M199.67,206.62c-64.9,50.44-145.81,54.94-180.72,10S8.34,94.43,73.26,44,219.07-11,254,34,264.59,156.16,199.67,206.62Z" />
                      </g>
                      <path class="cls-5" d="M222.36,219.46c-19,14.79-42.75,16.1-53,2.93s-3.1-35.82,15.93-50.62,42.74-16.1,53-2.93S241.39,204.67,222.36,219.46Z" />
                      <g class="cls-3">
                        <path class="cls-6" d="M227.61,226.21c-24.42,19-54.86,20.67-68,3.77s-4-46,20.44-65,54.86-20.67,68-3.77S252,207.23,227.61,226.21Z" />
                      </g>
                      <path class="cls-7" d="M224.47,183.59l-.43.74c-.47.82-1,1.66-1.44,2.56-4.79,8.58-10.51,18.87-27.82,23.87a1.81,1.81,0,0,1-1.22,0c-11.53-5-5.36-15.29-.24-23.87.51-.89,1-1.74,1.51-2.56l.43-.74a2.29,2.29,0,0,1,1.74-1.11h.74a25.34,25.34,0,0,0,13.95-4.3l.81-.51c.67-.43,1.36-.43,1.55,0l.23.51c1.34,3,4.11,4.3,9,4.3H224c.61,0,.83.48.49,1.09Zm-11.86,6.74-.6-1.49c-.16-.38-.77-.38-1.37,0L202,194.36l-.89-2.12c-.18-.37-.78-.37-1.38,0l-2.32,1.47c-.6.38-1,1-.79,1.37h0l1.83,4.25c.16.38.78.38,1.37,0l12-7.62C212.42,191.33,212.77,190.71,212.61,190.33Z" />
                    </g>
                  </g>
                </svg>
              </div>
              <div class="photo c3">
                <img src="./assets/img/main-3.png">
              </div>
            </div>
          </div>
          <div class="content-wrapper">
            <div class="name">Страхование коптеров
              <br>от повреждений</div>
            <div>
              <gm-button text="Подробнее" class="border" (action)="redirectTo('/property-insurance')"></gm-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
