<div class="mainwind">
  <div class="closeBtn">
    <svg class="unhover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" (click)="close()">
      <g>
        <path fill="#828282" d="M25.61,4.39a15,15,0,1,0,0,21.22A15,15,0,0,0,25.61,4.39Zm-1,20.21a13.57,13.57,0,1,1,0-19.2A13.6,13.6,0,0,1,24.6,24.6Z" />
        <path fill="#828282" d="M19.91,10.09a.71.71,0,0,0-1,0L15,14l-3.9-3.9a.71.71,0,1,0-1,1L14,15l-3.9,3.9a.72.72,0,0,0,.51,1.22.7.7,0,0,0,.5-.21L15,16l3.9,3.9a.71.71,0,0,0,1,0,.71.71,0,0,0,0-1L16,15l3.9-3.9A.71.71,0,0,0,19.91,10.09Z" />
      </g>
    </svg>
    <svg class="hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" (click)="close()">
      <g>
        <path fill="#f26522" d="M25.61,4.39a15,15,0,1,0,0,21.22A15,15,0,0,0,25.61,4.39Zm-1,20.21a13.57,13.57,0,1,1,0-19.2A13.6,13.6,0,0,1,24.6,24.6Z" />
        <path fill="#f26522" d="M19.91,10.09a.71.71,0,0,0-1,0L15,14l-3.9-3.9a.71.71,0,1,0-1,1L14,15l-3.9,3.9a.72.72,0,0,0,.51,1.22.7.7,0,0,0,.5-.21L15,16l3.9,3.9a.71.71,0,0,0,1,0,.71.71,0,0,0,0-1L16,15l3.9-3.9A.71.71,0,0,0,19.91,10.09Z" />
      </g>
    </svg>
  </div>
  <div class="request" *ngIf="!reqDone">
    <h3 class="header text semibold large">Оформление заявки</h3>
    <img src="assets/img/req-copt.jpg">
    <div class="field">
      <gm-text-field #firstNameControl label="Имя *" placeholder="Ваше имя" [formControl]="requestFormGroup.controls.firstNameControl"
        [errors]="textFieldNameErrors"></gm-text-field>
    </div>
    <div class="field">
      <gm-text-field #emailPersControl label="Е-mail *" placeholder="mail@example.ru" [formControl]="requestFormGroup.controls.emailControl"
        [errors]="emailFieldNameErrors"></gm-text-field>
    </div>
    <div class="field">
      <gm-text-field #cityControl label="Город *" placeholder="Укажите город" [formControl]="requestFormGroup.controls.cityControl"
        [errors]="textFieldNameErrors"></gm-text-field>
    </div>
    <div class="field send">
      <gm-button #sendButton text="Отправить" (action)="sendRequest()" [isBusy]="reqSent"></gm-button>
    </div>
    <div class="field check-box">
      <app-policy-checkbox #policyControl [(ngModel)]="informed"></app-policy-checkbox>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 258 46">
        <g>
          <polygon fill="#e0e0e0" points="108.53 45.69 111.6 45.69 111.6 34.08 117.81 34.08 117.81 45.69 120.88 45.69 120.88 31.38 108.53 31.38 108.53 45.69" />
          <path fill="#e0e0e0" d="M155.63,34.86a7.23,7.23,0,0,0-2.35-2.53,7.54,7.54,0,0,0-1.59-.77,8.49,8.49,0,0,0-1.71-.4,4,4,0,0,0-.51-.06H149a8,8,0,0,0-3.88,1,7.4,7.4,0,0,0-2.9,2.92,9,9,0,0,0-.48,1.09,8.3,8.3,0,0,0-.31,1.13c0,.23-.06.45-.08.67s0,.43,0,.64a7.37,7.37,0,0,0,5.56,7.18,7.84,7.84,0,0,0,1.6.25l.22,0h.23a8.19,8.19,0,0,0,4.27-1.2,7.08,7.08,0,0,0,2.94-3.38,7.45,7.45,0,0,0,.3-.91,6.07,6.07,0,0,0,.17-.93,3.4,3.4,0,0,0,.06-.46c0-.16,0-.31,0-.46v-.27a2.45,2.45,0,0,0,0-.27A7.72,7.72,0,0,0,155.63,34.86Zm-2.17,3.61v.12a7,7,0,0,1-.06.92,4.93,4.93,0,0,1-1.91,3.09,4.47,4.47,0,0,1-2.57.8l-.33,0-.32,0-.35-.08-.33-.08a3.87,3.87,0,0,1-2.26-1.71,5.32,5.32,0,0,1-.86-2.73v-.18c0-.11,0-.21,0-.32a2.54,2.54,0,0,1,0-.29c0-.21.06-.42.11-.63a4.39,4.39,0,0,1,1.84-2.76,4.36,4.36,0,0,1,2.54-.81l.41,0,.41.05a5.33,5.33,0,0,1,.66.17,3,3,0,0,1,.65.28A4.44,4.44,0,0,1,152.8,36a5.5,5.5,0,0,1,.66,2.33Z" />
          <path fill="#e0e0e0" d="M180,31.63v1.23c0,.53,0,1.14,0,1.85s0,1.43-.07,2.17a30.62,30.62,0,0,1-.29,3.16,4.38,4.38,0,0,1-.69,2.08,2.5,2.5,0,0,1-.38.35,1.56,1.56,0,0,1-.43.25,3.44,3.44,0,0,1-.72.25,3.63,3.63,0,0,1-.57.07l-.07,0h-.06s-.06,0-.07,0v2.72H177l.12,0h.41a5.11,5.11,0,0,0,2.16-.43,5.19,5.19,0,0,0,1.77-1.39,4.38,4.38,0,0,0,.78-1.92c.2-.92.36-1.9.49-3s.2-1.84.24-2.69.07-1.5.07-1.94v-.56h4.57V45.64l3.07,0V31.38H180S180,31.47,180,31.63Z" />
          <path fill="#e0e0e0" d="M215.93,39.4a4.21,4.21,0,0,0-.37.63,6.86,6.86,0,0,0-.35.78l-.26.62c-.08.2-.16.39-.24.55,0-.13,0-.26,0-.38a2.25,2.25,0,0,1,.06-.36c0-.1,0-.21,0-.3l0-.31c0-.22.06-.44.08-.66s0-.44,0-.68V31.38h-3.08V45.69h3l5.45-8.31a2.65,2.65,0,0,0,.36-.56l.27-.59c.06-.13.12-.27.17-.4a3.75,3.75,0,0,1,.19-.41c0,.21-.08.41-.1.58a4.12,4.12,0,0,0,0,.48c0,.18,0,.36,0,.55s0,.4,0,.64v8h3.1V31.38h-3.1Z" />
          <path fill="#e0e0e0" d="M253.66,31.09c-.15,0-.3,0-.45,0h-.45c-.2,0-.4,0-.6,0s-.41,0-.62.07a7.33,7.33,0,0,0-6.67,7.41,6.73,6.73,0,0,0,2.39,5.5,8.25,8.25,0,0,0,5.38,2l.68,0,.7-.09a10.67,10.67,0,0,0,1.54-.35,7.9,7.9,0,0,0,1.47-.62l0-3.16a7.64,7.64,0,0,1-2,1.26,5.55,5.55,0,0,1-2.23.44h-.59l-.15,0h-.15A4,4,0,0,1,249,41.76a5.36,5.36,0,0,1-1-3.1v-.32a5.86,5.86,0,0,1,1-2.92,4.05,4.05,0,0,1,2.59-1.75l.19,0a.65.65,0,0,1,.19,0,3,3,0,0,1,.59-.09l.56,0a5.24,5.24,0,0,1,2.09.42,7.61,7.61,0,0,1,1.91,1.18l.12-3.06a14,14,0,0,0-1.76-.6A10,10,0,0,0,253.66,31.09Z" />
          <path fill="#e0e0e0" d="M117.42,18.27V4.43h-7V18.27A2.7,2.7,0,0,1,109.06,21q-1.31.64-6.2.65t-6.34-.7c-.77-.38-1.15-1.26-1.15-2.64V4.43h-7V18.27c0,4.09.9,6.68,2.72,7.76q2.46,1.47,11.81,1.46T114.7,26Q117.42,24.44,117.42,18.27Z" />
          <path fill="#e0e0e0" d="M146.54,27.14h8.22L143.44,4.43h-12.1L120,27.14h8.22l2.18-3.81h14ZM133,17.44l3.81-7.89h1.09l3.78,7.89Z" />
          <path fill="#e0e0e0" d="M185.74,24.72c1.17-1.46,1.76-4.45,1.76-8.95s-.6-7.52-1.79-9-3.93-2.39-7.94-2.39H158.06V27.11h19.71C181.81,27.11,184.46,26.31,185.74,24.72ZM165.1,21.23v-11h11.49c1.51,0,2.54.39,3.07,1.17s.8,2.23.8,4.35-.27,3.54-.8,4.31-1.56,1.15-3.07,1.15Z" />
          <path fill="#e0e0e0" d="M213.84,21.58a2.32,2.32,0,0,1,.48,1.49v4.07h7V22.05a5.05,5.05,0,0,0-.63-2.95,6.23,6.23,0,0,0-2.54-1.66,4.44,4.44,0,0,0,2.46-2.1,10.12,10.12,0,0,0,.71-4.34q0-3.76-1.7-5.26t-5.34-1.37H193.84V27.14h7V20.78H212A2.17,2.17,0,0,1,213.84,21.58Zm-13-11.33h11.29a2.27,2.27,0,0,1,1.64.52,2.55,2.55,0,0,1,.51,1.82,2.54,2.54,0,0,1-.5,1.81,2.28,2.28,0,0,1-1.65.5H200.88Z" />
          <path fill="#e0e0e0" d="M258,15.79c0-5.54-.68-8.85-2.05-10s-5.81-1.75-13.09-1.75-11.67.6-13.12,1.79-2,4.38-2,9.92q0,6,.64,7.92a5,5,0,0,0,4,3.18q2.49.57,10.49.57,10.95,0,13.12-1.75T258,15.79ZM250,20.86q-1,.72-7.09.72t-7.05-.72c-.68-.48-1-2.17-1-5.07s.33-4.63,1-5.11,3-.71,7.08-.71,6.39.24,7.06.71,1,2.18,1,5.11S250.62,20.38,250,20.86Z" />
          <path fill="#e0e0e0" d="M67.21,4.08q-10.95,0-13.12,1.79c-1.33,1.08-2,4.38-2,9.92q0,6,.64,7.92a5,5,0,0,0,4,3.18q2.49.57,10.5.57c1,0,2,0,2.89,0l1.68,2.89h7l-2-3.43a8,8,0,0,0,3.5-1.18q2-1.62,2-9.92c0-5.54-.68-8.85-2-10S74.48,4.08,67.21,4.08ZM72.07,18.7H65l1.67,2.87c-3.71,0-5.91-.25-6.55-.71s-1-2.17-1-5.07.34-4.63,1-5.11,3-.71,7.09-.71,6.38.24,7.06.71,1,2.18,1,5.11-.33,4.59-1,5.07a2.24,2.24,0,0,1-.79.3Z" />
          <path fill="#e0e0e0" d="M34.93,23.58a11,11,0,0,0-4.14.8,3.86,3.86,0,0,0,.48.8l.73,1a8.92,8.92,0,1,1-5.6,5.62l-1-.75a4,4,0,0,0-.77-.46,10.84,10.84,0,0,0-.77,4,11.08,11.08,0,1,0,11.07-11Z" />
          <path fill="#e0e0e0" d="M30,35.31a.87.87,0,0,0-1.72.26,6.74,6.74,0,0,0,5.67,5.65.87.87,0,0,0,1-.86.86.86,0,0,0-.73-.85A5,5,0,0,1,30,35.31Z" />
          <path fill="#e0e0e0" d="M35.65,29.66a5,5,0,0,1,4.24,4.18.85.85,0,0,0,.85.72.86.86,0,0,0,.86-1A6.73,6.73,0,0,0,35.91,28a.88.88,0,0,0-1,.86A.85.85,0,0,0,35.65,29.66Z" />
          <path fill="#e0e0e0" d="M20.6,31l-1,.75a8.84,8.84,0,0,1,.47,2.83A9,9,0,1,1,14,26.14l.73-1a3.81,3.81,0,0,0,.47-.8,11,11,0,1,0,6.17,6.17A4.43,4.43,0,0,0,20.6,31Z" />
          <path fill="#e0e0e0" d="M17.75,35.57a.87.87,0,0,0-.86-1,.85.85,0,0,0-.86.72,5,5,0,0,1-4.21,4.2.85.85,0,0,0-.73.85.87.87,0,0,0,1,.86A6.75,6.75,0,0,0,17.75,35.57Z" />
          <path fill="#e0e0e0" d="M10.1,28a6.73,6.73,0,0,0-5.69,5.63.86.86,0,0,0,1.71.26,5,5,0,0,1,4.23-4.18.86.86,0,0,0,.74-.85A.88.88,0,0,0,10.1,28Z" />
          <path fill="#e0e0e0" d="M31.83,34.13a.55.55,0,0,1,.22.45h0a2.88,2.88,0,1,0,2.88-2.87h-.11a.55.55,0,0,1-.46-.22L30.16,26a5.3,5.3,0,0,1,0-6.44l4.2-5.5a.55.55,0,0,1,.46-.21h.11A2.86,2.86,0,1,0,32.05,11h0a.52.52,0,0,1-.22.45l-5.59,4.22a5.36,5.36,0,0,1-6.48,0l-5.59-4.22A.55.55,0,0,1,14,11h0a2.88,2.88,0,1,0-2.88,2.86h.12a.55.55,0,0,1,.46.21l4.2,5.5a5.3,5.3,0,0,1,0,6.44l-4.2,5.49a.55.55,0,0,1-.46.22h-.12A2.87,2.87,0,1,0,14,34.59h0a.58.58,0,0,1,.22-.45l5.59-4.22a5.4,5.4,0,0,1,6.48,0Z" />
          <path fill="#e0e0e0" d="M34.93,0A11,11,0,0,0,23.86,11a10.82,10.82,0,0,0,.77,4,3.57,3.57,0,0,0,.77-.46l1-.75A8.82,8.82,0,0,1,25.94,11,9,9,0,1,1,32,19.45l-.73,1a3.68,3.68,0,0,0-.48.81,11.17,11.17,0,0,0,4.14.79,11,11,0,1,0,0-22Z" />
          <path fill="#e0e0e0" d="M30,10.28a5,5,0,0,1,4.21-4.2.85.85,0,0,0,.73-.85.86.86,0,0,0-1-.85A6.71,6.71,0,0,0,28.26,10a.87.87,0,0,0,1.72.26Z" />
          <path fill="#e0e0e0" d="M34.92,16.78a.87.87,0,0,0,1,.86A6.71,6.71,0,0,0,41.6,12a.87.87,0,0,0-1.71-.27,5,5,0,0,1-4.24,4.18A.86.86,0,0,0,34.92,16.78Z" />
          <path fill="#e0e0e0" d="M11.07,22a11.13,11.13,0,0,0,4.14-.79,3.64,3.64,0,0,0-.47-.81l-.73-1A8.93,8.93,0,1,1,20.07,11a8.83,8.83,0,0,1-.47,2.82l1,.75a3.89,3.89,0,0,0,.78.46,11.09,11.09,0,1,0-10.31,7Z" />
          <path fill="#e0e0e0" d="M12.08,4.38a.86.86,0,0,0-1,.85.84.84,0,0,0,.73.85A5,5,0,0,1,16,10.28a.86.86,0,0,0,.86.73.88.88,0,0,0,.86-1A6.73,6.73,0,0,0,12.08,4.38Z" />
          <path fill="#e0e0e0" d="M5.26,11a.86.86,0,0,0-.85,1,6.71,6.71,0,0,0,5.69,5.62.86.86,0,1,0,.25-1.71,5,5,0,0,1-4.23-4.18A.86.86,0,0,0,5.26,11Z" />
        </g>
      </svg>
    </div>
  </div>
  <div class="done" *ngIf="reqDone">
    <h3 class="header text semibold large">Ваша заявка принята!</h3>
    <div class="text"> Спасибо, ваша заявка принята. Наш менеджер свяжется<br> с Вами ближайшее время. </div>
    <div class="count">Сообщение закроется через {{timer}} сек.</div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89 47">
      <g>
        <path fill="#ccc" d="M22.13,0A2,2,0,0,0,20.3,2.05V45a2,2,0,0,0,2,2H87a2,2,0,0,0,2-2V2.05a2,2,0,0,0-2-2H22.13Zm5.59,4.09H81.58L54.65,27.91Zm-25.79,2a2,2,0,0,0,.19,4.09H16.26a2,2,0,0,0,.06-4.09H1.93Zm22.41.42,19.17,17L24.34,40.42ZM85,6.55V40.42L65.8,23.5ZM4,16.35a2,2,0,0,0,.19,4.09H16.26a2,2,0,0,0,.06-4.09H4Zm42.62,9.86,6.76,6a2,2,0,0,0,2.65,0l6.75-6,18.88,16.7H27.69ZM6,26.57a2,2,0,0,0,.19,4.08h10.1a2,2,0,0,0,.06-4.08H6.16A.61.61,0,0,0,6,26.57Z" />
      </g>
    </svg>
  </div>
</div>
