.mainwind {
    width: 705px;
    overflow: hidden;
    background: white;
    padding: 70px 50px 50px;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

    .closeBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    .closeBtn .hover {
        display: none;
    }

    .closeBtn:hover {
        .hover {
            display: block;
        }

        .unhover {
            display: none;
        }
    }

    .header {
        margin-bottom: 40px;
        text-align: left;
    }

    .request {
        img {
            position: absolute;
            top: 105px;
            left: 400px;
            height: 355px;
        }

        .field {
            margin-bottom: 20px;
            width: 280px;
        }

        .field.send {
            margin-top: 5px;
            margin-bottom: 35px;
        }

        .field.check-box {
            width: 330px;
            margin-bottom: 0;
            position: relative;

            svg {
                position: absolute;
                top: 0;
                height: 40px;
                right: -270px;
            }
        }
    }

    .done {
        padding: 0 15px;

        .text {
            margin-bottom: 60px;
        }

        .count {
            color: #9d9d9d;
        }

        svg {
            position: absolute;
            right: 60px;
            bottom: 50px;
            height: 50px;
        }
    }
}

@media (max-width: 767px) {
    .mainwind {
        width: calc(100vw - 40px);
        padding: 20px;

        .request {
            .field {
                width: 100%;
            }

            .field.check-box {
                max-width: 100%;
            }

            img,
            svg {
                display: none;
            }
        }

        .done {
            svg {
                right: initial;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }
}

@media (max-width: 500px) {
    .mainwind {
        .done {
            svg {
                margin: 20px 0;
            }

            .text:not(:first-child) {
                margin-bottom: 90px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}
