.page-container {
    background: white;
    position: relative;

    .page-title {
        font-family: "ProximaNovaSemibold";
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
        line-height: 38px;
    }

    .page-title.polis-page {
        width: 500px;
        padding: 55px 0 40px;
    }

    .policy-block {
        width: 335px;
        margin: 15px auto 0;
    }

    .button-block {
        padding: 40px 350px;

        .gm-input-collection-space {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            font-family: "ProximaNovaBold";
            color: #f26522;
        }
    }

    .back-block {
        padding: 0 350px 50px;
        text-align: center;

        a {
            text-decoration: none;
            font-family: "ProximaNovaBold";
            font-size: 16px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: initial;
        padding: 0;

        .page-container {
            padding: 0 20px;
            margin-bottom: -60px;
            margin-top: 80px;

            .page-title {
                font-size: 22px;
                line-height: 22px;
            }

            .page-title.polis-page {
                width: initial;
            }

            .policy-block {
                margin: 0;
                width: 100%;

                > *,
                * {
                    width: 100%;
                }
            }

            .button-block {
                padding: 0;
                display: flex;
                justify-content: center;
                padding: 50px 0;

                > * {
                    width: 100%;
                }

                .gm-input-collection-space {
                    padding: 0 20px;
                }
            }

            .back-block {
                padding: 0 0 50px 0;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        max-width: initial;
        padding: 0;

        .page-container {
            margin: 30px;

            .button-block {
                padding: 0;
                display: flex;
                justify-content: center;
                padding: 50px 0;

                > * {
                    width: 60vw;
                }

                .gm-input-collection-space {
                    padding: 0 20px;
                }
            }

            .back-block {
                padding: 0 0 50px 0;
            }
        }
    }
}

@media (min-width: 1200px) {}
