<div class="container">
  <div class="page-container">
    <app-copters></app-copters>
    <div class="page-title polis-page"> Оформить полис </div>
    <app-payer #payerControl [type]="payerType" (payerModelChanges)="payer = $event" (validSatatusChanged)="payerValid = $event"></app-payer>
    <app-model-block #copterControl (copterModelChanges)="copter = $event" (validSatatusChanged)="copterValid = $event"></app-model-block>
    <div class="policy-block">
      <app-policy-checkbox #policyControl [(ngModel)]="informed"></app-policy-checkbox>
    </div>
    <div class="button-block">
      <gm-input-collection>
        <div class="gm-input-collection-space">{{stringPrice}} руб.</div>
        <gm-button text="Оплатить" (action)="sendPolicy()" [isBusy]="cpdService.payRequestSent"></gm-button>
      </gm-input-collection>
    </div>
    <div class="back-block">
      <a class="blue" [routerLink]="['/liability-insurance']" [queryParams]="{id: limitId, startDate: stringStartDate, payerType: payerType}">Вернуться
        назад</a>
    </div>
  </div>
</div>