<div class="payer-block" *ngIf="type === 0">
  <div class="row">
    <div class="field">
      <gm-text-field #secondNameControl label="Фамилия *" placeholder="Ваша фамилия" [formControl]="personFormGroup.controls.secondNameControl"
        [errors]="textFieldNameErrors"></gm-text-field>
    </div>
    <div class="field">
      <gm-text-field #firstNameControl label="Имя *" placeholder="Ваше имя" [formControl]="personFormGroup.controls.firstNameControl"
        [errors]="textFieldNameErrors"></gm-text-field>
    </div>
    <div class="field">
      <gm-text-field label="Отчество" placeholder="Ваше отчество" [formControl]="personFormGroup.controls.middleNameControl"
        [errors]="textFieldNameErrors"></gm-text-field>
    </div>
    <div class="field">
      <gm-date-picker #birthDateControl label="Дата рождения *" placeholder="ДД.ММ.ГГГГ" mode="yearSelection"
        [max]="minBirthDate" [formControl]="personFormGroup.controls.birthDateControl"
        [errors]="dateFieldNameErrors"></gm-date-picker>
    </div>
    <div class="field">
      <gm-text-field #emailPersControl label="Е-mail *" placeholder="mail@example.ru" [formControl]="personFormGroup.controls.emailControl"
        [errors]="emailFieldNameErrors"></gm-text-field>
    </div>
    <div class="field">
      <gm-text-field label="Телефон" placeholder="8 (" mask="8 (___) ___-__-__" [formControl]="personFormGroup.controls.phoneControl"></gm-text-field>
    </div>
  </div>
</div>
<div class="payer-block" *ngIf="type === 1">
  <div class="row">
    <div class="field companyName">
      <gm-text-field #companyNameControl label="Полное название вашей компании *" placeholder="Название компании"
        [formControl]="companyFormGroup.controls.companyNameControl" [errors]="textFieldNameErrors"></gm-text-field>
    </div>
    <div class="field">
      <gm-text-field label="Телефон" placeholder="8 (" mask="8 (___) ___-__-__" [formControl]="companyFormGroup.controls.phoneControl"></gm-text-field>
    </div>
  </div>
  <div class="row">
    <div class="field">
      <gm-text-field #innControl label="ИНН*" placeholder="1234567890" mask="__________" [formControl]="companyFormGroup.controls.INNControl"
        [errors]="innFieldNameErrors"></gm-text-field>
    </div>
    <div class="field">
      <gm-text-field #kppControl label="КПП (обязательно при наличии)" placeholder="123456789" mask="_________"
        [formControl]="companyFormGroup.controls.KPPControl" [errors]="innFieldNameErrors"></gm-text-field>
    </div>
    <div class="field">
      <gm-text-field #emailCompControl label="Е-mail *" placeholder="mail@example.ru" [formControl]="companyFormGroup.controls.emailControl"
        [errors]="emailFieldNameErrors"></gm-text-field>
    </div>
  </div>
</div>
