.payer-block {
    padding: 40px 140px 0;
    overflow: hidden;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;
        flex-wrap: wrap;
        margin: 0 -12px 12px;

        .field {
            width: 100%;
            float: left;
            max-width: 33.33%;
            padding: 12px;
        }

        .field.companyName {
            flex-grow: 0;
            flex-shrink: 0;
            width: 582px;
        }

        .field:first-child {
            margin-left: 0;
        }

        .field:last-child {
            margin-right: 0;
        }
    }
}

@media (max-width: 767px) {
    .payer-block {
        padding: 0;

        .row {
            .field {
                max-width: 100%;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .payer-block {
        .row {
            .field {
                max-width: 50%;
            }
        }
    }
}

@media (min-width: 1200px) {}
