@import "../Styles/gm-styles.scss";
.gm-input-collection {
    box-sizing: border-box;
    border-radius: $borderradius;
    border: 1px solid $accentcolor;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

:host ::ng-deep gm-button {
    width: 100%;
    .gm-button {
        border-radius: 0 !important;
        margin-left: -1px;
    }
}

:host ::ng-deep .gm-input-collection-space {
    width: 100%;
    border-left: 1px solid $divider;
    margin-left: -1px;
}