.page-container {
    background: white;
    position: relative;
    padding: 0 85px 85px;

    h2.text.semibold.center {
        width: 500px;
        padding: 55px 0 40px;
        margin: 0 auto;
    }

    .docblock {
        margin: 50px 0;
        // height: 400px;
        display: flex;
        flex-wrap: wrap;

        .document {
            flex: 1;
            width: 33.33%;
            padding: 40px 55px;
            position: relative;
            height: 200px;
            float: left;
            border: 1px solid #e1e1e1;
            box-sizing: border-box;
            cursor: pointer;
            text-decoration: none;

            .title {
                font-size: 22px;
                margin-bottom: 25px;
            }

            .def {
                font-size: 14px;
                color: #5a5a5a;
                width: 175px;
            }

            svg {
                position: absolute;
                bottom: 20px;
                right: 35px;
                height: 45px;
                width: 45px;
            }
        }

        .document:nth-child(2),
        .document:nth-child(3) {
            margin-left: -1px;
        }

        .document:nth-child(4) {
            margin-top: -1px;
        }

        .document:hover {
            cursor: pointer;
            background: #24498b;

            .title {
                color: white;
            }

            .def {
                color: white;
            }
        }

        .some {
            margin-top: -1px;
            margin-left: -1px;
            width: 66.66%;
            height: 200px;
            background-image: url('/assets/img/doc-back.jpg');
            background-size: cover;
            float: left;
            position: relative;

            img {
                position: absolute;
                top: 47px;
                left: 65px;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: initial;
        padding: 0;

        .page-container {
            padding: 0 15px;
            padding-bottom: 40px;
            margin-bottom: -60px;
            margin-top: 80px;

            h2.text.semibold.center {
                width: initial;
            }

            .docblock {
                flex-direction: column;

                .document {
                    width: 100%;
                }

                .some {
                    width: 100%;

                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        max-width: initial;
        padding: 0;

        .page-container {
            margin: 30px;

            .docblock {
                .document {
                    width: 50%;
                }

                .some {
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
}
