<div class="container">
  <div class="page-container">
    <app-copters></app-copters>
    <h2 class="text semibold center">Документы</h2>
    <div class="docblock">
      <a href="/assets/docs/Полис.pdf" class="document" target="_blank">
        <div class="title text blue semibold">Полис</div>
        <div class="def">Форма договора страхования гражданской ответственности</div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
          <circle fill="#f26522" cx="15" cy="15" r="15" />
          <path fill="#fff" d="M14.51,17.66h0a.85.85,0,0,0,.21.14h0l.1,0h.36a.13.13,0,0,0,.1,0s0,0,.07,0,0,0,.07,0l.11-.11,3.16-3.16a.7.7,0,1,0-1-1l-2,2V7.67a.71.71,0,1,0-1.41,0v7.81l-2-2a.68.68,0,0,0-1,0,.66.66,0,0,0,0,1Z" />
          <path fill="#fff" d="M21.33,10.17a.7.7,0,0,0-.7.7v8.76H9.37V10.87a.71.71,0,0,0-1.41,0v9.46a.71.71,0,0,0,.71.71H21.33a.71.71,0,0,0,.71-.71V10.87A.7.7,0,0,0,21.33,10.17Z" />
        </svg>
      </a>
      <a href="/assets/docs/Программа страхования БПЛА.pdf" class="document" target="_blank">
        <div class="title text blue semibold">Программа</div>
        <div class="def">Условия страхования</div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
          <circle fill="#f26522" cx="15" cy="15" r="15" />
          <path fill="#fff" d="M14.51,17.66h0a.85.85,0,0,0,.21.14h0l.1,0h.36a.13.13,0,0,0,.1,0s0,0,.07,0,0,0,.07,0l.11-.11,3.16-3.16a.7.7,0,1,0-1-1l-2,2V7.67a.71.71,0,1,0-1.41,0v7.81l-2-2a.68.68,0,0,0-1,0,.66.66,0,0,0,0,1Z" />
          <path fill="#fff" d="M21.33,10.17a.7.7,0,0,0-.7.7v8.76H9.37V10.87a.71.71,0,0,0-1.41,0v9.46a.71.71,0,0,0,.71.71H21.33a.71.71,0,0,0,.71-.71V10.87A.7.7,0,0,0,21.33,10.17Z" />
        </svg>
      </a>
      <a href="/assets/docs/Правила.pdf" class="document" target="_blank">
        <div class="title text blue semibold">Правила</div>
        <div class="def">Правила страхования гражданской ответственности</div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
          <circle fill="#f26522" cx="15" cy="15" r="15" />
          <path fill="#fff" d="M14.51,17.66h0a.85.85,0,0,0,.21.14h0l.1,0h.36a.13.13,0,0,0,.1,0s0,0,.07,0,0,0,.07,0l.11-.11,3.16-3.16a.7.7,0,1,0-1-1l-2,2V7.67a.71.71,0,1,0-1.41,0v7.81l-2-2a.68.68,0,0,0-1,0,.66.66,0,0,0,0,1Z" />
          <path fill="#fff" d="M21.33,10.17a.7.7,0,0,0-.7.7v8.76H9.37V10.87a.71.71,0,0,0-1.41,0v9.46a.71.71,0,0,0,.71.71H21.33a.71.71,0,0,0,.71-.71V10.87A.7.7,0,0,0,21.33,10.17Z" />
        </svg>
      </a>
      <a href="/assets/docs/Заявление о СС БПЛА.docx" class="document" target="_blank">
        <div class="title text blue semibold">Заявление</div>
        <div class="def">О страховом случае</div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
          <circle fill="#f26522" cx="15" cy="15" r="15" />
          <path fill="#fff" d="M14.51,17.66h0a.85.85,0,0,0,.21.14h0l.1,0h.36a.13.13,0,0,0,.1,0s0,0,.07,0,0,0,.07,0l.11-.11,3.16-3.16a.7.7,0,1,0-1-1l-2,2V7.67a.71.71,0,1,0-1.41,0v7.81l-2-2a.68.68,0,0,0-1,0,.66.66,0,0,0,0,1Z" />
          <path fill="#fff" d="M21.33,10.17a.7.7,0,0,0-.7.7v8.76H9.37V10.87a.71.71,0,0,0-1.41,0v9.46a.71.71,0,0,0,.71.71H21.33a.71.71,0,0,0,.71-.71V10.87A.7.7,0,0,0,21.33,10.17Z" />
        </svg>
      </a>
      <div class="some">
        <img src="assets/img/copt-doc.png">
      </div>
    </div>
  </div>
</div>
