@import "../Styles/gm-styles.scss";
:host {
    position: relative;
    width: 100%;
}

.visible-part {
    width: 100%;
    overflow: hidden;
    
    .carouselContainer {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-shrink: 1;
        flex-grow: 0;
        overflow: hidden;
    }
}