<div class="visible-part">
  <div #carContainer class="carouselContainer" [@carouselAnimation]="{value: animationState, params: {left: marginLeft}}"
  (@carouselAnimation.done)="animationDone()" (@carouselAnimation.start)="animationStart()" [style.width]="totalWidth">
    <ng-content></ng-content>
  </div>
</div>
