<div class="container">
  <div class="page-container">
    <app-copters></app-copters>
    <h2 class="text semibold center">Вопросы и ответы</h2>
    <div class="questionblock">
      <gm-expansion-panel-stack>
        <gm-expansion-panel title="Как оформить и получить полис страхования гражданской ответственности?" subTitle="Страхование ГО">
          <span class="innertext text small">Вы можете оформить и оплатить страховой полис прямо на нашем сайте. Для
            этого необходимо выбрать лимит страхового покрытия, внести данные и оплатить полис.<br><br>
            Сразу после оплаты, комплект документов с электронным страховым полисом будет направлен на указанный вами
            адрес электронной почты.
          </span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Для чего нужен полис страхования гражданской ответственности?" subTitle="Страхование ГО">
          <span class="innertext text small">Это по сути ОСАГО для квадрокоптера. Если во время полета вы причините
            ущерб третьей стороне – разобьете чужой автомобиль, голову или мансардное остекление, то к вам, вероятнее
            всего, будет предъявлена финансовая претензия. Страховая компания примет на себя удовлетворение претензии в
            пределах приобретенного вами лимита.<br><br>
            Если вы летаете легально, получая разрешение на полет в компетентных органах, то наличие полиса
            страхования ГО является обязательным условием получения такого разрешения.
          </span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Ваш полис страхования ГО удовлетворяет требованиям для получения разрешения на полет?"
          subTitle="Страхование ГО">
          <span class="innertext text small">Да.</span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Сколько действует полис?" subTitle="Страхование ГО">
          <span class="innertext text small">Один календарный год.</span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Какие пилоты допущены к управлению застрахованным коптером?" subTitle="Страхование ГО">
          <span class="innertext text small">Любые, достигшие 18 лет.<br><br> И трезвые =)
            Проводя аналогию с ОСАГО - мультидрайв.
          </span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Полис действует только на территории России?" subTitle="Страхование ГО">
          <span class="innertext text small">Нет. Полис действует по всему миру. За исключением территорий, официально
            признанных зонами военных конфликтов.
          </span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Могу я купить у вас полис страхования ГО для легальных полетов в США и ЕС?" subTitle="Страхование ГО">
          <span class="innertext text small">Да, для этого просто выберите нужную валюту и лимит.
            Для ЕС – евро. Для Северной Америки – доллар США. Вы получите экземпляра полиса на английском языке.
          </span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Как оформить и получить полис страхования квадрокоптера от повреждений?" subTitle="Страхование от повреждений">
          <span class="innertext text small">
            <a class="blue" [routerLink]="['/property-insurance']"><b>Оставьте заявку</b></a> на сайте. С вами свяжется
            наш специалист для
            уточнения
            информации и удаленного оформления полиса. Оплату можно будет произвести по счету или наличными курьеру.
          </span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Что я получу при страховом случае?" subTitle="Страхование от повреждений">
          <span class="innertext text small">
            Бесплатный ремонт в официальном сервисном центре. Со списком сервисных центров вы можете ознакомиться
            <a class="blue" [routerLink]="['/repair']"><b>здесь.</b></a>
          </span>
        </gm-expansion-panel>
        <gm-expansion-panel title="От каких событий защищает полис страхования квадрокоптера от повреждений?" subTitle="Страхование от повреждений">
          <span class="innertext text small"> Удар об стену или дерево, столкновение с птицей, неудачное приземление
            после попадания под глушилку. Все, что может произойти с коптером в процессе его эксплуатации.
          </span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Есть ли какие-то исключения?" subTitle="Страхование от повреждений">
          <span class="innertext text small">Повреждение водой. Здесь мы смотрим не столько на лакмусовую бумагу,
            сколько на характер повреждений. </span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Но у меня же есть гарантия!" subTitle="Страхование от повреждений">
          <span class="innertext text small">Она покрывает только внутренние поломки по вине производителя и краши,
            произошедшие по их причине. Если вы влетите в стену вашей дачи, то гарантия это не покроет.</span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Но ведь DJI Care..." subTitle="Страхование от повреждений">
          <span class="innertext text small">Стоит дороже. Является просто депозитом на запчасти. И главное – не
            действует на территории РФ.</span>
        </gm-expansion-panel>
        <gm-expansion-panel title="А если коптер украдут или он «улетит» из-за глушилки?" subTitle="Страхование от повреждений">
          <span class="innertext text small">То это не страховой случай. Нам необходим сам коптер для его диагностики и
            снятия логов. Нет коптера – нет ремонта или замены.</span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Могу я получить выплату деньгами?" subTitle="Страхование от повреждений">
          <span class="innertext text small">Нет. Только ремонт в наших сервисах, либо замена.</span>
        </gm-expansion-panel>
        <gm-expansion-panel title="А если коптер не подлежит восстановлению?" subTitle="Страхование от повреждений">
          <span class="innertext text small">То вы получите взамен аналогичный.</span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Что именно страхуется?" subTitle="Страхование от повреждений">
          <span class="innertext text small">«Тушка» коптера и подвес. Батарея, винты, пульт, рюкзак и прочие
            расходники и аксессуары не покрываются.</span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Я хочу доработать свой квадрокоптер, поставив на него огнемет…" subTitle="Страхование от повреждений">
          <span class="innertext text small">Любые нештатные модификации автоматически расторгают договор страхования.</span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Хочу установить на DJI Matrice профессиональную видеокамеру / спектрометр / тепловизор. Могу я их тоже застраховать?"
          subTitle="Страхование от повреждений">
          <span class="innertext text small">Да, мы страхуем любые камеры, визоры и объективы Zenmuse, Red, Arri. А
            также широкий перечень прочего подвесного оборудования.</span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Что такое электронный полис и чем он отличается от купленного в офисе страховой компании?"
          subTitle="Оформление страхового полиса">
          <span class="innertext text small">Электронный полис, приобретаемый на нашем сайте, обладает такой же
            юридической силой и полностью идентичен полису, покупаемому в офисе страховой компании, скреплен
            факсимильной подписью представителя страховой компании и заверен факсимильной печатью.<br><br>
            • <a href="/assets/docs/Полис_ГО.pdf" target="_blank">Пример полиса по страхованию ГО</a><br>
            • <a href="/assets/docs/Полис_КАСКО.pdf" target="_blank">Пример полиса по страхованию от повреждений</a>
          </span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Полис действует только на территории России?" subTitle="Оформление страхового полиса">
          <span class="innertext text small">Нет. Полис действует по всему миру. За исключением территорий, официально
            признанных зонами военных конфликтов.
          </span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Какие данные нужны для покупки полиса?" subTitle="Оформление страхового полиса">
          <span class="innertext text small">Для оформления полиса достаточно указать ФИО, дату рождения, марку,
            модель, серийный номер, год выпуска вашего квадрокоптера. А также ваш телефон и email.
          </span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Как внести изменения в купленный полис или расторгнуть договор?" subTitle="Оформление страхового полиса">
          <span class="innertext text small">Для внесения изменений и расторжения страхового полиса, вам необходимо
            обратиться по электронной почте <a class="blue" href="mailto:info@quadropolis.ru"><b>info@quadropolis.ru</b></a>
          </span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Есть ли по полису франшиза?" subTitle="Оформление страхового полиса">
          <span class="innertext text small">Нет. </span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Могу ли я купить полис для другого человека?" subTitle="Оформление страхового полиса">
          <span class="innertext text small">Да, конечно. Страхователем может быть любой дееспособный человек старше 18
            лет. Вы можете купить полис в пользу любых третьих лиц – родственников, друзей, знакомых. </span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Могу ли я купить полис сразу на несколько коптеров?" subTitle="Оформление страхового полиса">
          <span class="innertext text small">Нет. В одном полисе указывается только один коптер.</span>
        </gm-expansion-panel>
        <gm-expansion-panel title="Как быстро страховой полис появится в компании ИНКОР Страхование?" subTitle="Оформление страхового полиса">
          <span class="innertext text small">Информация о новом оформленном полисе моментально поступает в страховую
            компанию. Страховая компания оставляет за собой право обработать информацию о новом полисе в течении суток.</span>
        </gm-expansion-panel>
        <gm-expansion-panel title="У вас остались вопросы?" subTitle="Прочие вопросы">
          <span class="innertext text small">Если вы не нашли ответ на свой вопрос, вы можете задать его через форму
            обратной связи или по телефону +7 (495) 181-52-12</span>
        </gm-expansion-panel>
      </gm-expansion-panel-stack>
    </div>
  </div>
</div>
