.page-container {
    background: white;
    position: relative;
    padding: 0 85px 85px;

    h2.text.semibold.center {
        width: 500px;
        padding: 55px 0 40px;
        margin: 0 auto;
    }

    .questionblock {
        margin-top: 40px;

        .innertext {
            line-height: 22px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
        max-width: initial;
        padding: 0;

        .page-container {
            padding: 0 15px;
            margin-top: 80px;

            h2.text.semibold.center {
                width: initial;
            }

            margin-bottom: -60px;
            padding-bottom: 15px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        padding: 30px;
        max-width: initial;
    }
}

@media (min-width: 1200px) {
}
