.map-section {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;

    .map {
        height: 100%;
        width: 100%;
        background: url("/assets/img/map.jpg");
        background-position: top center;
        background-size: cover;
    }

    .top {
        position: absolute;
        top: 0;
        width: 100%;
        height: 400px;
        background: #24498b;
        opacity: .75;
    }
}

.container {
    position: relative;
    z-index: 2;

    .page-container.d {
        background: white;

        .page-title {
            font-family: "ProximaNovaSemibold";
            font-size: 40px;
            text-align: center;
            margin: 0 auto;
            line-height: 38px;
        }

        .page-title.contacts-page {
            width: 500px;
            padding: 45px 0 49px;
        }

        .contacts {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;

            .contact {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-right: 1px solid #e1e1e1;
                margin-bottom: 80px;

                .title-wrapper {
                    display: flex;

                    .title {
                        font-family: "ProximaNovaBold";
                        font-size: 18px;
                        line-height: 24px;
                        text-align: center;
                        margin-bottom: 29px;
                    }
                }

                .links-wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .phone {
                        font-size: 32px;
                        text-align: center;
                        font-family: "ProximaNovaLight";
                        margin-bottom: 31px;
                    }
    
                    .link {
                        font-size: 18px;
                    }
                }
            }

            .contact:last-child {
                border-right: 1px solid transparent;
            }
        }
    }

    .triangle {
        width: 0;
        height: 0;
        left: 71px;
        margin: auto;
        border-style: solid;
        border-width: 9px 19px 0 19px;
        border-color: white transparent transparent transparent;
    }
}

.bottom {
    width: 100%;
    height: 0;
    margin-top: 330px;
    background: #24498b;
    opacity: .75;
    position: relative;
    z-index: 3;

    .back {
        width: 100%;
        height: 300px;
        margin-top: 300px;
        background: #24498b;
        opacity: .75;
        position: relative;
    }
}

@media (max-width: 767px) {
    .map-section {
        .map {
            margin-top: 50px;
        }
    }

    .container {
        width: 100%;
        max-width: initial;
        padding: 0;

        .page-container.d {
            margin-top: 80px;

            .page-title.contacts-page {
                width: initial;
                padding: 45px 0 40px;
            }

            .contacts {
                padding: 0 15px;
                flex-direction: column;

                .contact {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 0;
                    border-right: 0;
                    border-bottom: 1px solid #e1e1e1;
                    padding: 30px 0;

                    &:last-child {
                        border-bottom: 0;
                    }

                    .title-wrapper {
                        width: 100%;
                        flex: 1;
                        justify-content: center;
                        margin-bottom: 20px;

                        .title {
                            text-align: center;
                            margin-bottom: 0;
                        }
                    }

                    .links-wrapper {
                        flex: 1;
                        align-items: center;

                        .phone {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    .bottom {
        .back {
            display: none;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 100%;
        max-width: initial;
        padding: 30px;

        .page-container.d {
            .contacts {
                padding: 0 70px;
                flex-direction: column;

                .contact {
                    flex-direction: row;
                    align-items: flex-start;
                    margin-bottom: 0;
                    border-right: 0;
                    border-bottom: 1px solid #e1e1e1;
                    padding: 30px 0;

                    &:last-child {
                        border-bottom: 0;
                    }

                    .title-wrapper {
                        flex: 1;
                        justify-content: center;

                        .title {
                            width: 90%;
                            text-align: initial;
                            margin-bottom: 0;
                        }
                    }

                    .links-wrapper {
                        flex: 1;
                        align-items: flex-start;
                        margin-left: 10%;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
}
