<div class="map-section">
  <div class="map"></div>
  <div class="top"></div>
</div>

<div class="container">
  <div class="page-container d">
    <div class="page-title contacts-page"> Контакты </div>
    <div class="contacts">
      <div class="contact">
        <div class="title-wrapper">
          <div class="title">Урегулирование
            <br> страховых случаев</div>
        </div>
        <div class="links-wrapper">
          <div class="phone">+7 (968) 921-88-22</div>
          <a href="mailto:quadroservice@incorins.ru" class="link">quadroservice@incorins.ru</a>
        </div>
      </div>
      <div class="contact">
        <div class="title-wrapper">
          <div class="title">По вопросам страхования
            <br> квадрокоптеров</div>
        </div>
        <div class="links-wrapper">
          <div class="phone">+7 (916) 753-15-11</div>
          <a href="mailto:quadrosale@incorins.ru" class="link">quadrosale@incorins.ru</a>
        </div>
      </div>
      <div class="contact">
        <div class="title-wrapper">
          <div class="title">По вопросам сотрудничества
            <br> с «Quadro-Полис»</div>
        </div>
        <div class="links-wrapper">
          <div class="phone">+7 (916) 753-15-11</div>
          <a href="mailto:quadropartners@incorins.ru" class="link">quadropartners@incorins.ru</a>
        </div>
      </div>
    </div>
  </div>
  <div class="page-container t">
    <div class="triangle">
    </div>
  </div>
</div>

<div class="bottom">
  <div class="back"></div>
</div>
