.cont {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    align-items: center;
    width: 100%;

    .image-block {
        height: 140px;
        width: 200px;
        flex-shrink: 0;
        flex-grow: 0;
        position: relative;
        border: 1px solid #e1e1e1;
        margin-bottom: 15px;
        cursor: pointer;

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    a {
        width: 200px;
        text-align: center;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .address {
        width: 200px;
        text-align: center;
        color: #5a5a5a;
        font-size: 14px;
        line-height: 18px;
        height: 36px;
        margin-bottom: 25px;
    }
}
