<div class="cont">
  <div class="image-block" (click)="navigateAway()">
    <img [src]="image">
  </div>
  <a [href]="url" class="title blue">{{title}}</a>
  <div class="address">{{address}}</div>
</div>