<header [ngClass]="cpdService.openSidebar ? 'openSidebar' : ''">
    <div class="top-part">
        <div class="page-container">
            <div class="left"></div>
            <ul class="center">
                <li [ngClass]="currentUrl=='/repair'?'active':''">
                    <a [routerLink]="['/repair']">Ремонт коптеров</a>
                </li>
                <li [ngClass]="currentUrl=='/shop'?'active':''">
                    <a [routerLink]="['/shop']">Покупка коптеров</a>
                </li>
                <li [ngClass]="currentUrl=='/about'?'active':''">
                    <a [routerLink]="['/about']">О проекте</a>
                </li>
                <li [ngClass]="currentUrl=='/docs'?'active':''">
                    <a [routerLink]="['/docs']">Документы</a>
                </li>
                <li [ngClass]="currentUrl=='/payment'?'active':''">
                    <a [routerLink]="['/payment']">Оплата</a>
                </li>
                <li [ngClass]="currentUrl=='/faq'?'active':''">
                    <a [routerLink]="['/faq']">Вопросы и ответы</a>
                </li>
                <li [ngClass]="currentUrl=='/contacts'?'active':''">
                    <a [routerLink]="['/contacts']">Контакты</a>
                </li>
            </ul>
            <div class="right" [ngClass]="currentUrl=='/insured-event'?'active':''">
                <svg *ngIf="currentUrl!='/insured-event'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.09 24.5">
                    <g>
                        <path fill="#9de4ff" d="M6,19.4a.48.48,0,0,1-.24-.06.46.46,0,0,1-.18-.63L6.7,16.84a.48.48,0,0,1,.65-.17.46.46,0,0,1,.18.63L6.4,19.17A.48.48,0,0,1,6,19.4Z" />
                        <path fill="#9de4ff" d="M11.87,17.7a.5.5,0,0,1-.24-.06.46.46,0,0,1-.18-.63l1.13-1.87a.49.49,0,0,1,.65-.17.46.46,0,0,1,.18.63l-1.12,1.87A.49.49,0,0,1,11.87,17.7Z" />
                        <path fill="#9de4ff" d="M9.9,21a.44.44,0,0,1-.24-.07.45.45,0,0,1-.17-.63l1.12-1.86a.49.49,0,0,1,.66-.17.45.45,0,0,1,.18.63l-1.13,1.87A.5.5,0,0,1,9.9,21Z" />
                        <path fill="#9de4ff" d="M15.28,19.4a.5.5,0,0,1-.24-.06.46.46,0,0,1-.18-.63L16,16.84a.48.48,0,0,1,.65-.17.46.46,0,0,1,.18.63l-1.13,1.87A.47.47,0,0,1,15.28,19.4Z" />
                        <path fill="#9de4ff" d="M4,22.8a.53.53,0,0,1-.24-.06.44.44,0,0,1-.17-.63l1.12-1.87a.49.49,0,0,1,.66-.17.44.44,0,0,1,.17.63L4.44,22.57A.48.48,0,0,1,4,22.8Z" />
                        <path fill="#9de4ff" d="M7.82,24.5a.5.5,0,0,1-.24-.06.46.46,0,0,1-.18-.63l1.13-1.87a.48.48,0,0,1,.65-.17.46.46,0,0,1,.18.63L8.23,24.27A.48.48,0,0,1,7.82,24.5Z" />
                        <path fill="#9de4ff" d="M13.31,22.8a.53.53,0,0,1-.24-.06.44.44,0,0,1-.17-.63L14,20.24a.5.5,0,0,1,.66-.17.46.46,0,0,1,.18.63l-1.13,1.87A.48.48,0,0,1,13.31,22.8Z" />
                        <path fill="#9de4ff" d="M.25,11.8a3.63,3.63,0,0,1,.8-2.27,4,4,0,0,1,1.57-1.2,5.19,5.19,0,0,1-.11-1,5.12,5.12,0,0,1,5.22-5,5.4,5.4,0,0,1,2.8.78,5.88,5.88,0,0,1,1.92-1.89A6.19,6.19,0,0,1,15.71.25,6,6,0,0,1,21.76,5.7a5.28,5.28,0,0,1,2.79,1.59,4.88,4.88,0,0,1,1.29,3.29,5.12,5.12,0,0,1-5.22,5H4.21A3.88,3.88,0,0,1,.25,11.8ZM13,1.94a4.92,4.92,0,0,0-1.85,2,.46.46,0,0,1-.33.24.48.48,0,0,1-.4-.09,4.35,4.35,0,0,0-2.66-.89A4.19,4.19,0,0,0,3.47,7.28a3.68,3.68,0,0,0,.19,1.2.5.5,0,0,1,0,.36.48.48,0,0,1-.28.22A2.92,2.92,0,0,0,1.21,11.8a2.94,2.94,0,0,0,3,2.86H20.62a4.18,4.18,0,0,0,4.26-4.08,4,4,0,0,0-1.06-2.69,4.33,4.33,0,0,0-2.6-1.35.46.46,0,0,1-.41-.46v0a5,5,0,0,0-5.1-4.89A5.24,5.24,0,0,0,13,1.94Z" />
                        <path fill="#9de4ff" d="M20.62,15.83H4.21A4.12,4.12,0,0,1,0,11.8,3.89,3.89,0,0,1,.85,9.37,4.11,4.11,0,0,1,2.34,8.19a5.5,5.5,0,0,1-.08-.91A5.37,5.37,0,0,1,7.73,2a5.69,5.69,0,0,1,2.72.69A6.17,6.17,0,0,1,12.32,1,6.47,6.47,0,0,1,15.71,0,6.23,6.23,0,0,1,22,5.5a5.53,5.53,0,0,1,2.74,1.62,5.08,5.08,0,0,1,1.36,3.46A5.37,5.37,0,0,1,20.62,15.83ZM7.73,2.52a4.88,4.88,0,0,0-5,4.76,4.14,4.14,0,0,0,.11,1l0,.2-.19.08A3.83,3.83,0,0,0,1.24,9.68,3.44,3.44,0,0,0,.5,11.8a3.63,3.63,0,0,0,3.71,3.53H20.62a4.87,4.87,0,0,0,5-4.75,4.61,4.61,0,0,0-1.23-3.12A5,5,0,0,0,21.7,5.94l-.18,0V5.71A5.72,5.72,0,0,0,15.71.5a6,6,0,0,0-3.13.87,5.79,5.79,0,0,0-1.84,1.81l-.13.21-.21-.13A5.19,5.19,0,0,0,7.73,2.52ZM20.62,14.91H4.21A3.18,3.18,0,0,1,1,11.8a3.16,3.16,0,0,1,2.31-3,.24.24,0,0,0,.13-.11.19.19,0,0,0,0-.15,4.23,4.23,0,0,1-.2-1.28A4.43,4.43,0,0,1,7.73,2.94a4.58,4.58,0,0,1,2.81,1,.28.28,0,0,0,.2,0,.25.25,0,0,0,.16-.12,5.26,5.26,0,0,1,1.94-2.09,5.52,5.52,0,0,1,2.87-.8,5.26,5.26,0,0,1,5.35,5.14.21.21,0,0,0,.19.23A4.59,4.59,0,0,1,24,7.73a4.21,4.21,0,0,1,1.12,2.85A4.43,4.43,0,0,1,20.62,14.91ZM7.73,3.44a3.93,3.93,0,0,0-4,3.84,3.86,3.86,0,0,0,.17,1.13A.7.7,0,0,1,3.84,9a.73.73,0,0,1-.43.34,2.65,2.65,0,0,0-1.95,2.5,2.69,2.69,0,0,0,2.75,2.61H20.62a3.93,3.93,0,0,0,4-3.83,3.72,3.72,0,0,0-1-2.52,4.06,4.06,0,0,0-2.45-1.27.72.72,0,0,1-.63-.71,4.76,4.76,0,0,0-4.85-4.66,5,5,0,0,0-2.61.73h0A4.77,4.77,0,0,0,11.34,4a.73.73,0,0,1-.49.38.7.7,0,0,1-.61-.14A4.1,4.1,0,0,0,7.73,3.44Z" />
                    </g>
                </svg>
                <svg *ngIf="currentUrl=='/insured-event'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.09 24.5">
                    <g>
                        <path fill="#feb71f" d="M6,19.4a.48.48,0,0,1-.24-.06.46.46,0,0,1-.18-.63L6.7,16.84a.48.48,0,0,1,.65-.17.46.46,0,0,1,.18.63L6.4,19.17A.48.48,0,0,1,6,19.4Z" />
                        <path fill="#feb71f" d="M11.87,17.7a.5.5,0,0,1-.24-.06.46.46,0,0,1-.18-.63l1.13-1.87a.49.49,0,0,1,.65-.17.46.46,0,0,1,.18.63l-1.12,1.87A.49.49,0,0,1,11.87,17.7Z" />
                        <path fill="#feb71f" d="M9.9,21a.44.44,0,0,1-.24-.07.45.45,0,0,1-.17-.63l1.12-1.86a.49.49,0,0,1,.66-.17.45.45,0,0,1,.18.63l-1.13,1.87A.5.5,0,0,1,9.9,21Z" />
                        <path fill="#feb71f" d="M15.28,19.4a.5.5,0,0,1-.24-.06.46.46,0,0,1-.18-.63L16,16.84a.48.48,0,0,1,.65-.17.46.46,0,0,1,.18.63l-1.13,1.87A.47.47,0,0,1,15.28,19.4Z" />
                        <path fill="#feb71f" d="M4,22.8a.53.53,0,0,1-.24-.06.44.44,0,0,1-.17-.63l1.12-1.87a.49.49,0,0,1,.66-.17.44.44,0,0,1,.17.63L4.44,22.57A.48.48,0,0,1,4,22.8Z" />
                        <path fill="#feb71f" d="M7.82,24.5a.5.5,0,0,1-.24-.06.46.46,0,0,1-.18-.63l1.13-1.87a.48.48,0,0,1,.65-.17.46.46,0,0,1,.18.63L8.23,24.27A.48.48,0,0,1,7.82,24.5Z" />
                        <path fill="#feb71f" d="M13.31,22.8a.53.53,0,0,1-.24-.06.44.44,0,0,1-.17-.63L14,20.24a.5.5,0,0,1,.66-.17.46.46,0,0,1,.18.63l-1.13,1.87A.48.48,0,0,1,13.31,22.8Z" />
                        <path fill="#feb71f" d="M.25,11.8a3.63,3.63,0,0,1,.8-2.27,4,4,0,0,1,1.57-1.2,5.19,5.19,0,0,1-.11-1,5.12,5.12,0,0,1,5.22-5,5.4,5.4,0,0,1,2.8.78,5.88,5.88,0,0,1,1.92-1.89A6.19,6.19,0,0,1,15.71.25,6,6,0,0,1,21.76,5.7a5.28,5.28,0,0,1,2.79,1.59,4.88,4.88,0,0,1,1.29,3.29,5.12,5.12,0,0,1-5.22,5H4.21A3.88,3.88,0,0,1,.25,11.8ZM13,1.94a4.92,4.92,0,0,0-1.85,2,.46.46,0,0,1-.33.24.48.48,0,0,1-.4-.09,4.35,4.35,0,0,0-2.66-.89A4.19,4.19,0,0,0,3.47,7.28a3.68,3.68,0,0,0,.19,1.2.5.5,0,0,1,0,.36.48.48,0,0,1-.28.22A2.92,2.92,0,0,0,1.21,11.8a2.94,2.94,0,0,0,3,2.86H20.62a4.18,4.18,0,0,0,4.26-4.08,4,4,0,0,0-1.06-2.69,4.33,4.33,0,0,0-2.6-1.35.46.46,0,0,1-.41-.46v0a5,5,0,0,0-5.1-4.89A5.24,5.24,0,0,0,13,1.94Z" />
                        <path fill="#feb71f" d="M20.62,15.83H4.21A4.12,4.12,0,0,1,0,11.8,3.89,3.89,0,0,1,.85,9.37,4.11,4.11,0,0,1,2.34,8.19a5.5,5.5,0,0,1-.08-.91A5.37,5.37,0,0,1,7.73,2a5.69,5.69,0,0,1,2.72.69A6.17,6.17,0,0,1,12.32,1,6.47,6.47,0,0,1,15.71,0,6.23,6.23,0,0,1,22,5.5a5.53,5.53,0,0,1,2.74,1.62,5.08,5.08,0,0,1,1.36,3.46A5.37,5.37,0,0,1,20.62,15.83ZM7.73,2.52a4.88,4.88,0,0,0-5,4.76,4.14,4.14,0,0,0,.11,1l0,.2-.19.08A3.83,3.83,0,0,0,1.24,9.68,3.44,3.44,0,0,0,.5,11.8a3.63,3.63,0,0,0,3.71,3.53H20.62a4.87,4.87,0,0,0,5-4.75,4.61,4.61,0,0,0-1.23-3.12A5,5,0,0,0,21.7,5.94l-.18,0V5.71A5.72,5.72,0,0,0,15.71.5a6,6,0,0,0-3.13.87,5.79,5.79,0,0,0-1.84,1.81l-.13.21-.21-.13A5.19,5.19,0,0,0,7.73,2.52ZM20.62,14.91H4.21A3.18,3.18,0,0,1,1,11.8a3.16,3.16,0,0,1,2.31-3,.24.24,0,0,0,.13-.11.19.19,0,0,0,0-.15,4.23,4.23,0,0,1-.2-1.28A4.43,4.43,0,0,1,7.73,2.94a4.58,4.58,0,0,1,2.81,1,.28.28,0,0,0,.2,0,.25.25,0,0,0,.16-.12,5.26,5.26,0,0,1,1.94-2.09,5.52,5.52,0,0,1,2.87-.8,5.26,5.26,0,0,1,5.35,5.14.21.21,0,0,0,.19.23A4.59,4.59,0,0,1,24,7.73a4.21,4.21,0,0,1,1.12,2.85A4.43,4.43,0,0,1,20.62,14.91ZM7.73,3.44a3.93,3.93,0,0,0-4,3.84,3.86,3.86,0,0,0,.17,1.13A.7.7,0,0,1,3.84,9a.73.73,0,0,1-.43.34,2.65,2.65,0,0,0-1.95,2.5,2.69,2.69,0,0,0,2.75,2.61H20.62a3.93,3.93,0,0,0,4-3.83,3.72,3.72,0,0,0-1-2.52,4.06,4.06,0,0,0-2.45-1.27.72.72,0,0,1-.63-.71,4.76,4.76,0,0,0-4.85-4.66,5,5,0,0,0-2.61.73h0A4.77,4.77,0,0,0,11.34,4a.73.73,0,0,1-.49.38.7.7,0,0,1-.61-.14A4.1,4.1,0,0,0,7.73,3.44Z" />
                    </g>
                </svg>
                <a [routerLink]="['/insured-event']">Страховой случай</a>
            </div>
        </div>
    </div>
    <div class="bottom-part page-container">
        <div class="left" [ngClass]="currentUrl=='/liability-insurance'?'active':''">
            <a class="link" [routerLink]="['/liability-insurance']">Страхование гражданской ответственности пилотов</a>
            <div class="menu-icon" (click)="toggleSidebar()" [ngClass]="cpdService.openSidebar ? 'openSidebar' : ''">
                <svg class="open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.97 384.97">
                    <g>
                        <g>
                            <path d="M12.03,120.303h360.909c6.641,0,12.03-5.39,12.03-12.03c0-6.641-5.39-12.03-12.03-12.03H12.03    c-6.641,0-12.03,5.39-12.03,12.03C0,114.913,5.39,120.303,12.03,120.303z"
                                fill="#9de4ff" />
                            <path d="M372.939,180.455H12.03c-6.641,0-12.03,5.39-12.03,12.03s5.39,12.03,12.03,12.03h360.909c6.641,0,12.03-5.39,12.03-12.03    S379.58,180.455,372.939,180.455z"
                                fill="#9de4ff" />
                            <path d="M372.939,264.667H132.333c-6.641,0-12.03,5.39-12.03,12.03c0,6.641,5.39,12.03,12.03,12.03h240.606    c6.641,0,12.03-5.39,12.03-12.03C384.97,270.056,379.58,264.667,372.939,264.667z"
                                fill="#9de4ff" />
                        </g>
                    </g>
                </svg>
                <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612">
                    <g>
                        <g id="cross">
                            <g>
                                <polygon points="612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397      306,341.411 576.521,611.397 612,575.997 341.459,306.011    " fill="#9de4ff"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <div class="logo-wrapper">
            <a [routerLink]="['']" class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 258 46">
                    <g>
                        <polygon fill="#fff" points="108.53 45.69 111.6 45.69 111.6 34.08 117.81 34.08 117.81 45.69 120.88 45.69 120.88 31.38 108.53 31.38 108.53 45.69" />
                        <path fill="#fff" d="M155.63,34.86a7.23,7.23,0,0,0-2.35-2.53,7.54,7.54,0,0,0-1.59-.77,8.49,8.49,0,0,0-1.71-.4,4,4,0,0,0-.51-.06H149a8,8,0,0,0-3.88,1,7.4,7.4,0,0,0-2.9,2.92,9,9,0,0,0-.48,1.09,8.3,8.3,0,0,0-.31,1.13c0,.23-.06.45-.08.67s0,.43,0,.64a7.37,7.37,0,0,0,5.56,7.18,7.84,7.84,0,0,0,1.6.25l.22,0h.23a8.19,8.19,0,0,0,4.27-1.2,7.08,7.08,0,0,0,2.94-3.38,7.45,7.45,0,0,0,.3-.91,6.07,6.07,0,0,0,.17-.93,3.4,3.4,0,0,0,.06-.46c0-.16,0-.31,0-.46v-.27a2.45,2.45,0,0,0,0-.27A7.72,7.72,0,0,0,155.63,34.86Zm-2.17,3.61v.12a7,7,0,0,1-.06.92,4.93,4.93,0,0,1-1.91,3.09,4.47,4.47,0,0,1-2.57.8l-.33,0-.32,0-.35-.08-.33-.08a3.87,3.87,0,0,1-2.26-1.71,5.32,5.32,0,0,1-.86-2.73v-.18c0-.11,0-.21,0-.32a2.54,2.54,0,0,1,0-.29c0-.21.06-.42.11-.63a4.39,4.39,0,0,1,1.84-2.76,4.36,4.36,0,0,1,2.54-.81l.41,0,.41.05a5.33,5.33,0,0,1,.66.17,3,3,0,0,1,.65.28A4.44,4.44,0,0,1,152.8,36a5.5,5.5,0,0,1,.66,2.33Z" />
                        <path fill="#fff" d="M180,31.63v1.23c0,.53,0,1.14,0,1.85s0,1.43-.07,2.17a30.62,30.62,0,0,1-.29,3.16,4.38,4.38,0,0,1-.69,2.08,2.5,2.5,0,0,1-.38.35,1.56,1.56,0,0,1-.43.25,3.44,3.44,0,0,1-.72.25,3.63,3.63,0,0,1-.57.07l-.07,0h-.06s-.06,0-.07,0v2.72H177l.12,0h.41a5.11,5.11,0,0,0,2.16-.43,5.19,5.19,0,0,0,1.77-1.39,4.38,4.38,0,0,0,.78-1.92c.2-.92.36-1.9.49-3s.2-1.84.24-2.69.07-1.5.07-1.94v-.56h4.57V45.64l3.07,0V31.38H180S180,31.47,180,31.63Z" />
                        <path fill="#fff" d="M215.93,39.4a4.21,4.21,0,0,0-.37.63,6.86,6.86,0,0,0-.35.78l-.26.62c-.08.2-.16.39-.24.55,0-.13,0-.26,0-.38a2.25,2.25,0,0,1,.06-.36c0-.1,0-.21,0-.3l0-.31c0-.22.06-.44.08-.66s0-.44,0-.68V31.38h-3.08V45.69h3l5.45-8.31a2.65,2.65,0,0,0,.36-.56l.27-.59c.06-.13.12-.27.17-.4a3.75,3.75,0,0,1,.19-.41c0,.21-.08.41-.1.58a4.12,4.12,0,0,0,0,.48c0,.18,0,.36,0,.55s0,.4,0,.64v8h3.1V31.38h-3.1Z" />
                        <path fill="#fff" d="M253.66,31.09c-.15,0-.3,0-.45,0h-.45c-.2,0-.4,0-.6,0s-.41,0-.62.07a7.33,7.33,0,0,0-6.67,7.41,6.73,6.73,0,0,0,2.39,5.5,8.25,8.25,0,0,0,5.38,2l.68,0,.7-.09a10.67,10.67,0,0,0,1.54-.35,7.9,7.9,0,0,0,1.47-.62l0-3.16a7.64,7.64,0,0,1-2,1.26,5.55,5.55,0,0,1-2.23.44h-.59l-.15,0h-.15A4,4,0,0,1,249,41.76a5.36,5.36,0,0,1-1-3.1v-.32a5.86,5.86,0,0,1,1-2.92,4.05,4.05,0,0,1,2.59-1.75l.19,0a.65.65,0,0,1,.19,0,3,3,0,0,1,.59-.09l.56,0a5.24,5.24,0,0,1,2.09.42,7.61,7.61,0,0,1,1.91,1.18l.12-3.06a14,14,0,0,0-1.76-.6A10,10,0,0,0,253.66,31.09Z" />
                        <path fill="#fff" d="M117.42,18.27V4.43h-7V18.27A2.7,2.7,0,0,1,109.06,21q-1.31.64-6.2.65t-6.34-.7c-.77-.38-1.15-1.26-1.15-2.64V4.43h-7V18.27c0,4.09.9,6.68,2.72,7.76q2.46,1.47,11.81,1.46T114.7,26Q117.42,24.44,117.42,18.27Z" />
                        <path fill="#fff" d="M146.54,27.14h8.22L143.44,4.43h-12.1L120,27.14h8.22l2.18-3.81h14ZM133,17.44l3.81-7.89h1.09l3.78,7.89Z" />
                        <path fill="#fff" d="M185.74,24.72c1.17-1.46,1.76-4.45,1.76-8.95s-.6-7.52-1.79-9-3.93-2.39-7.94-2.39H158.06V27.11h19.71C181.81,27.11,184.46,26.31,185.74,24.72ZM165.1,21.23v-11h11.49c1.51,0,2.54.39,3.07,1.17s.8,2.23.8,4.35-.27,3.54-.8,4.31-1.56,1.15-3.07,1.15Z" />
                        <path fill="#fff" d="M213.84,21.58a2.32,2.32,0,0,1,.48,1.49v4.07h7V22.05a5.05,5.05,0,0,0-.63-2.95,6.23,6.23,0,0,0-2.54-1.66,4.44,4.44,0,0,0,2.46-2.1,10.12,10.12,0,0,0,.71-4.34q0-3.76-1.7-5.26t-5.34-1.37H193.84V27.14h7V20.78H212A2.17,2.17,0,0,1,213.84,21.58Zm-13-11.33h11.29a2.27,2.27,0,0,1,1.64.52,2.55,2.55,0,0,1,.51,1.82,2.54,2.54,0,0,1-.5,1.81,2.28,2.28,0,0,1-1.65.5H200.88Z" />
                        <path fill="#fff" d="M258,15.79c0-5.54-.68-8.85-2.05-10s-5.81-1.75-13.09-1.75-11.67.6-13.12,1.79-2,4.38-2,9.92q0,6,.64,7.92a5,5,0,0,0,4,3.18q2.49.57,10.49.57,10.95,0,13.12-1.75T258,15.79ZM250,20.86q-1,.72-7.09.72t-7.05-.72c-.68-.48-1-2.17-1-5.07s.33-4.63,1-5.11,3-.71,7.08-.71,6.39.24,7.06.71,1,2.18,1,5.11S250.62,20.38,250,20.86Z" />
                        <path fill="#fff" d="M67.21,4.08q-10.95,0-13.12,1.79c-1.33,1.08-2,4.38-2,9.92q0,6,.64,7.92a5,5,0,0,0,4,3.18q2.49.57,10.5.57c1,0,2,0,2.89,0l1.68,2.89h7l-2-3.43a8,8,0,0,0,3.5-1.18q2-1.62,2-9.92c0-5.54-.68-8.85-2-10S74.48,4.08,67.21,4.08ZM72.07,18.7H65l1.67,2.87c-3.71,0-5.91-.25-6.55-.71s-1-2.17-1-5.07.34-4.63,1-5.11,3-.71,7.09-.71,6.38.24,7.06.71,1,2.18,1,5.11-.33,4.59-1,5.07a2.24,2.24,0,0,1-.79.3Z" />
                        <path fill="#fff" d="M34.93,23.58a11,11,0,0,0-4.14.8,3.86,3.86,0,0,0,.48.8l.73,1a8.92,8.92,0,1,1-5.6,5.62l-1-.75a4,4,0,0,0-.77-.46,10.84,10.84,0,0,0-.77,4,11.08,11.08,0,1,0,11.07-11Z" />
                        <path fill="#fff" d="M30,35.31a.87.87,0,0,0-1.72.26,6.74,6.74,0,0,0,5.67,5.65.87.87,0,0,0,1-.86.86.86,0,0,0-.73-.85A5,5,0,0,1,30,35.31Z" />
                        <path fill="#fff" d="M35.65,29.66a5,5,0,0,1,4.24,4.18.85.85,0,0,0,.85.72.86.86,0,0,0,.86-1A6.73,6.73,0,0,0,35.91,28a.88.88,0,0,0-1,.86A.85.85,0,0,0,35.65,29.66Z" />
                        <path fill="#fff" d="M20.6,31l-1,.75a8.84,8.84,0,0,1,.47,2.83A9,9,0,1,1,14,26.14l.73-1a3.81,3.81,0,0,0,.47-.8,11,11,0,1,0,6.17,6.17A4.43,4.43,0,0,0,20.6,31Z" />
                        <path fill="#fff" d="M17.75,35.57a.87.87,0,0,0-.86-1,.85.85,0,0,0-.86.72,5,5,0,0,1-4.21,4.2.85.85,0,0,0-.73.85.87.87,0,0,0,1,.86A6.75,6.75,0,0,0,17.75,35.57Z" />
                        <path fill="#fff" d="M10.1,28a6.73,6.73,0,0,0-5.69,5.63.86.86,0,0,0,1.71.26,5,5,0,0,1,4.23-4.18.86.86,0,0,0,.74-.85A.88.88,0,0,0,10.1,28Z" />
                        <path fill="#fff" d="M31.83,34.13a.55.55,0,0,1,.22.45h0a2.88,2.88,0,1,0,2.88-2.87h-.11a.55.55,0,0,1-.46-.22L30.16,26a5.3,5.3,0,0,1,0-6.44l4.2-5.5a.55.55,0,0,1,.46-.21h.11A2.86,2.86,0,1,0,32.05,11h0a.52.52,0,0,1-.22.45l-5.59,4.22a5.36,5.36,0,0,1-6.48,0l-5.59-4.22A.55.55,0,0,1,14,11h0a2.88,2.88,0,1,0-2.88,2.86h.12a.55.55,0,0,1,.46.21l4.2,5.5a5.3,5.3,0,0,1,0,6.44l-4.2,5.49a.55.55,0,0,1-.46.22h-.12A2.87,2.87,0,1,0,14,34.59h0a.58.58,0,0,1,.22-.45l5.59-4.22a5.4,5.4,0,0,1,6.48,0Z" />
                        <path fill="#fff" d="M34.93,0A11,11,0,0,0,23.86,11a10.82,10.82,0,0,0,.77,4,3.57,3.57,0,0,0,.77-.46l1-.75A8.82,8.82,0,0,1,25.94,11,9,9,0,1,1,32,19.45l-.73,1a3.68,3.68,0,0,0-.48.81,11.17,11.17,0,0,0,4.14.79,11,11,0,1,0,0-22Z" />
                        <path fill="#fff" d="M30,10.28a5,5,0,0,1,4.21-4.2.85.85,0,0,0,.73-.85.86.86,0,0,0-1-.85A6.71,6.71,0,0,0,28.26,10a.87.87,0,0,0,1.72.26Z" />
                        <path fill="#fff" d="M34.92,16.78a.87.87,0,0,0,1,.86A6.71,6.71,0,0,0,41.6,12a.87.87,0,0,0-1.71-.27,5,5,0,0,1-4.24,4.18A.86.86,0,0,0,34.92,16.78Z" />
                        <path fill="#fff" d="M11.07,22a11.13,11.13,0,0,0,4.14-.79,3.64,3.64,0,0,0-.47-.81l-.73-1A8.93,8.93,0,1,1,20.07,11a8.83,8.83,0,0,1-.47,2.82l1,.75a3.89,3.89,0,0,0,.78.46,11.09,11.09,0,1,0-10.31,7Z" />
                        <path fill="#fff" d="M12.08,4.38a.86.86,0,0,0-1,.85.84.84,0,0,0,.73.85A5,5,0,0,1,16,10.28a.86.86,0,0,0,.86.73.88.88,0,0,0,.86-1A6.73,6.73,0,0,0,12.08,4.38Z" />
                        <path fill="#fff" d="M5.26,11a.86.86,0,0,0-.85,1,6.71,6.71,0,0,0,5.69,5.62.86.86,0,1,0,.25-1.71,5,5,0,0,1-4.23-4.18A.86.86,0,0,0,5.26,11Z" />
                    </g>
                </svg>
            </a>
        </div>
        <div class="right" [ngClass]="currentUrl=='/property-insurance'?'active':''">
            <a class="link" [routerLink]="['/property-insurance']">Страхование коптеров
                <br>от повреждений</a>
            <div class="phonepart">
                <div class="phone text bold">+7(495) 181-52-12</div>
                <div class="address">
                    Москва, ул. Таганская, 17-23 <a href="mailto:info@quadropolis.ru">info@quadropolis.ru</a>
                </div>
            </div>
            <div class="phone-wrapper">
                <a href="tel:+74954115045">
                    <img src="../../../assets/img/phone.png" alt="Телефон для вызова +74954115045" />
                </a>
            </div>
        </div>
    </div>
</header>
