@import "../../GodModeControls/Styles/gm-styles.scss";

$topheight:57px;
$toplinkheight:65px;
$bottomheight:140px;

header {
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
    position: relative;
    z-index: 13;

    .page-container {
        padding: 0 30px;
        max-width: 1720px;
    }

    .top-part {
        height: $topheight;
        border-bottom: 1px solid #3f6fc3;

        .page-container {
            display: flex;

            .left,
            .right {
                width: 275px;
                height: 100%;
                position: relative;

                svg {
                    float: left;
                    height: 25px;
                    width: 25px;
                    margin-right: 5px;
                    margin-top: 18px;
                }

                a {
                    position: relative;
                    display: block;
                    height: 100%;
                    color: #9de4ff;
                    text-decoration: none;
                    text-align: center;
                    line-height: $topheight;
                    font-size: 14px;
                    width: 170px;
                }
            }

            .left {
                margin-right: 20px;
            }

            .right {
                margin-left: 20px;
            }

            .left.active,
            .right.active {
                a {
                    color: #feb71f;
                }
            }

            ul.center {
                height: $toplinkheight;
                width: 100%;
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                justify-content: stretch;
                position: relative;

                li {
                    height: 100%;
                    position: relative;
                    flex: 1;
                    flex-shrink: 0;
                    flex-basis: auto;

                    a {
                        position: relative;
                        display: block;
                        height: 100%;
                        width: 100%;
                        color: white;
                        text-decoration: none;
                        text-align: center;
                        line-height: $topheight;
                        font-size: 14px;
                    }
                }

                li.active {
                    background: $accentcolor;
                }
            }
        }
    }

    .bottom-part {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: $bottomheight;

        .left,
        .right {
            width: 230px;

            a.link {
                text-align: center;
                font-family: "ProximaNovaBold";
                color: #9de4ff;
            }

            .menu-icon {
                transform: rotateY(180deg);

                .open {
                    display: block;
                }

                .close {
                    display: none;
                }

                &.openSidebar {
                    .open {
                        display: none;
                    }

                    .close {
                        display: block;
                    }
                }
            }

            .phonepart {
                color: #fff;

                .phone {
                    font-size: 22px;
                    margin-bottom: 10px;
                }
    
                .address {
                    font-size: 14px;
                    line-height: 18px;
    
                    a,
                    a:visited {
                        color: #9de4ff;
                        margin-left: 5px;
                        text-decoration: none;
                    }
    
                    a:hover {
                        color: #feb71f;
                        text-decoration: underline;
                    }
                }
            }

            .phone-wrapper {
                display: none;
            }
        }

        .logo-wrapper {
            display: flex;

            .logo {
                height: 46px;
                overflow: hidden;
                position: relative;
                margin: 0 100px;
                flex-shrink: 0;
    
                svg {
                    height: 100%;
                }
            }
        }

        .active {
            a {
                color: #feb71f;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 767px) {
    header {
        height: 80px;
        background-color: #133768;
        position: fixed;
        top: 0;
        left: 0;

        .bottom-part {
            height: 80px;

            .left {
                width: 30px;
            }

            .logo-wrapper {
                flex: 1;
                justify-content: center;

                .logo {
                    margin: 0 auto;
                    height: 24px;
                }
            }

            .right {
                width: initial;
                flex: initial;

                .phonepart {
                    display: none;
                }

                .phone-wrapper {
                    display: block;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    header {
        height: 100px;
        transition: left .3s;

        .bottom-part {
            height: 100px;

            .left {
                width: 30px;
            }

            .logo-wrapper {
                flex: 1;

                .logo {
                    margin: 0 100px 0 30px;
                }
            }

            .right {
                flex: 1;
            }
        }
    }
}

@media (max-width: 1199px) {
    header {
        border-bottom: 1px solid #3f6fc3;
        margin-bottom: 0;

        .top-part {
            display: none;
        }

        .bottom-part {
            .left,
            .right {
                .link {
                    display: none;
                }
            }

            .left {
                .menu-icon {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    header {
        .bottom-part {
            .left {
                .menu-icon {
                    display: none;
                }
            }

            .right {
                .phonepart {
                    display: none;
                }
            }
        }
    }
}
