<div class="container">
  <div class="page-container">
    <app-copters></app-copters>
    <h2 class="text semibold center red">Ошибка оплаты</h2>
    <div class="top-part">
      <div class="content">К сожалению, мы не получили подтверждения оплаты.
        <br>Попробуйте оформить полис еще раз.
      </div>
    </div>
    <app-payment-status [type]=true></app-payment-status>
    <div class="bottom-part">
    </div>
  </div>
