<div class="changemodepart">
  <div #button class="selection-button" (click)="yearClick()"  tabindex="1">
    <span class="caption">{{yearCollection.getYearLimits()}}</span>
    <i class="fas fa-chevron-down dropdown"></i>
  </div>
</div>
<div class="weekdays" (click)="clickOnCalendar()">
  <gm-date-cell *ngFor="let year of yearCollection.years" [value]="year" type="number" [isCurrent]="isThisYear(year)" [disabled]="isYearDisabled(year)"
    [isFocused]="canFocusDate(year)" [isSelected]="isYearSelected(year)" (ngOnSelect)="selectYear($event)"></gm-date-cell>
</div>