<div class="copt-cont">
    <img class="copt1" src="assets/img/page-copt-1.png">
    <img class="copt2" src="assets/img/page-copt-2.png">
    <img class="copt3" src="assets/img/page-copt-3.png">
</div>
