.copt-cont {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    .copt1 {
        position: absolute;
        left: -290px;
        top: 40px;
    }
    .copt2 {
        position: absolute;
        right: -570px;
        top: 55px;
    }
    .copt3 {
        position: absolute;
        top: 300px;
        left: -600px;
    }
}