:host {
    display: block;
    padding-left: 65px;
    padding-top: 3px;
    position: relative;
}

.point-place {
    position: absolute;
    height: 45px;
    width: 45px;
    top: 0;
    left: 0;
    svg {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .number {
        position: absolute;
        height: 100%;
        width: 100%;
        text-align: center;
        line-height: 45px;
        z-index: 2;
        font-size: 13px;
        color: #253d7c;
    }
}

.content.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    min-height: 45px;
    margin-top: -3px;
}