<div class="point-place">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 46 46">
    <defs>
      <style>
        .cls-1 {
          isolation: isolate;
        }

        .cls-2 {
          fill: #42e8e0;
        }

        .cls-3 {
          fill: none;
          stroke-miterlimit: 10;
          opacity: 0.2;
          mix-blend-mode: lighten;
          stroke: url(#Áåçûìÿííûé_ãðàäèåíò_6);
        }
      </style>
      <linearGradient id="Áåçûìÿííûé_ãðàäèåíò_6" y1="23" x2="46" y2="23" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#42e8e0" />
        <stop offset="0.79" stop-color="#213b77" />
        <stop offset="1" stop-color="#180d5b" />
      </linearGradient>
    </defs>
    <g class="cls-1">
      <g>
        <path class="cls-2" d="M5.79,23A17.21,17.21,0,1,1,23,40.21,17.22,17.22,0,0,1,5.79,23Z" />
        <circle class="cls-3" cx="23" cy="23" r="22.5" />
      </g>
    </g>
  </svg>
  <div class="number text semibold">
    {{number}}
  </div>
</div>
<div class="content" [ngClass]="alignContent">
  <ng-content></ng-content>
</div>