<div class="container">
  <div class="page-container">
    <app-copters></app-copters>
    <h2 class="text semibold center">Покупка коптеров</h2>
    <div class="text center desc">Магазины партнеров</div>
    <app-cities type="seller"> </app-cities>
  </div>
</div>