.page-container {
    background: white;
    position: relative;
    padding: 0 85px 85px;

    h2.text.semibold.center {
        width: 500px;
        padding: 55px 0 40px;
        margin: 0 auto;
    }

    .desc {
        width: 600px;
        margin: 0 auto 45px;
    }
}

@media (max-width: 839px) {
    .container {
        max-width: initial;
        padding: 0;

        .page-container {
            padding: 0 20px;
            margin-bottom: -60px;
            margin-top: 80px;

            h2.text.semibold.center {
                width: initial;
                font-size: 22px;
                padding: 55px 0 20px;
            }

            .desc {
                width: initial;
                font-size: 18px;
            }
        }
    }
}

@media (min-width: 840px) and (max-width: 1199px) {
    .container {
        max-width: initial;
        padding: 0;

        .page-container {
            margin: 30px;
            padding: 20px;
            min-height: 730px;
        }
    }
}

@media (min-width: 1200px) {}
