<div class="container">
  <div class="page-container">
    <app-copters></app-copters>
    <h2 class="text semibold center">Страховой случай</h2>
    <div class="horizontal-divider"></div>
    <div class="top-info">
      <div class="left">
        <h3 class="text semibold center"> Если коптер
          <br>
          <span class="heading3 semibold orange">получил повреждение</span>
        </h3>
        <ul>
          <app-point-item number="1" alignContent="center" style="margin-bottom:30px;">
            <div class="text small">
              Сделайте фотографию коптера на месте<br> происшествия (Если это возможно)
            </div>
          </app-point-item>
          <app-point-item number="2" alignContent="center" style="margin-bottom:30px;">
            <div class="text small">
              Найдите страховой полис (Нужно будет сообщить<br> его номер)
            </div>
          </app-point-item>
          <app-point-item number="3" alignContent="center" style="margin-bottom:30px;">
            <div class="txtcont">
              <div class="text small">
                <a class="blue" href="/assets/docs/Заявление о СС БПЛА.docx">Скачайте и заполните заявление</a>
              </div>
              <div class="download">
                <svg class="hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                  <circle fill="#f26522" cx="15" cy="15" r="15" />
                  <path fill="#fff" d="M14.51,17.66h0a.85.85,0,0,0,.21.14h0l.1,0h.36a.13.13,0,0,0,.1,0s0,0,.07,0,0,0,.07,0l.11-.11,3.16-3.16a.7.7,0,1,0-1-1l-2,2V7.67a.71.71,0,1,0-1.41,0v7.81l-2-2a.68.68,0,0,0-1,0,.66.66,0,0,0,0,1Z"
                  />
                  <path fill="#fff" d="M21.33,10.17a.7.7,0,0,0-.7.7v8.76H9.37V10.87a.71.71,0,0,0-1.41,0v9.46a.71.71,0,0,0,.71.71H21.33a.71.71,0,0,0,.71-.71V10.87A.7.7,0,0,0,21.33,10.17Z"
                  />
                </svg>
                <svg class="unhover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                  <circle fill="#24498b" cx="15" cy="15" r="15" />
                  <path fill="#fff" d="M14.51,17.66h0a.85.85,0,0,0,.21.14h0l.1,0h.36a.13.13,0,0,0,.1,0s0,0,.07,0,0,0,.07,0l.11-.11,3.16-3.16a.7.7,0,1,0-1-1l-2,2V7.67a.71.71,0,1,0-1.41,0v7.81l-2-2a.68.68,0,0,0-1,0,.66.66,0,0,0,0,1Z"
                  />
                  <path fill="#fff" d="M21.33,10.17a.7.7,0,0,0-.7.7v8.76H9.37V10.87a.71.71,0,0,0-1.41,0v9.46a.71.71,0,0,0,.71.71H21.33a.71.71,0,0,0,.71-.71V10.87A.7.7,0,0,0,21.33,10.17Z"
                  />
                </svg>
              </div>
            </div>

          </app-point-item>
          <app-point-item number="4" alignContent="center" style="margin-bottom:30px;">
            <div class="text small">
              Отправьте его на электонную почту <a class="blue" href="mailto:quadroservice@incoris.ru">quadroservice@incoris.ru</a>
            </div>
          </app-point-item>
          <app-point-item number="5" alignContent="center" style="margin-bottom:30px;">
            <div class="text small">
              Мы отправим Вам направление на ремонт<br> в официальном сервисном центре и оплатим его
            </div>
          </app-point-item>
          <app-point-item number="6" alignContent="center" style="margin-bottom:30px;">
            <div class="text small">
              По любым вопросам звоните<br> <span class="text small semibold">+7 (495) 181-52-12</span> или <span class="text small semibold">+7 (968) 921-88-22</span>
            </div>
          </app-point-item>
        </ul>
      </div>
      <div class="right">
        <h3 class="text semibold center"> Если коптер
          <br>
          <span class="heading3 semibold orange">нанес ущерб третьей стороне</span>
        </h3>
        <ul>
          <app-point-item number="1" alignContent="center" style="margin-bottom:30px;">
            <div class="text small">
              Сделайте фотографию коптера на месте<br> происшествия (Если это возможно)
            </div>
          </app-point-item>
          <app-point-item number="2" alignContent="center" style="margin-bottom:30px;">
            <div class="text small">
              Найдите страховой полис (Нужно будет сообщить<br> его номер)
            </div>
          </app-point-item>
          <app-point-item number="3" alignContent="center" style="margin-bottom:30px;">
            <div class="txtcont">
              <div class="text small">
                <a class="blue" href="/assets/docs/Заявление о СС БПЛА.docx">Скачайте и заполните заявление</a>
              </div>
              <div class="download">
                <svg class="hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                  <circle fill="#f26522" cx="15" cy="15" r="15" />
                  <path fill="#fff" d="M14.51,17.66h0a.85.85,0,0,0,.21.14h0l.1,0h.36a.13.13,0,0,0,.1,0s0,0,.07,0,0,0,.07,0l.11-.11,3.16-3.16a.7.7,0,1,0-1-1l-2,2V7.67a.71.71,0,1,0-1.41,0v7.81l-2-2a.68.68,0,0,0-1,0,.66.66,0,0,0,0,1Z"
                  />
                  <path fill="#fff" d="M21.33,10.17a.7.7,0,0,0-.7.7v8.76H9.37V10.87a.71.71,0,0,0-1.41,0v9.46a.71.71,0,0,0,.71.71H21.33a.71.71,0,0,0,.71-.71V10.87A.7.7,0,0,0,21.33,10.17Z"
                  />
                </svg>
                <svg class="unhover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                  <circle fill="#24498b" cx="15" cy="15" r="15" />
                  <path fill="#fff" d="M14.51,17.66h0a.85.85,0,0,0,.21.14h0l.1,0h.36a.13.13,0,0,0,.1,0s0,0,.07,0,0,0,.07,0l.11-.11,3.16-3.16a.7.7,0,1,0-1-1l-2,2V7.67a.71.71,0,1,0-1.41,0v7.81l-2-2a.68.68,0,0,0-1,0,.66.66,0,0,0,0,1Z"
                  />
                  <path fill="#fff" d="M21.33,10.17a.7.7,0,0,0-.7.7v8.76H9.37V10.87a.71.71,0,0,0-1.41,0v9.46a.71.71,0,0,0,.71.71H21.33a.71.71,0,0,0,.71-.71V10.87A.7.7,0,0,0,21.33,10.17Z"
                  />
                </svg>
              </div>
            </div>
          </app-point-item>
          <app-point-item number="4" alignContent="center" style="margin-bottom:30px;">
            <div class="text small">
              Пострадавшая сторона должна предъявить претензию о возмещении ущерба и подтверждающие документы из компетентных органов.
              Если повреждено авто - справка из ГИББД, если нанесен вред здоровью - медицинское освидетельствование, если
              повреждено иное имущество - справку от участкового.
            </div>
          </app-point-item>
          <app-point-item number="5" alignContent="center" style="margin-bottom:30px;">
            <div class="text small">
              Отправьте сканы этих документов его электонную почту: <a class="blue" href="mailto:quadroservice@incoris.ru">quadroservice@incoris.ru</a>
            </div>
          </app-point-item>
          <app-point-item number="6" alignContent="center" style="margin-bottom:30px;">
            <div class="text small">
              Мы возместим нанесенный третьей стороне ущерб<br> в рамках выбранного вами лимита
            </div>
          </app-point-item>
        </ul>
      </div>
    </div>
    <div class="horizontal-divider"></div>
    <div class="about-block">
      <a class="blue" href="/assets/docs/Заявление о СС БПЛА.docx">Скачать заявление на страховой случай</a>
      <div class="text">Данное заявление нужно будет заполнить и отправить нам на почту</div>
    </div>
  </div>
</div>
