.page-container {
    background: white;
    position: relative;

    h2.text.semibold.center {
        width: 500px;
        padding: 55px 0 40px;
        margin: 0 auto;
    }

    .top-info {
        padding: 50px 0 40px;
        position: relative;
        overflow: hidden;
        display: flex;

        .left,
        .right {
            width: 50%;
            float: left;
            box-sizing: border-box;

            h3 {
                text-align: left;
                margin-bottom: 40px;
            }

            .txtcont {
                cursor: pointer;
                display: flex;

                .download {
                    svg {
                        height: 29px;
                        width: 29px;
                        margin-left: 10px;
                    }

                    svg.hover {
                        display: none;
                    }
                }
            }

            .txtcont:hover {
                display: flex;

                a {
                    color: #f26522;
                }

                .download {
                    svg.hover {
                        display: inline-block;
                    }

                    svg.unhover {
                        display: none;
                    }
                }
            }
        }

        .left {
            padding-left: 70px;
            padding-right: 30px;
        }

        .right {
            padding-right: 70px;
            padding-left: 30px;
        }
    }

    .about-block {
        padding: 55px 200px 70px;
        background: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;

        .text {
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            width: 280px;
        }

        a.blue {
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 25px;
            text-align: center;
            width: 345px;
        }

        a.blue:hover {
            color: #f26522;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: initial;
        padding: 0;

        .page-container {
            padding: 0 20px;
            margin-bottom: -60px;
            margin-top: 80px;

            h2.text.semibold.center {
                width: initial;
                font-size: 22px;
            }

            .top-info {
                flex-direction: column;
                padding: 0;

                .left,
                .right {
                    padding: 20px 0;

                    .text.semibold.center,
                    .heading3.semibold.orange {
                        font-size: 22px;
                    }
                }

                .left {
                    width: 100%;
                }

                .right {
                    width: 100%;
                    border-top: 1px solid #ebebeb;
                }
            }

            .horizontal-divider {
                margin: 0 -20px;
                width: calc(100% + 40px);
            }

            .about-block {
                margin: 0 -20px;
                padding: 50px 0;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        max-width: initial;
        padding: 0;

        .page-container {
            margin: 30px;

            .top-info {
                flex-direction: column;
                padding: 0;

                .text.semibold.center {
                    br {
                        display: none;
                    }
                }

                .left,
                .right {
                    padding: 40px;
                }

                .left {
                    width: 100%;
                }

                .right {
                    width: 100%;
                    border-top: 1px solid #ebebeb;
                }
            }
        }
    }
}

@media (min-width: 1200px) {}
