<div class="gm-checkbox" [tabindex]="_disabled?-1:tabInd" (click)="checkOrUncheck()" 
(focus)="onFocus()" (blur)="onBlur()" [ngClass]="(value?'checked ':'') + (focused?'focused':'')">
    <div class="box">
        <i class="fas fa-check icon"></i>
    </div>
    <div class="caption">
        <ng-content></ng-content>
    </div>
</div>