@import "../Styles/gm-styles.scss";
.gm-checkbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 18px;
    .box {
        border: 1px solid $checkboxborder;
        height: 25px;
        width: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        flex-grow: 0;
        flex-shrink: 0;
        i {
            opacity: 0;
            color: white;
        }
    }
    .caption {
        color: #000;
        line-height: 25px;
        font-family: $fontRegular;
    }
}

.gm-checkbox.checked {
    .box {
        background: $accentcolor;
        color: $accentcolor;
        border-color: $accentcolor;
        i {
            opacity: 1;
            color: white;
        }
    }
    .caption {
        color: $accentcolor;
    }
}

.gm-checkbox:focus {
    color: $accentcolor;
    .box {
        border-color: $accentcolor;
        color: white;
    }
}