<div class="gm-button" [tabindex]="disabled?-1:tabInd" (focus)="focused=true" (blur)="focused=false" (click)="onAction()"
    [ngClass]="(disabled?'disabled ':'') + (focused?' focused ':'') + shakeClass">
    <div class="spinner" *ngIf="isBusy">
        <div class="spinningpart"></div>
    </div>
    <div class="btncontent" [style.opacity]="isBusy?0:1">
        <div class="iconplace">
            <i class="fas" [ngClass]="icon" *ngIf="icon"></i>
        </div>
        <div class="textpalce" *ngIf="text"> {{text}} </div>
    </div>
</div>