@import "../Styles/gm-styles.scss";
.gm-button {
    background: $accentcolor;
    border: 3px solid $accentcolor;
    font-family: $fontBold;
    font-size: 16px;
    text-transform: uppercase;
    padding: 24px 50px;
    text-align: center;
    box-sizing: border-box;
    border-radius: $borderradius;
    white-space: nowrap;
    cursor: pointer;
    color: white;
    position: relative;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    .spinner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 1.5em;
        height: 1.5em;
        border-radius: 500rem;
        border: .2em solid rgba(0, 0, 0, .15);
        .spinningpart {
            position: absolute;
            height: 1.5em;
            width: 1.5em;
            top: -.2em;
            left: -.2em;
            border: .2em solid rgba(0, 0, 0, 0);
            border-top: .2em solid $text-icon;
            border-radius: 500rem;
            animation: spinner-animation .6s linear infinite;
        }
    }
    .iconplace,
    .textpalce {
        display: inline;
        margin: 0 3px;
    }
}

.gm-button:not(.disabled):hover {
    border-color: $hovercolor;
    background: $hovercolor;
}

.gm-button.disabled {
    background: $accentcolor !important;
    border-color: $accentcolor;
}

:host(.border) .gm-button {
    border-radius: 3px;
    height: 55px;
    background: transparent;
    border-color: white;
    padding: 0 55px;
    .textpalce {
        height: 100%;
        width: 100%;
        font-size: 16px;
        text-transform: none;
    }
}

:host(.border) .gm-button:not(.disabled):hover {
    background: $accentcolor;
    border-color: $accentcolor;
    width: 100%;
}

:host(.border.orange) .gm-button {
    border-color: $accentcolor;
    color: $accentcolor;
}

:host(.border.orange) .gm-button:hover {
    border-color: $accentcolor;
    color: white;
}

:host(.small) .gm-button {
    height: 45px;
    border-width: 1px;
    font-family: $fontSemibold;
}

:host .gm-button.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}