@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");
$primary: #2196F3;
$primary-dark: #1E88E5;
$primary-light: #64B5F6;
$text-icon: #fff;
$accent: #03A9F4;
$primary-text: #212121;
$secondary-text: #757575;
$danger:#f44336;
$danger-dark:#e53935;
$ok:#4CAF50;
$disabled:#e0e1e2;
$error: #ed1c24;
$inputfieldbackground:#eef2f7;
$inputfieldbackgroundhover:#f6f8fb;
$inputfieldbackgroundfocused:#fff;
$placeholder: #0d0d0d;
$fontRegular: "ProximaNovaRegular";
$fontSemibold: "ProximaNovaSemibold";
$fontBold: "ProximaNovaBold";
$borderradius:7px;
$divider: #ebebeb;
$checkboxborder: #b1b1b1;
$accentcolor: #f26522;
$hovercolor: #f2381a;
@keyframes spinner-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes window-fadeIn-animation {
    from {
        max-height: 0;
    }
    to {
        max-height: 1000px;
    }
}

@keyframes fadeOut-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes window-fadeOut-animation {
    from {
        opacity: 1;
        height: auto;
    }
    to {
        opacity: 0;
        height: 0;
    }
}

@keyframes splash-control-animation {
    from {
        background: white;
    }
    to {
        background: rgba(243, 117, 98, .2);
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

*:focus {
    outline: none;
}

.z-depth-0 {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.z-depth-1 {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-3 {
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.z-depth-4 {
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

.z-depth-5 {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.gm-field {
    padding: 11px 15px 13px 15px;
    border: 1px solid transparent;
    border-radius: $borderradius;
    background: $inputfieldbackground;
    position: relative;
    height: 65px;
    display: block;
    cursor: pointer;
    .label {
        opacity: .5;
        font-size: 14px;
        font-family: $fontRegular;
        color: $placeholder;
        margin-bottom: 2px;
    }
    .hint {
        position: absolute;
        bottom: 15px;
        font-family: $fontSemibold;
        opacity: 0.5;
        z-index: 1;
        display: block;
    }
    input,
    .valuepart {
        border: 0px solid transparent;
        position: absolute;
        background: transparent;
        font-size: 16px;
        font-family: $fontSemibold;
        z-index: 2;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        padding: 30px 15px 13px 15px;
    }
    input:disabled {
        color: black;
    }
    .mask {
        position: absolute;
        bottom: 13px;
        font-family: $fontSemibold;
        .transp {
            color: transparent;
        }
    }
    .iconButton {
        position: absolute;
        right: 13px;
        top: 10px;
        font-size: 20px;
        cursor: pointer;
        z-index: 3;
        padding: 10px;
        border-radius: $borderradius;
        border: 1px dotted transparent;
    }
    .iconButton:focus {
        border-color: #b6bec9;
    }
    .iconButton:active {
        background: rgba(0, 0, 0, .05);
    }
}

.gm-field.focused {
    background: transparent;
    border-color: $divider;
    .hint {
        opacity: 0 !important;
    }
}

.gm-field.hasError {
    background: transparent;
    border-color: $error;
}

.gm-field.hasError:not(.focused) {
    background: transparent;
    border-color: $error;
    .hint {
        opacity: 1;
        color: $error;
    }
    input {
        opacity: 0;
    }
}

.gm-field:not(.hasError) {
    .hint.notempty {
        opacity: 0;
    }
}

.gm-field.splash {
    animation: splash-control-animation 300ms linear;
    animation-direction: alternate;
    animation-iteration-count: 2;
}