<div class="container">
  <div class="page-container">
    <app-copters></app-copters>
    <h2 class="text semibold center">Ремонт коптеров</h2>
    <div class="text center desc">При страховом случае вы можете выбрать один из следующих сервисов</div>
    <app-cities type="repair"></app-cities>
  </div>
</div>