@import "../../GodModeControls/Styles/gm-styles.scss";
.gm-text-field {
    padding: 11px 15px 13px 15px;
    border: 1px solid;
    border-radius: $borderradius;
    background: transparent;
    border-color: $inputfieldbackground;
    border: 1px dashed #b7b7b7;
    position: relative;
    height: 65px;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    .label {
        opacity: .5;
        font-size: 14px;
        font-family: $fontRegular;
        color: $placeholder;
        margin-bottom: 2px;
        text-align: center;
    }
    .hint {
        position: absolute;
        bottom: 13px;
        left: 0;
        font-family: $fontSemibold;
        opacity: 0.5;
        z-index: 1;
        display: block;
        text-align: center;
        width: 100%;
    }
    input {
        border: none;
        position: absolute;
        background: transparent;
        font-size: 16px;
        font-family: $fontSemibold;
        z-index: 2;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        padding: 30px 15px 13px 15px;
        text-align: center;
    }
}

.gm-text-field.focused {
    background: transparent;
    border-color: $divider;
    .hint {
        opacity: 0 !important;
    }
}

.gm-text-field.hasError {
    background: transparent;
    border-color: $error;
}

.gm-text-field.hasError:not(.focused) {
    background: transparent;
    border-color: $error;
    .hint {
        opacity: 1;
        color: $error;
    }
    input {
        opacity: 0;
    }
}

.gm-text-field:not(.hasError) {
    .hint.notempty {
        opacity: 0;
    }
}

.gm-text-field.splash {
    animation: splash-control-animation 300ms linear;
    animation-direction: alternate;
    animation-iteration-count: 2;
}