@import "../Styles/gm-styles.scss";
:host {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.gm-modalBackdrop {
    background: rgba(0, 0, 0, 0.4);
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: fadeIn-animation 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    .gm-modal-window {
        position: absolute;
        display: block;
        margin: auto;
        overflow: hidden;
        padding: 10px;
        box-sizing: border-box;
    }
    .gm-modal-window::-webkit-scrollbar {
        width: 0px
    }
    .centered {
        left: 50%;
        top: 50%;
    }
}

.gm-modalBackdrop.close {
    animation: fadeOut-animation 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
}