<div class="gm-modalBackdrop" (click)="clickOnBackdrop($event)" [ngClass]="windowClosed?'close':''">
    <div #window class="gm-modal-window" [ngClass]="position?'':'centered'" [style.left]="xPosition" [@windowAnimation]="animationState"
        (@windowAnimation.done)="onWindowClose($event)" [style.top]="topPosition" [style.bottom]="bottomPosition"
        [style.width]="widthPosition">
    </div>
</div>
