.limitBlock {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 65px;
    border-radius: 7px;
    border: 1px solid #ebebeb;
    align-items: center;
    justify-content: stretch;

    .radioblock {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #ebebeb;
        height: 100%;
    }

    .radioblock:last-child {
        border-right: 1px solid transparent;
    }

    .radioblock.focused {
        background: #f6f8fb;
    }
}

@media (max-width: 767px) {
    .limitBlock {
        flex-direction: column;
        height: initial;

        .radioblock {
            border: 0;
            padding: 12.5px 30px;
            align-items: flex-start;
            justify-content: flex-start;

            &:first-child {
                padding-top: 25px;
            }

            &:last-child {
                padding-bottom: 25px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}
