<div class="limitBlock">
  <div *ngFor="let limit of booleanValues; let i = index" class="radioblock" [ngClass]="getFocusClass(i)">
    <gm-checkbox #radiobox [isRadio]="true" [ngModel]="limit.isSelected" (ngModelChange)="setNewSelectedLimit($event,limit)">
      {{formatNumber(limit.limit.awardLimit)}}
    </gm-checkbox>
  </div>
</div>