<img class="background" src="../assets/img/background.jpg">
<app-side-bar></app-side-bar>
<div class="app-wrapper" [ngClass]="cpdService.openSidebar ? 'openSidebar' : ''">
    <app-header></app-header>
    <div>
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>
