:host {
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}

.background {
    width: 100%;
    position: absolute;
    bottom: 0;
}

@media (max-width: 767px) {
    .background {
        bottom: 90px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .app-wrapper {
        position: relative;
        transition: left .3s;
        left: 0;
    
        &.openSidebar {
            left: 320px;
        }
    }
}

@media (min-width: 1200px) {}
