.sidebar {
    width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -320px;
    transition: left .3s;
    background-color: #163156;
    z-index: 10;
    color: #fff;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    &.open {
        left: 0;
    }

    .title {
        color: #44bee8;
        font-family: "ProximaNovaSemibold";
        font-size: 40px;
        padding: 30px;
        height: 100px;
    }

    .top {
        background-color: #17283e;

        .menu {
            li {
                margin: 0 20px;
                border-bottom: 1px solid #2f4561;

                &:last-child {
                    border-bottom: 0;
                }
            }

            .item {
                padding: 20px 0;
                display: flex;
                align-items: center;

                a {
                    flex: 1;
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        color: #f26522;
                    }
                }

                svg {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }

    .center {
        padding: 30px 25px;
        flex: 1;
        display: flex;
        align-items: center;
        min-height: 140px;

        .menu {
            .item {
                padding: 10px 0;

                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        color: #f26522;
                    }
                }
            }
        }
    }

    .bottom {
        .contacts {
            padding: 30px 25px;
            border-top: 1px solid #2b508d;

            .phonepart {
                .phone {
                    font-size: 22px;
                    padding-bottom: 20px;
                }

                .address {
                    display: flex;
                    font-size: 12px;

                    > a {
                        color: #9de4ff;
                        margin-left: 5px;
                    }
                }
            }
        }

        .footer {
            background-color: #17283e;
            padding: 30px 25px;

            .img-wrapper {
                img {
                    width: 100%;
                    padding: 10px 0 30px;
                }
            }

            .content {
                .licpart {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .sidebar {
        .title {
            height: 80px;
        }

        .center {
            padding: 15px;
    
            .menu {
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 50%;

                    &:nth-child(odd) {
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .sidebar {
        display: none;
    }
}
