<div class="sidebar" [ngClass]="cpdService.openSidebar ? 'open' : ''">
    <div class="title">Меню</div>
    <div class="top">
        <ul class="menu">
            <li>
                <div class="item">
                    <a
                        [routerLink]="['/liability-insurance']"
                        (click)="this.cpdService.toggleSidebar()"
                    >
                        Страхование гражданской ответственности пилотов
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129">
                        <g>
                          <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" fill="#FFFFFF"/>
                        </g>
                    </svg>
                </div>
            </li>
            <li>
                <div class="item">
                    <a
                        [routerLink]="['/property-insurance']"
                        (click)="this.cpdService.toggleSidebar()"
                    >
                        Страхование коптеров от повреждений
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129">
                        <g>
                            <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" fill="#FFFFFF"/>
                        </g>
                    </svg>
                </div>
            </li>
            <li>
                <div class="item">
                    <a
                        [routerLink]="['/insured-event']"
                        (click)="this.cpdService.toggleSidebar()"
                    >
                        Страховой случай
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129">
                        <g>
                            <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" fill="#FFFFFF"/>
                        </g>
                    </svg>
                </div>
            </li>
        </ul>
    </div>
    <div class="center">
        <ul class="menu">
            <li>
                <div class="item">
                    <a
                        [routerLink]="['/repair']"
                        (click)="this.cpdService.toggleSidebar()"
                    >
                        Ремонт коптеров
                    </a>
                </div>
            </li>
            <li>
                <div class="item">
                    <a
                        [routerLink]="['/shop']"
                        (click)="this.cpdService.toggleSidebar()"
                    >
                        Покупка коптеров
                    </a>
                </div>
            </li>
            <li>
                <div class="item">
                    <a
                        [routerLink]="['/about']"
                        (click)="this.cpdService.toggleSidebar()"
                    >
                        О проекте
                    </a>
                </div>
            </li>
            <li>
                <div class="item">
                    <a
                        [routerLink]="['/docs']"
                        (click)="this.cpdService.toggleSidebar()"
                    >
                        Документы
                    </a>
                </div>
            </li>
            <li>
                <div class="item">
                    <a
                        [routerLink]="['/faq']"
                        (click)="this.cpdService.toggleSidebar()"
                    >
                        Вопросы и ответы
                    </a>
                </div>
            </li>
            <li>
                <div class="item">
                    <a
                        [routerLink]="['/contacts']"
                        (click)="this.cpdService.toggleSidebar()"
                    >
                        Контакты
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="bottom">
        <div class="contacts">
            <div class="phonepart">
                <div class="phone text bold">+7(495) 181-52-12</div>
                <div class="address">
                    Москва, ул. Таганская, 17-23 <a href="mailto:info@quadropolis.ru">info@quadropolis.ru</a>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="img-wrapper">
                <img src="../../../assets/img/ps-bc.png" alt="">
            </div>
            <div class="content">
                <div class="licpart">
                    Лицензия банка России Сл № 3535
                    <br class="licpart-splitter">услуги предоставлены ООО «ИНКОР Страхование»
                </div>
            </div>
        </div>
    </div>
</div>
