.page-container {
    background: white;
    position: relative;
    padding: 0 70px 100px;

    h2.text.semibold.center {
        width: 500px;
        padding: 55px 0 40px;
        margin: 0 auto;
    }

    .top-part {
        display: flex;
        margin-top: 50px;
        margin-bottom: 100px;

        .left,
        .center,
        .right {
            flex: 1;
        }

        .left,
        .right {
            z-index: 2;
        }

        .center {
            position: relative;
            z-index: 1;

            .back {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 150%;
                margin-top: 30px;
            }
        }

        .right {
            .text-block {
                margin-left: 50px;

                .text {
                    text-align: right;
                }
            }
        }

        .text-block {
            .text {
                font-size: 20px;
                margin-bottom: 27px;
                line-height: 27px;
            }
        }
    }

    .bottom-part {
        display: flex;
        margin-top: -70px;

        .logo {
            overflow: hidden;
            position: relative;
            height: 60px;
            margin-bottom: 18px;

            svg {
                height: 100%;
            }
        }

        .left,
        .right {
            display: flex;
            flex-direction: column;
            flex: 1;
            z-index: 2;

            .text-block {
                height: 270px;
                margin-bottom: 35px;
    
                .text {
                    font-size: 20px;
                    margin-bottom: 27px;
                    line-height: 27px;
                }
            }
    
            .sec-text {
                font-size: 16px;
                line-height: 22px;
            }
        }

        .left {
            .logo {
                height: 70px;
                margin-bottom: 9px;
            }
        }

        .right {
            align-items: flex-end;

            .logo {
                height: 60px;
                margin-bottom: 18px;
            }

            .sec-text {
                text-align: right;
            }
        }

        .sec-text {
            line-height: 22px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: initial;
    }

    .page-container {
        margin-right: -15px;
        margin-bottom: -90px;
        margin-left: -15px;
        padding: 0 15px 100px;
        margin-top: 80px;

        h2.text.semibold.center {
            width: initial;
            padding: 55px 0 40px;
            margin: 0 auto;
        }

        .top-part {
            flex-direction: column;
            margin-top: 0;

            .left,
            .right {
                .text-block {
                    .text {
                        br {
                            display: none;
                        }
                    }
                }
            }

            .center {
                margin-top: -30px;
                min-height: 40vw;

                .back {
                    max-height: 100%;
                    margin-top: 30px;
                }
            }

            .right {
                margin-top: 50px;

                .text-block {
                    margin-left: 0;

                    .text {
                        text-align: left;
                    }
                }
            }
        }

        .bottom-part {
            flex-direction: column;

            .left {
                margin-bottom: 30px;
            }

            .right {
                align-items: flex-start;

                .sec-text {
                    text-align: left;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .page-container {
        margin-top: 30px;

        .top-part {
            flex-direction: column;
            margin-top: 0;

            .left,
            .right {
                .text-block {
                    .text {
                        br {
                            display: none;
                        }
                    }
                }
            }

            .center {
                margin-top: -30px;
                min-height: 40vw;

                .back {
                    max-height: 100%;
                    margin-top: -20px;
                }
            }

            .right {
                margin-top: 50px;

                .text-block {
                    margin-left: 0;

                    .text {
                        text-align: left;
                    }
                }
            }
        }

        .bottom-part {
            .right {
                align-items: flex-start;

                .sec-text {
                    text-align: left;
                }
            }
        }
    }
}

@media (min-width: 1200px) {}
