<div class="container">
  <div class="page-container">
    <app-copters></app-copters>
    <h2 class="text semibold center"> О проекте </h2>
    <div class="top-part">
      <div class="left">
        <div class="text-block">
          <div class="text">
            Сфера применения
            <br> квадрокоптеров расширяется
            <br> с каждым годом. Любительская
            <br> аэросъемка, геодезия,
            <br> безопасность, охота.
          </div>
          <div class="text">
            Любовь к полетам
            <br> объединила людей самых
            <br> разных профессий.
          </div>
        </div>
      </div>
      <div class="center">
        <img class="back" src="./assets/img/about.png">
      </div>
      <div class="right">
        <div class="text-block">
          <div class="text">
            Для них мы и создали
            <br> платформу Quadropolis.ru.
          </div>
          <div class="text">
            В одном месте собраны
            <br> все товары и услуги,
            <br> связанные с эксплуатацией квадрокоптеров
            <br> от покупки до ремонта.
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-part">
      <div class="left">
        <div class="logo">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 180.4 101.7"
            style="enable-background:new 0 0 180.4 101.7;" xml:space="preserve">
            <style type="text/css">
              .st0 {
                fill-rule: evenodd;
                clip-rule: evenodd;
                fill: #E3000F;
              }

              .st1 {
                fill-rule: evenodd;
                clip-rule: evenodd;
                fill: #B1B2B3;
              }

              .st2 {
                fill: #00447F;
              }

              .st3 {
                fill: #898989;
              }

              .st4 {
                fill: #E3000F;
              }
            </style>
            <path class="st0" d="M26.2,1C22.8,13.7,16,25.3,6.6,34.6c-6.1,6-4.8,14.8,1.4,22.1C13.1,45,20.5,34.4,29.8,25.6
              c3.5-3.5,4.3-6.4,2.4-12.1C30.8,9.1,28.7,4.9,26.2,1 M0,35c0-0.1,0-0.3,0-0.4C0,19.9,9.1,7.4,22,2.3C18.3,15.4,10.4,26.8,0,35z" />
            <path class="st1" d="M52.3,64.4c-0.1,0.1-0.2,0.1-0.3,0.2c-12.7,7.3-28.1,5.7-39-2.9C26.2,58.4,40,59.5,52.3,64.4" />
            <path class="st1" d="M9.8,58.7c12.7-3.4,26.2-3.4,38.9,0.1c8.2,2.3,15.2-3.3,18.5-12.2c-12.7,1.4-25.6,0.3-37.9-3.3
              c-4.8-1.3-7.7-0.5-11.7,4C14.5,50.7,11.9,54.6,9.8,58.7" />
            <path class="st2" d="M68,44c-9.3-9.3-16-21-19.3-33.7C46.5,2,38.2-1.2,28.9,0.4c7.6,10.3,13.1,22,16,34.4c1.3,4.8,3.4,6.9,9.3,8.1
              C58.7,44,63.4,44.3,68,44z M51.6,4.4c0.1,0.1,0.2,0.1,0.3,0.2c12.7,7.3,19,21.5,17,35.2C59.5,30,53.5,17.5,51.6,4.4z" />
            <g>
              <path class="st2" d="M83.9,44.2V16.4h3V36l0.2,0l7-19.7h3v27.8h-3V24.7h-0.1l-7,19.5H83.9z" />
              <path class="st2" d="M105.2,44.2V16.4h3.2v12.2h6.5V16.4h3.2v27.8h-3.2V31.4h-6.5v12.8H105.2z" />
              <path class="st2" d="M126.3,44.2V16.4h3.2v12.1h1.4c0.4,0,0.8,0,1.3-0.1c0.4-0.1,0.9-0.3,1.3-0.5c0.4-0.3,0.8-0.7,1.2-1.2
                s0.6-1.3,0.9-2.2l1.9-8h2.9l-1.8,8.2c-0.3,1.3-0.8,2.5-1.4,3.4c-0.6,0.9-1.3,1.5-2.1,1.8c1,0.4,1.8,1,2.3,2
                c0.5,0.9,0.9,2.1,1.2,3.5l2,8.9h-3l-1.8-8.4c-0.2-0.9-0.5-1.7-0.8-2.3c-0.3-0.6-0.7-1-1.1-1.3c-0.4-0.3-0.9-0.5-1.3-0.6
                c-0.5-0.1-0.9-0.1-1.4-0.1h-1.6v12.7H126.3z" />
              <path class="st2" d="M146.9,37.6V23.9c0-1,0.1-1.9,0.3-2.9c0.2-0.9,0.5-1.8,1-2.5c0.5-0.7,1.1-1.3,1.9-1.8s1.9-0.7,3.2-0.7
                c1.4,0,2.5,0.2,3.3,0.6s1.5,0.9,1.9,1.6s0.8,1.5,0.9,2.4s0.2,2,0.2,3.1v12.9c0,2.5-0.5,4.4-1.5,5.7c-1,1.3-2.6,2-5,2
                c-2.3,0-3.9-0.6-4.9-1.9S146.9,39.7,146.9,37.6z M150.1,37.7c0,0.4,0,0.8,0.1,1.3s0.2,0.9,0.5,1.3c0.2,0.4,0.6,0.7,1,1
                c0.4,0.3,1,0.4,1.6,0.4s1.2-0.1,1.6-0.4c0.4-0.3,0.8-0.6,1-1c0.2-0.4,0.4-0.9,0.5-1.4c0.1-0.5,0.1-1.1,0.1-1.6V23.3
                c0-0.5,0-1-0.1-1.5s-0.2-1-0.4-1.4c-0.2-0.4-0.5-0.8-1-1s-1-0.4-1.7-0.4c-0.8,0-1.4,0.2-1.8,0.6c-0.4,0.4-0.8,0.8-1,1.4
                c-0.2,0.5-0.3,1.1-0.4,1.7c0,0.6-0.1,1.1-0.1,1.5V37.7z" />
              <path class="st2" d="M167.7,44.2V16.4h5.7c1.4,0,2.6,0.2,3.5,0.6c0.9,0.4,1.6,0.9,2.2,1.6s0.9,1.6,1.1,2.6c0.2,1,0.3,2.2,0.3,3.5
                c0,1.2-0.1,2.3-0.3,3.3c-0.2,1-0.5,1.9-1.1,2.7c-0.5,0.8-1.3,1.4-2.2,1.8c-0.9,0.4-2.2,0.6-3.7,0.6h-2.3v11.1H167.7z M170.8,30h2.2
                c1,0,1.7-0.1,2.3-0.4c0.6-0.3,1-0.7,1.3-1.2c0.3-0.5,0.5-1,0.6-1.7s0.1-1.3,0.1-2c0-0.7,0-1.5-0.1-2.1c-0.1-0.7-0.3-1.3-0.6-1.8
                c-0.3-0.5-0.7-0.9-1.3-1.2c-0.6-0.3-1.3-0.4-2.2-0.4h-2.2V30z" />
            </g>
            <g>
              <path class="st4" d="M82.9,62.4v-7.3c0-0.5,0-1,0.1-1.5c0.1-0.5,0.3-0.9,0.5-1.3c0.2-0.4,0.6-0.7,1-0.9s1-0.4,1.7-0.4
                c1.1,0,2,0.3,2.5,0.9c0.5,0.6,0.8,1.4,0.8,2.4l-1.7,0.3c0-0.6-0.1-1.2-0.3-1.5c-0.2-0.4-0.7-0.6-1.3-0.6c-0.3,0-0.6,0.1-0.8,0.2
                S85,53,84.9,53.3c-0.1,0.2-0.2,0.5-0.2,0.8c0,0.3-0.1,0.6-0.1,0.8v7.5c0,0.2,0,0.4,0.1,0.7c0,0.2,0.1,0.5,0.2,0.7
                c0.1,0.2,0.3,0.4,0.5,0.5c0.2,0.1,0.5,0.2,0.8,0.2c0.6,0,1-0.2,1.2-0.5c0.3-0.3,0.4-0.9,0.4-1.6l1.7,0.3c0,1.1-0.3,1.9-0.9,2.5
                c-0.5,0.6-1.4,0.9-2.4,0.9c-1.1,0-1.9-0.3-2.5-0.9C83.2,64.4,82.9,63.5,82.9,62.4z" />
              <path class="st4" d="M90.1,52.6v-1.5h6.7v1.5h-2.5v13.2h-1.7V52.6H90.1z" />
              <path class="st4" d="M98.1,65.8V51.1h3c0.8,0,1.4,0.1,1.8,0.3c0.5,0.2,0.9,0.5,1.1,0.8c0.3,0.4,0.5,0.8,0.6,1.4
                c0.1,0.5,0.2,1.2,0.2,1.9c0,0.6,0,1.2-0.1,1.7c-0.1,0.5-0.3,1-0.6,1.4s-0.7,0.7-1.2,1c-0.5,0.2-1.1,0.3-2,0.3h-1.2v5.9H98.1z
                  M99.7,58.3h1.1c0.5,0,0.9-0.1,1.2-0.2s0.5-0.4,0.7-0.6c0.2-0.3,0.3-0.6,0.3-0.9c0-0.3,0.1-0.7,0.1-1.1c0-0.4,0-0.8-0.1-1.1
                c0-0.4-0.1-0.7-0.3-0.9c-0.2-0.3-0.4-0.5-0.7-0.6s-0.7-0.2-1.2-0.2h-1.2V58.3z" />
              <path class="st4" d="M104.5,65.8l3.1-14.7h1.5l3.2,14.7h-1.6l-0.6-3.3h-3.3l-0.6,3.3H104.5z M107,60.9h2.7l-0.7-3.5l-0.7-3.4
                l-0.1,0l-0.7,3.4L107,60.9z" />
              <path class="st4" d="M112.7,65.8l2.9-7.7l-2.7-7h1.8l1.8,5.2l1.8-5.2h1.8l-2.8,7l3,7.7h-1.8l-2.1-5.8l-2,5.8H112.7z" />
              <path class="st4" d="M121.5,62.3v-7.2c0-0.5,0-1,0.1-1.5s0.3-0.9,0.5-1.3s0.6-0.7,1-0.9c0.4-0.2,1-0.4,1.7-0.4
                c0.7,0,1.3,0.1,1.8,0.3c0.4,0.2,0.8,0.5,1,0.9c0.2,0.4,0.4,0.8,0.5,1.3c0.1,0.5,0.1,1,0.1,1.6v6.8c0,1.3-0.3,2.3-0.8,3
                s-1.4,1.1-2.6,1.1c-1.2,0-2.1-0.3-2.6-1C121.8,64.3,121.5,63.4,121.5,62.3z M123.2,62.3c0,0.2,0,0.4,0.1,0.7c0,0.2,0.1,0.5,0.3,0.7
                c0.1,0.2,0.3,0.4,0.5,0.5c0.2,0.1,0.5,0.2,0.9,0.2s0.6-0.1,0.9-0.2c0.2-0.1,0.4-0.3,0.5-0.5c0.1-0.2,0.2-0.5,0.3-0.7
                s0.1-0.6,0.1-0.9v-7.3c0-0.3,0-0.5-0.1-0.8c0-0.3-0.1-0.5-0.2-0.7c-0.1-0.2-0.3-0.4-0.5-0.5c-0.2-0.1-0.5-0.2-0.9-0.2
                c-0.4,0-0.7,0.1-1,0.3c-0.2,0.2-0.4,0.4-0.5,0.7s-0.2,0.6-0.2,0.9c0,0.3,0,0.6,0,0.8V62.3z" />
              <path class="st4" d="M130.4,65.8V51.1h3.1c1.3,0,2.2,0.3,2.7,1s0.8,1.6,0.8,2.9c0,0.8-0.1,1.4-0.3,1.9s-0.6,0.8-1.2,1.2V58
                c0.6,0.2,1.1,0.6,1.3,1.2c0.2,0.6,0.4,1.3,0.4,2.2c0,1.5-0.3,2.6-0.9,3.3c-0.6,0.7-1.6,1-2.9,1H130.4z M132.1,57.3h1.1
                c0.8,0,1.3-0.2,1.7-0.6s0.5-1,0.5-1.8s-0.2-1.3-0.5-1.7c-0.3-0.4-0.9-0.6-1.7-0.6h-1.1V57.3z M132.1,64.3h1.3
                c0.5,0,0.8-0.1,1.1-0.2c0.3-0.2,0.5-0.4,0.6-0.7c0.1-0.3,0.2-0.6,0.3-0.9s0.1-0.7,0.1-1.1c0-0.8-0.2-1.4-0.5-1.9
                c-0.3-0.4-0.9-0.7-1.7-0.7h-1.2V64.3z" />
              <path class="st4" d="M138.3,65.8l3.1-14.7h1.5l3.2,14.7h-1.6l-0.6-3.3h-3.3l-0.6,3.3H138.3z M140.8,60.9h2.7l-0.7-3.5l-0.7-3.4
                l-0.1,0l-0.7,3.4L140.8,60.9z" />
              <path class="st4" d="M147.5,65.8V51.1h1.7v6.5h3.4v-6.5h1.7v14.7h-1.7V59h-3.4v6.8H147.5z" />
              <path class="st4" d="M156.4,65.8V51.1h1.6v10.4l0.1,0l3.7-10.4h1.6v14.7h-1.6V55.4h-0.1L158,65.8H156.4z" />
              <path class="st4" d="M165.5,65.8V51.1h6.3v1.5h-4.6v5h4v1.5h-4v5.2h4.6v1.5H165.5z" />
            </g>
          </svg>
        </div>
        <div class="sec-text">
          Услуги по страхованию <br> предоставлены <br> ООО «ИНКОР Страхование»
        </div>
      </div>
      <div class="right">
        <div class="logo">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 45 26"
            version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-165.000000, -12.000000)" fill="#0971ce">
                <g transform="translate(165.000000, 12.000000)">
                  <g>
                    <path d="M17.9822999,14.0172253 L21.3322723,0 L28.6674466,0 L24.8560701,15.9459198 C24.1224248,19.0236511 21.8345765,19.7624088 19.7179972,19.7624088 L2.81348162,19.7624088 C0.951249717,19.7624088 -0.609344073,18.9712479 0.235498266,15.4180531 L1.75902636,9.05809025 C2.52845917,5.83081808 4.92750466,5.09206033 6.6619238,5.09206033 L18.464154,5.09206033 L17.5119489,9.06831527 L11.4868555,9.06831527 C10.6023912,9.06831527 10.1167027,9.26131253 9.87002406,10.2927615 L8.89609083,14.354651 C8.54971825,15.8117164 9.05969116,15.9114104 10.1243714,15.9114104 L15.6458826,15.9114104 C16.6568816,15.9114104 17.5451803,15.8487821 17.9822999,14.0172253 Z M37.8744387,5.0897597 L45,5.0897597 L41.5477774,19.7626645 L34.422216,19.7626645 L37.8744387,5.0897597 Z M29.1385644,5.0897597 L36.2641257,5.0897597 L32.9461065,18.8807564 C31.5618943,24.6604494 27.6955583,25.9973709 25.077953,25.9973709 L15.0817171,25.9973709 L16.2767664,21.0254545 C16.2767664,21.0254545 21.5937772,21.0510171 21.7829401,21.0280108 C23.684794,20.869523 25.5777009,19.9441586 26.2333804,17.1974624 L29.1385644,5.0897597 Z"
                      id="LOGO" />
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div class="sec-text">
          Устройства DJI - это не только инструменты для
          <br> творчества. DJI окрыляет мечтателей, даря им шанс
          <br> выйти за рамки возможного.
        </div>
      </div>
    </div>
  </div>
</div>
