.page-container {
    background: white;
    position: relative;

    h2.text.semibold.center.green {
        width: 500px;
        padding: 80px 0 30px;
        margin: 0 auto;
        color: #68b039;
    }

    .top-part {
        display: flex;
        margin-bottom: 50px;

        .content {
            text-align: center;
            width: 100%;
            font-size: 22px;

            .email {
                color: #4a6b90;
            }
        }
    }

    .bottom-part {
        padding: 212px 200px 100px;
        background: #f5f5f5;
        margin-top: -190px;
        border-top: 1px solid #ebebeb;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: initial;
        padding: 0;

        .page-container {
            padding: 0 20px;
            min-height: calc(100vh - 170px);
            margin-bottom: -60px;
            margin-top: 80px;
            background-image: linear-gradient(180deg, #fff 50%, #f5f5f5 50%);

            h2.text.semibold.center.green {
                width: initial;
                padding: 40px 0 30px;
                margin: 0 auto;
                color: #68b039;
                font-size: 22px;
            }

            .top-part {
                .content {
                    font-size: 18px;
                    padding: 0 20px;
                }
            }

            .bottom-part {
                display: none;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        max-width: initial;
        padding: 0;

        .page-container {
            margin: 30px;

            .top-part {
                .content {
                    font-size: 18px;
                    padding: 0 20px;
                }
            }

            .center-part {
                margin: 0 -30px;
                border-radius: 0;
                padding: 40px 60px;
            }
        }
    }
}

@media (min-width: 1200px) {}
