<div class="container">
  <div class="page-container">
    <app-copters></app-copters>
    <h2 class="text semibold center green">Оплата прошла успешно!</h2>
    <div class="top-part">
      <div class="content">Полис сформирован и отправлен на адрес:
        <span class="email">{{ email }}</span></div>
    </div>
    <app-payment-status></app-payment-status>
    <div class="bottom-part">
    </div>
  </div>
</div>
