<div class="transition-loader gm-busy-loader" [ngClass]="showClass" [@loaderAnimation]="busyState" (@loaderAnimation.done)="onBusyAnimationEnd()">
  <div class="transition-loader-inner">
    <label></label>
    <label></label>
    <label></label>
    <label></label>
    <label></label>
    <label></label>
  </div>
</div>
<div class="gm-busy-content" [ngClass]="showClass" [@loaderAnimation]="contentState" (@loaderAnimation.done)="onContentAnimationEnd()">
  <ng-content></ng-content>
</div>