:host {
    // display: table;
    height: 100%;
    width: 100%;
    position: relative;
}

.gm-busy-loader {
    display: table-cell;
    height: 100%;
    width: 100%;
    position: relative;
}

.gm-busy-loader.busy {
    padding: 100px 0;
    display: block;
}

.gm-busy-loader.content {
    display: none;
}

.gm-busy-content.content {
    display: block;
}

.gm-busy-content.busy {
    display: none;
}
