.image-uploader {
    height: 256px;
    width: 256px;
    border: 1px solid #eee;
    position: relative;
    cursor: pointer;
    input {
        display: none;
    }
    .image-block {
        position: absolute;
        height: 100%;
        width: 100%;
        .back {
            height: 175px;
            width: 175px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .photo {
            height: 100%;
            width: 100%;
            img {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
}

.image-uploader:hover {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.image-uploader:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f1f1f1;
}