<div class="image-uploader">
  <input #fileInput type="file" accept="image/*" (change)="fileChange($event)">
  <div class="image-block" (click)="fileInput.click()">
    <div class="back">
      <img src="./assets/img/circle.png">
    </div>
    <div class="photo">
      <img [src]="value" *ngIf="value">
    </div>
  </div>
</div>