<div class="ins-copter">
  <div class="image-block">
    <div class="back">
      <img src="./assets/img/circle.png">
    </div>
    <div class="photo">
      <img [src]="url" *ngIf="model.picturePath">
    </div>
  </div>
  <div class="model"> {{title}}</div>
  <div class="price"> </div>
  <div class="btnplc">
    <gm-button text="Отправить заявку" class="small border orange" (action)="openWindow()"></gm-button>
  </div>
</div>