.ins-copter {
    width: 256px;
    overflow: hidden;
    margin-bottom: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .image-block {
        position: relative;
        height: 256px;
        width: 256px;
        .back {
            height: 175px;
            width: 175px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .photo {
            height: 100%;
            width: 100%;
            img {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
    .model {
        text-align: center;
        font-size: 20px;
        margin: -20px 0 10px;
        height: 22px;
    }
    .price {
        text-align: center;
        font-family: "ProximaNovaBold";
        font-size: 22px;
        margin-bottom: 22px;
    }
    .btnplc {
        width: 180px;
    }
}
