<div class="changemodepart">
  <div #button class="selection-button" (click)="monthClick()" tabindex="1">
    <span class="caption">{{calendar.monthName}} {{calendar.year}}</span>
    <i class="fas fa-chevron-down dropdown"></i>
  </div>
</div>
<div class="weekdays">
  <div class="weekDay" *ngFor="let weekDay of calendar.weekDayLabels">{{weekDay}}</div>
</div>
<div class="weekdays" (click)="clickOnCalendar()">
  <gm-date-cell *ngFor="let day of calendar.days" [value]="day" [isCurrent]="day !=null ? isToday(day.date) : false" [disabled]="isDateDisabled(day)"
    [isFocused]="canFocusDate(day)" [isSelected]="compareSelected(day)" (ngOnSelect)="selectDate($event)"></gm-date-cell>
</div>