<div class="gm-date-picker gm-field" [ngClass]="(focused?'focused ':'')+(hasError?'hasError ':'') + splash">
  <div class="label">{{label}}</div>
  <div class="hint" [ngClass]="value ? 'notempty' : ''" *ngIf="!hasError">{{placeholder}}</div>
  <div class="hint" [ngClass]="value ? 'notempty' : ''" *ngIf="hasError">{{error}}</div>
  <div class="mask" *ngIf="(stringValue == maskFormatter.mask && !focused) || focused">
    <span class="transp">{{stringValue}}</span>
    <span>{{remainigMask}}</span>
  </div>
  <input #input [tabindex]="_disabled?-1:tabInd" (focus)="focused=true" (blur)="focused=false" [ngModel]="stringValue"
    (ngModelChange)="setStringValue($event)" (select)="maskFormatter.getSelection()">
  <i [tabindex]="_disabled?-1:tabInd" class="far fa-calendar-alt iconButton" (click)="openCalendar()" (focus)="buttonFocused=true"
    (blur)="buttonFocused=false"></i>
</div>