@import "../Styles/gm-styles.scss";
.cell {
    font-size: 14px;
    text-align: center;
    color: #1c1c1c;
    cursor: pointer;
    float: left;
    margin: 2px 5px 3px;
    box-sizing: border-box;
    height: 25px;
    line-height: 25px;
    border-radius: $borderradius;
    padding: 0 2px;
}

.cell.current {
    border: 1px solid #ddd;
    line-height: 23px;
}

.cell.date {
    width: 25px;
}

.cell.number {
    width: 39px;
}

.cell.month {
    margin: 2px 1px 3px;
    text-transform: uppercase;
    width: 79px;
    box-sizing: border-box;
}

.cell:hover {
    background: #efefef;
}

.cell.selected {
    background: $accentcolor !important;
    color: white;
}

.cell.selected:hover {
    background: #b63d2a;
}

.cell.disabled {
    color: #999999;
}

.cell.empty:hover,
.cell.disabled:hover {
    background: none;
}

.cell:focus,
.cell.focused {
    background: #efefef;
}

.cell.selected:focus,
.cell.selected.focused {
    background: red;
}