<div class="gm-text-field gm-field" [ngClass]="(focused?'focused ':'')+(hasError?'hasError ':'') + splash" (click)="onControlClick()">
    <div class="label">{{label}}</div>
    <div class="hint" [ngClass]="value ? 'notempty' : ''" *ngIf="!hasError">{{placeholder}}</div>
    <div class="hint" [ngClass]="value ? 'notempty' : ''" *ngIf="hasError">{{error}}</div>
    <input #input [type]="type" [tabindex]="disabled?-1:tabInd" (focus)="focused=true" (blur)="focused=false" [ngModel]="value"
        (ngModelChange)="writeValue($event)" (select)="maskFormatter.getSelection()" [disabled]="disabled">
</div>