@import "../../../Styles/gm-styles.scss";
:host {
    float: left;
    position: relative;
    overflow: hidden;
    display: block;
    width: 295px;
    padding: 0 25px;
}

.changemodepart {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .selection-button {
        color: $accentcolor;
        padding: 10px;
        border-radius: $borderradius;
        margin-bottom: 7px;
        cursor: pointer;
        .dropdown {
            margin-left: 9px;
            font-size: 11px;
        }
    }
    .selection-button:hover {
        background: $inputfieldbackground;
    }
    .selection-button:focus {
        background: $inputfieldbackground;
    }
}

.weekdays {
    margin: 0 0 2px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    .weekDay {
        height: 25px;
        width: 25px;
        font-size: 14px;
        text-align: center;
        line-height: 25px;
        color: $accentcolor;
        cursor: pointer;
        float: left;
        margin: 3px 5px;
        font-weight: 500;
    }
}