@import "../../GodModeControls/Styles/gm-styles.scss";
.gm-checkbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 16px;

    .box {
        border: 1px solid $checkboxborder;
        height: 20px;
        width: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        flex-grow: 0;
        flex-shrink: 0;

        i {
            opacity: 0;
            color: white;
            font-size: 12px;
        }
    }

    .box.splash {
        animation: splash-control-animation 300ms linear;
        animation-direction: alternate;
        animation-iteration-count: 2;
    }

    .caption {
        color: #000;
        line-height: 20px;
        font-family: $fontRegular;
        font-size: 14px;
    }
}

.gm-checkbox.checked {
    .box {
        i {
            opacity: 1;
            color: black;
        }
    }
}

@media (max-width: 767px) {
    .gm-checkbox {
        width: 100%;

        .caption {
            br {
                display: none;
            }
        }
    }
}
