<div class="gm-checkbox" [tabindex]="_disabled?-1:tabInd" (click)="checkOrUncheck()" (focus)="onFocus()" (blur)="onBlur()"
  [ngClass]="(value?'checked ':'') + (focused?'focused':'')">
  <div class="box" [ngClass]="splash">
    <i class="fas fa-check icon"></i>
  </div>
  <div class="caption">
    Я прочитал(а) <a class="blue" href="/assets/docs/Политика конфиденциальности.docx">политику конфиденциальности</a><br> и соглашаюсь с ее положениями.
  </div>
</div>