.page-container {
    background: white;
    position: relative;

    h2.text.semibold.center {
        width: 500px;
        padding: 55px 0 40px;
        margin: 0 auto;
    }

    .abstract {
        width: 700px;
        padding: 40px 0 50px;
        margin: 0 auto;
    }

    .shadow-block {
        .row {
            padding: 40px 0;

            .horizontal-divider {
                display: none;
            }

            .title {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .text.blue {
                    font-size: 18px;
                    margin-bottom: 12px;
                }
            }
        }

        .row.price {
            padding: 30px 130px 45px;
            align-items: center;

            img {
                height: 120px;
                margin: 0 40px;
            }

            .text {
                font-size: 18px;
                line-height: 25px;
                width: 400px;
            }
        }
    }

    .ccont {
        display: block;
        width: 100%;
        padding: 265px 135px 220px;
        background: #f5f5f5;
        margin-top: -197px;
        z-index: 1;
        position: relative;
        height: auto;

        .copters-part {
            h3.text.semibold.center {
                padding: 0 0 55px;
            }

            .copt-cont {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;

                .item {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    max-width: 33.33%;

                    &:nth-child(3n+2) {
                        .cross {
                            display: none;
                        }
                    }

                    &:last-child {
                        .cross:last-of-type {
                            display: block;
                        }
                    }

                    &:last-child:not(.bottompart) {
                        .cross:last-of-type {
                            display: block;
                        }
                    }

                    .cross {
                        height: 33px;
                        width: 33px;
                        position: relative;
                        flex-shrink: 0;
                    }

                    .cross:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 16px;
                        height: 100%;
                        width: 1px;
                        background: #d1d1d1;
                    }

                    .cross:after {
                        content: "";
                        position: absolute;
                        top: 16px;
                        left: 0;
                        height: 1px;
                        width: 100%;
                        background: #d1d1d1;
                    }
                }

                .bottompart {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    .itemplaceholder {
                        width: 256px;
                    }
                }
            }
        }
    }

    .shadow-block.blue {
        margin-top: -155px;
        background: #274b8c;
        border: none;
        color: white;
        padding: 0 40px;

        .row {
            padding: 0;
            justify-content: space-between;

            .text.yellow {
                padding: 45px 0 37px;
            }

            .text.white.small {
                width: 320px;
                margin-bottom: 73px;
            }
        }
    }

    .about-block {
        padding: 80px 200px 45px;

        .text.semibold.center {
            margin-bottom: 3px;
        }

        .row {
            justify-content: space-between;

            .info-block {
                padding: 46px 0;
                width: 370px;

                .title {
                    padding-bottom: 30px;
                }

                .check-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 15px;

                    i {
                        font-size: 20px;
                        color: #7fc342;
                        margin-right: 18px;
                    }
                }
            }

            img {
                height: 302px;
                width: 302px;
            }
        }
    }

    .bottom-block {
        padding: 50px 110px 70px;
        background: #274b8c;
        position: relative;
        overflow: hidden;

        h3 {
            margin-bottom: 35px;
        }

        .dots {
            position: absolute;
            height: 200%;
            width: 100%;
            top: -50%;
            left: 0;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .row {
            justify-content: space-between;

            .accident {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                .img {
                    margin-bottom: 28px;
                    height: 174px;
                    width: 100%;
                    position: relative;

                    img {
                        position: absolute;
                        bottom: 0;
                        margin: auto;
                        left: 0;
                        right: 0;
                    }
                }
            }

            .sep {
                height: 235px;
                width: 1px;
                background: #b0cfec;
                opacity: .15;
                border: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: initial;
        padding: 0;

        .page-container {
            padding: 0 20px;
            margin-top: 80px;
            margin-bottom: -60px;

            h2.text.semibold.center {
                width: initial;
                font-size: 22px;
                padding: 30px 0;
            }

            .abstract {
                width: initial;

                br {
                    display: none;
                }
            }

            .shadow-block {
                margin: 0 -20px;
                border-radius: 0;

                .row {
                    flex-direction: column;

                    .title {
                        width: 100%;
                        padding: 0 20px;
                        align-items: flex-start;

                        .text {}
                    }

                    .horizontal-divider {
                        display: block;
                        margin: 20px 0;
                    }

                    &.price {
                        flex-direction: row;
                        padding: 20px;
                    }
                }
            }

            .ccont {
                padding: 265px 20px 60px;
                width: calc(100% + 40px);
                margin-left: -20px;

                .copters-part {
                    .copt-cont {
                        .item {
                            max-width: 50%;
                            flex: 1;
                            justify-content: center;

                            .cross {
                                display: none;
                            }
                        }
                    }
                }
            }

            .shadow-block.blue {
                .row {
                    > * {
                        flex: 1;
                    }

                    .text {
                        width: initial;
                    }
                }
            }

            .about-block {
                padding: 20px;
            }

            .bottom-block {
                margin: 0 -20px;
                padding: 20px;

                .row {
                    flex-direction: column;

                    .accident {
                        border-bottom: 1px solid #3b5f9a;
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        flex-direction: row;

                        .img {
                            flex: 1;
                            margin-bottom: 0;
                        }

                        .text {
                            flex: 1;
                        }

                        &:last-of-type {
                            border-bottom: 0;
                        }
                    }

                    .sep {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .container {
        .page-container {
            .ccont {
                display: block;
                padding: 265px 0 20px;

                .copters-part {
                    h3.text.semibold.center {
                        font-size: 22px;
                        padding: 0 20px;
                    }

                    .copt-cont {
                        .item {
                            width: 100%;
                            min-width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        max-width: initial;
        padding: 0;

        .page-container {
            margin: 30px;

            .shadow-block {
                margin: 0 -30px;
                border-radius: 0;
            }

            .ccont {
                padding: 265px 0 220px;

                .copters-part {
                    .copt-cont {
                        .item {
                            min-width: 50%;
                            max-width: 50%;
                            flex: 1;
                            justify-content: center;

                            &:nth-child(2n+1) {
                                padding-left: 33px;

                                .cross:last-of-type {
                                    right: -33px;
                                }
                            }

                            &:nth-child(2n) {
                                .cross:first-child {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .shadow-block.blue {
                .row {
                    > * {
                        flex: 1;
                    }

                    .text {
                        width: initial;
                    }
                }
            }

            .about-block {
                padding: 60px;
            }

            .bottom-block {
                padding: 20px;
            }
        }
    }
}

@media (min-width: 1200px) {
}
