<div class="container">
  <div class="page-container">
    <app-copters></app-copters>
    <h2 class="text semibold center"> Страхование коптеров
      <br>от повреждений</h2>
    <div class="horizontal-divider"></div>
    <div class="abstract text center">Страховой полис обеспечивает бесплатный ремонт <br>в официальном сервисном центре
    </div>
    <div class="shadow-block">
      <div class="row">
        <div class="title">
          <div class="text blue semibold">Объект страхования</div>
          <div class="text">Квадрокоптеры, подвесное оборудование</div>
        </div>
        <div class="horizontal-divider"></div>
        <div class="title">
          <div class="text blue semibold">Страховые риски</div>
          <div class="text">Ущерб, гибель</div>
        </div>
      </div>
      <div class="horizontal-divider"></div>
      <div class="row price">
        <img src="assets/img/ins_img0.png">
        <div class="text">Если стоимость ремонта превысит 70% стоимости коптера - Вы получите аналогичный коптер взамен
          разбитого.</div>
      </div>
    </div>
    <div class="ccont">
      <gm-loader [busy]="!cpdService.insBrands.isLoaded">
        <div class="copters-part">
          <h3 class="text semibold center">Выберите модель коптера для страхования</h3>
          <div class="copt-cont">
            <div class="item" *ngFor="let copt of cpdService.insBrands.models; let i = index">
              <div class="cross"> </div>
              <app-ins-copter [model]="copt"></app-ins-copter>
              <div class="cross"> </div>
            </div>
            <div class="bottompart">
              <div class="item" *ngFor="let crs of addedCrosses; let i = index">
                <div class="cross"> </div>
                <div class="itemplaceholder"></div>
                <div class="cross"> </div>
              </div>
            </div>
          </div>
        </div>
      </gm-loader>
    </div>
    <div class="shadow-block blue">
      <div class="row">
        <h3 class="text center semibold yellow"> При страховом случае </h3>
      </div>
      <div class="row">
        <app-point-item number="1">
          <div class="text white small blc">
            Вы просто сообщаете о нем в страховую
            <br> компанию по телефону
            <span class="text small semibold">+7 (495) 181-52-12</span>
            <br>или
            <span class="text small semibold">+7 (968) 921-88-22</span> или на электронную
            <br> почту:
            <a class="aqua" href="mailto:quadroservice@incoris.ru">quadroservice@incoris.ru</a>
          </div>
        </app-point-item>
        <app-point-item number="2">
          <div class="text white small">
            Менеджер страховой компании подбирает
            <br> ближайший сервисный центр. Вы сдаете
            <br> коптер в ремонт.
            <span class="text small semibold">Визита в страховую компанию не требуется.</span>
          </div>
        </app-point-item>
      </div>
    </div>
    <div class="about-block">
      <h3 class="text semibold center"> В каких случаях можно воспользоваться
        <br>
        <span class="heading3 semibold orange">гарантией</span>
      </h3>
      <div class="row">
        <div class="info-block">
          <div class="text title">Только если будут обнаружены внутренние
            <br> дефекты по вине производителя</div>
          <div class="check-item">
            <i class="far fa-check-circle"></i>
            <div class="text small semibold">Потеря связи</div>
          </div>
          <div class="check-item">
            <i class="far fa-check-circle"></i>
            <div class="text small semibold">Неисправность управления</div>
          </div>
          <div class="check-item">
            <i class="far fa-check-circle"></i>
            <div class="text small semibold">Неисправность двигателя</div>
          </div>
        </div>
        <img src="assets/img/ins_error.png">
      </div>
    </div>
    <div class="bottom-block">
      <div class="dots">
        <app-dots></app-dots>
      </div>
      <h3 class="text semibold center white"> В каких случаях можно воспользоваться
        <br>
        <span class="heading3 semibold yellow">страховкой</span>
      </h3>
      <div class="row">
        <div class="accident">
          <div class="img">
            <img src="assets/img/ins_img1.png">
          </div>
          <div class="text small semibold center white">Ошибка пилотирования</div>
        </div>
        <div class="sep"></div>
        <div class="accident">
          <div class="img">
            <img src="assets/img/ins_img2.png">
          </div>
          <div class="text small semibold center white">Противоправные действия
            <br> третьих лиц</div>
        </div>
        <div class="sep"></div>
        <div class="accident">
          <div class="img">
            <img src="assets/img/ins_img3.png">
          </div>
          <div class="text small semibold center white">Досадные случайности</div>
        </div>
      </div>
    </div>
  </div>
</div>
