/* You can add global styles to this file, and also import other style files */

$background: #24498b;
$divider-color: #ebebeb;
$primary-color: #f26522;
$hover-color:#f2381a;
$yellow-color:#feb71f;
$aqua-color:#42e8e0;
@font-face {
    font-family: "ProximaNovaLight";
    src: url("/assets/fonts/Proxima Nova Light.otf") format("opentype");
}

@font-face {
    font-family: "ProximaNovaRegular";
    src: url("/assets/fonts/Proxima Nova Regular.otf") format("opentype");
}

@font-face {
    font-family: "ProximaNovaSemibold";
    src: url("/assets/fonts/Proxima Nova Semibold.otf") format("opentype");
}

@font-face {
    font-family: "ProximaNovaBold";
    src: url("/assets/fonts/Proxima Nova Bold.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
    text-align: left;
    vertical-align: baseline;
}

a img,
:link img,
:visited img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
}

body {
    font-family: "ProximaNovaRegular";
}

.background {
    opacity: 1;
}

.container {
    width: 1720px;
    margin: 0 auto;
}

.page-container {
    margin: 0 auto;
}

.horizontal-divider {
    height: 1px;
    width: 100%;
    background: $divider-color;
}

.shadow-block {
    margin: 0 140px;
    z-index: 2;
    box-shadow: 8px 13px 43px 0px rgba(0, 0, 0, 0.31);
    border: 1px solid #ebebeb;
    border-radius: 7px;
    position: relative;
    background: white;
}

.row {
    display: flex;
    flex-direction: row;
    position: relative;
}

.text {
    font-family: "ProximaNovaRegular";
    font-size: 18px;
    line-height: 25px;
}

.text.center {
    text-align: center;
}

.text.small {
    font-size: 16px;
}

.text.semibold {
    font-family: "ProximaNovaSemibold"
}

.text.bold {
    font-family: "ProximaNovaBold"
}

.text.blue,
.link {
    color: $background;
}

.text.white {
    color: white;
}

.text.yellow,
.heading3.yellow {
    color: $yellow-color;
}

.text.orange,
.heading3.orange {
    color: $primary-color;
}

.link:hover {
    color: $hover-color
}

.text.active,
.link:active {
    color: $primary-color;
}

h1,
h2,
h3 {
    width: 100%;
    text-align: center;
}

h1.text {
    font-size: 52px;
    line-height: 52px;
}

h2.text {
    font-size: 40px;
    line-height: 38px;
}

h3.text,
.heading3 {
    font-size: 26px;
    line-height: 36px;
    font-family: "ProximaNovaSemibold"
}

a.aqua,
a.aqua:visited,
a.aqua:active {
    color: $aqua-color;
}

a.blue,
a.blue:visited,
a.blue:active {
    color: $background;
}

a:hover,
a.blue:hover {
    color: $primary-color;
}

@import "./grid.scss";
