<div class="model-block">
  <div class="row">
    <div class="field">
      <gm-drop-list
        placeholder="Марка квадрокоптера *"
        [valueList]="brandList"
        [(ngModel)]="selectedBrand"
      ></gm-drop-list>
    </div>
    <div class="field">
      <gm-text-field
        label="Модель *"
        placeholder="Модель"
        [errors]="serialNumberErrors"
        [formControl]="formGroup.controls.modelControl"
      ></gm-text-field>
    </div>
    <div class="field">
      <gm-drop-list
        placeholder="Год производства *"
        [valueList]="yearList"
        [(ngModel)]="year"
      ></gm-drop-list>
    </div>
  </div>
  <div class="row">
    <div class="field">
      <app-serial-number-textfield
        #snControl label="Укажте серийный номер *"
        placeholder="Серийный номер"
        [errors]="serialNumberErrors"
        [formControl]="formGroup.controls.serialNumberControl"
      ></app-serial-number-textfield>
    </div>
  </div>
</div>
