<div class="gm-drop-list gm-field" [tabindex]="_disabled?-1:tabInd" (focus)="onFocus()" (click)="onFocus()">
  <div class="label">{{placeholder}}</div>
  <div class="valuepart">
    <div class="value">{{ value != null?value.text:''}}</div>
  </div>
  <i class="fas fa-angle-down icon"></i>
</div>