<div class="dropListWindow z-depth-2">
    <div #option class="droplistitem" *ngFor="let value of values" [ngClass]="window.closeResult == value? 'selected': ''" (click)="selectOption(value)">
        {{value.text}}
    </div>
</div>