@import "../Styles/gm-styles.scss";
.dropListWindow {
    background: white;
    border-radius: $borderradius;
    overflow: hidden;
}

.droplistitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
    border-bottom: 1px solid $divider;
    padding-left: 15px;
    cursor: pointer;
}

.droplistitem.selected {
    background: $inputfieldbackground;
}

.droplistitem:hover {
    background: $inputfieldbackgroundhover;
}

.droplistitem:first-child {
    border-top-color: #fff;
}

.droplistitem:last-child {
    border-bottom: none;
}