<footer>
    <div class="row">
        <div class="phonepart">
            <div class="phone text bold">+7(495) 181-52-12</div>
            <div class="address">
                Москва, ул. Таганская, 17-23 <a href="mailto:info@quadropolis.ru">info@quadropolis.ru</a>
            </div>
        </div>
        <img class="credit-cards" src="assets/img/ps-bc.png">
        <div class="licpart">
            Лицензия банка России Сл № 3535
            <br class="licpart-splitter">услуги предоставлены ООО «ИНКОР Страхование»
        </div>
    </div>
</footer>
