footer {
    height: 90px;
    margin: 90px 0 0;
    padding: 0 30px;
    position: relative;
    z-index: 3;
    display: flex;

    .row {
        width: 100%;
        height: 50px;
        justify-content: space-around;
        color: white;
        align-items: center;

        .phonepart,
        .licpart {
            width: 380px;
        }

        .phonepart {
            .phone {
                font-size: 22px;
                margin-bottom: 10px;
            }

            .address {
                font-size: 14px;
                line-height: 18px;

                a,
                a:visited {
                    color: #9de4ff;
                    margin-left: 5px;
                    text-decoration: none;
                }

                a:hover {
                    color: #feb71f;
                    text-decoration: underline;
                }
            }
        }

        .licpart {
            text-align: right;
            font-size: 14px;
            line-height: 18px;
        }
    }
}

@media (max-width: 767px) {
    footer {
        align-items: center;
        background-color: #133768;
        margin-top: 60px;

        .row {
            margin-right: 0;
            margin-left: 0;

            .phonepart {
                display: none;
            }

            .credit-cards {
                display: none;
            }

            .licpart {
                text-align: left;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1249px) {
    footer {
        height: 110px;
        margin: 65px 0 0;

        .row {
            height: initial;
            flex-direction: column;
            flex-wrap: nowrap;

            .phonepart {
                display: none;
            }

            .licpart {
                width: 100%;
                text-align: center;
                padding-top: 25px;
                padding-bottom: 25px;

                .licpart-splitter {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 1250px) {
}
