<div class="center-part">
  <div class="left">
    <div *ngIf="!type" class="title">Если это не Ваш адрес, пожалуйста, свяжитесь с нами по телефону:</div>
    <div *ngIf="type" class="title">Если с вашего счёта списаны средства в оплату полиса, свяжитесь с нами по телефону:</div>
    <div class="links">
      <div class="phone">+7 (968) 921-88-22</div>
      <div class="email-link">
        либо по электронной почте:
        <br><a href="mailto:quadrosale@incoris.ru">quadrosale@incoris.ru</a></div>
    </div>
    <div class="button-wrapper">
      <gm-button *ngIf="!type" #shakeBtn text="На главную" (action)="redirectToHome()"></gm-button>
      <gm-button *ngIf="type" #shakeBtn text="Вернуться назад" (action)="redirectToOrder()"></gm-button>
    </div>
  </div>
  <div class="right">
    <div class="image-wrapper">
      <img *ngIf="!type" src="../../../assets/img/payment-copter.png" alt="">
      <img *ngIf="type" src="../../../assets/img/payment-copter-error.png" alt="">
      <div class="round" [ngClass]="type ? 'error' : ''">
        <svg *ngIf="!type" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78.369 78.369">
          <g>
            <path d="M78.049,19.015L29.458,67.606c-0.428,0.428-1.121,0.428-1.548,0L0.32,40.015c-0.427-0.426-0.427-1.119,0-1.547l6.704-6.704   c0.428-0.427,1.121-0.427,1.548,0l20.113,20.112l41.113-41.113c0.429-0.427,1.12-0.427,1.548,0l6.703,6.704   C78.477,17.894,78.477,18.586,78.049,19.015z"
              fill="#68b039" />
          </g>
        </svg>
        <svg *ngIf="type" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95.939 95.939">
          <path d="M62.819,47.97l32.533-32.534c0.781-0.781,0.781-2.047,0-2.828L83.333,0.586C82.958,0.211,82.448,0,81.919,0   c-0.53,0-1.039,0.211-1.414,0.586L47.97,33.121L15.435,0.586c-0.75-0.75-2.078-0.75-2.828,0L0.587,12.608   c-0.781,0.781-0.781,2.047,0,2.828L33.121,47.97L0.587,80.504c-0.781,0.781-0.781,2.047,0,2.828l12.02,12.021   c0.375,0.375,0.884,0.586,1.414,0.586c0.53,0,1.039-0.211,1.414-0.586L47.97,62.818l32.535,32.535   c0.375,0.375,0.884,0.586,1.414,0.586c0.529,0,1.039-0.211,1.414-0.586l12.02-12.021c0.781-0.781,0.781-2.048,0-2.828L62.819,47.97   z" fill="#bf1c2e"/>
        </svg>
      </div>
    </div>
  </div>
</div>
