.center-part {
    margin: 0 140px;
    z-index: 2;
    box-shadow: 8px 13px 43px 0px rgba(0, 0, 0, 0.31);
    border: 1px solid #ebebeb;
    border-radius: 7px;
    position: relative;
    background: white;
    padding: 40px 60px 40px 100px;
    display: flex;

    .left,
    .right {
        flex: 1;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .phone {
            font-family: "ProximaNovaSemibold";
            font-size: 30px;
            padding: 30px 0;
        }

        .email-link {
            a {
                color: #24498b;
            }
        }

        .button-wrapper {
            padding-top: 30px;
            max-width: 240px;
        }
    }

    .right {
        display: flex;
        justify-content: center;
        margin-left: 50px;

        .image-wrapper {
            position: relative;
            width: 290px;
            height: 290px;
            background-image: url("../../../assets/img/payment-copter-background.png");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            img {
                position: absolute;
                height: calc(100% + 40px);
                left: 50%;
                transform: translateX(-50%);
            }

            .round {
                position: absolute;
                width: 110px;
                height: 110px;
                padding: 30px;
                background-color: #fff;
                border-radius: 50%;
                border: 2px solid #68b039;
                left: 10px;
                bottom: 20px;
                transform: translateX(-50%);

                &.error {
                    border: 2px solid #bf1c2e;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .center-part {
        flex-direction: column;
        margin: 0 -20px;
        border-radius: 0;
        padding: 30px;

        .left {
            margin-bottom: 20px;
        }

        .right {
            margin: 0;

            .image-wrapper {
                width: 250px;
                height: 250px;
    
                img {
                    height: calc(100% + 30px) !important;
                }

                .round {
                    width: 80px;
                    height: 80px;
                    padding: 15px;
                }
            }
        }

        .button-wrapper {
            display: none;
        }
    }
}

@media (max-width: 500px) {
    .center-part {
        .right {
            .image-wrapper {
                width: 200px;
                height: 200px;

                .round {
                    width: 60px;
                    height: 60px;
                    padding: 15px;
                }
            }
        }

        .button-wrapper {
            display: none;
        }
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .center-part {
        margin: 0 -30px;
        border-radius: 0;
        padding: 40px 60px;
    }
}

@media (min-width: 1200px) {}
